#callSummary {
	float:right;
	padding:7px;
	background:#eee;
	border:1px solid rgba(0,0,0,0.3);
	margin-bottom:20px;
}

.narrow #callSummary{
	clear:both;
	float:left;
}

#callSummary table{
	border-collapse:separate;
}

#callSummary td{
	padding:3px;	
}

#callSummary {
	margin-left:3px;
}

#callSummary .border-top td{
	border-top:1px solid #ccc;
}