#callSummary {
	float:right;
	padding:7px;
	background:#eee;
	border:1px solid rgba(0,0,0,0.3);
	margin-bottom:20px;
}
#callSummary table{
	border-collapse:separate;
}

#callSummary td{
	padding:3px;	
}

#callSummary {
	margin-left:3px;
}