/*общи функции и параметри*/
$blue:#048;
$dark-blue:#036;
$red:#c00;
$quiet-gray:#888;
$open-thread:#e0ffe0;

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
  	-ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius4($tl,  $tr, $br,  $bl) {
    -moz-border-radius: $tl $tr  $br $bl;
    -webkit-border-radius: $tl  $tr  $br $bl;
    border-radius: $tl $tr  $br $bl;
}

@mixin rounded($vert, $horz, $rad) {
   border-#{$vert}-#{$horz}-radius: $rad;
   -moz-border-radius-#{$vert}#{$horz}: $rad;
   -webkit-border-#{$vert}-#{$horz}: $rad;
}

@mixin btn-style() {
	padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
	height:24px;
	font-size: 13px;
}

@mixin shadow($sh-top, $sh-left, $sh-dist, $sh-col){
	-moz-box-shadow:$sh-top $sh-left $sh-dist $sh-col;
	-webkit-box-shadow: $sh-top $sh-left $sh-dist $sh-col;
	box-shadow:$sh-top $sh-left $sh-dist $sh-col;
}

@mixin shadow4($sh-top, $sh-left, $sh-dist, $sh-blur, $sh-col){
	-moz-box-shadow:$sh-top $sh-left $sh-dist $sh-blur $sh-col;
	-webkit-box-shadow: $sh-top $sh-left $sh-dist $sh-blur $sh-col;
	box-shadow:$sh-top $sh-left $sh-dist $sh-blur $sh-col;
}

@mixin no-shadow(){
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
 

body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #ddd;
	font-family:Helvetica,Arial,Verdana,Sans-serif;
	font-size:16px; 
}

body.narrow{
	font-size:18px;
}

a img {
	border: none;
}

legend img {
	vertical-align: middle;
}

.wide h2{
	margin-top:0px;
}

select{
	background: #fff;
	padding-left:0;
}

.narrow select.tab-control{
	background-color: rgb(221, 221, 221);
}

/* Общи стилове за елементите */

a {
  &:hover {
  color: #f90;
  }
  &.out {
    color: #0066ff;
    &:visited {
      color: #6600cc;
    }
  }
  &:link, &:visited {
    text-decoration: none;
    color: $blue;
  }
}

.narrow a:hover {
  color: $red;
}

.wide .listTitle{
	padding:0 1px;
}

.narrow .ListTitle {  
	font-size:1.2em;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

.narrow .ListToolbar, .narrow .SingleToolbar { 
	margin-top: 10px;
}

#framecontentTop,#framecontentBottom,#framecontentTop.a,#framecontentBottom.a{
	display:block;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: #ddd;
	color: $blue;
}

#framecontentTop {
	width:100%;
	padding: 0px;
}

#framecontentBottom {
	border-top: solid 2px $blue;
	padding-left:3px;
}

.narrow #framecontentBottom {
	padding:2px 5px 0 5px;
}

#subMenu {
	padding: 5px;
	background-color: #eee;
}

.wide #subMenu{
	padding-top:1px;
}

.narrow #submenu{
	padding-top:5px;
}

#mainMenu {
	background-color: #ddd;
	padding: 5px;
	border-bottom: solid 2px $blue;
}

.wide #mainMenu{
	min-height:70px; 
}

#maincontent {
	background-color: #eee;
}

.wide #maincontent{
	position: relative;
	padding:7px;
	min-height:600px;
}

.narrow #maincontent{
	padding:5px;
}

#navBar {
	position: relative;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #033;
	display: block;
}

.menuRow {
	color: #997;
	font-family: Arial;
	padding: 1px;
	text-decoration: none;
	font-weight: bold;
}

#mainMenu a  { /*nav при wide*/
	padding:1px; 
	text-decoration:none; 
	font-weight:bold; 
	font-family:arial; 
	border:solid 1px transparent;
}

.menuPage a { /*nav при narrow*/
	margin: 2px;
	display:block;
 	border:solid 1px transparent;
}

.menuRow a:link, .menuRow a:visited {
	color: $blue;
	text-decoration: none;
}

.narrow .menuRow a:link, .narrow .menuRow a:visited{
	border:solid 1px transparent;
}

.menuRow a:hover, .menuRow a:focus {
	color: white;
	background-color: #f90;
}

.wide #subMenu a  {
	padding:2px;
	padding-left:3px;
	padding-right:3px;
	font-family:arial; 
	border:solid 2px transparent;
}

#subMenu a.selected:hover  { 
    color:#f90;
} 

a.menuItem:hover, a.menuItem:active, a.menuItem:focus  {
	color:white;
	background-color:#f90;
}

 #mainMenu a.selected, .wide #mainMenu a.selected:visited, .wide #mainMenu a.selected:link { 
	color:white; 
	background-color:$blue;
}

.wide #mainMenu a.selected:hover {
	color:#f90;
}

.menuRow a:hover, .menuRow a:focus { 
	color:white;
	background-color:#f90;
}

.wide #subMenu a.selected, .wide #subMenu a.selected:visited, .wide #subMenu a.selected:link { 
	border:solid 2px $blue;
	background-color:#ddd;
	border-top:2px solid transparent;
	padding-left:5px;
	padding-right:5px;
	font-weight:bold;
	@include border-radius4(2px, 2px, 5px, 5px);
}

.narrow a.selected { 
	color:white !important; 
	background-color:$blue;
	@include border-radius(2px);
}

.stateIndicator {
	height: 0.6em;
	width: 0.6em;
	border: solid 1px #999;
	@include border-radius(0.3em);
}

.wide table.top-table td{
	border: none;
	vertical-align: top;
}

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {
	font-family: arial;
	display: inline;
	margin: 1px -16px -1px 18px;
	float: left;
	padding: 4px 5px 4px 5px;
	background: #ddd;
	border: 1px solid #bbb;
	border-bottom: none;
	z-index: 1;
	white-space: nowrap;
	position: relative;
	@include border-radius4(5px, 5px, 0px, 0px);
	border-top: 2px solid $blue;
	&.selected {
		background: #ffffff;
		border: 1px solid #bbb;
		border-top: 2px solid $blue;
		border-bottom: none;
		z-index: 3;
		padding: 5px 5px 4px 5px;
		margin: 1px -16px -3px 18px;
		top: 0px;
		font-weight: bold;
	}
}
.narrow div.tab-control div.tab-row .tab:first-child{
	margin-left:10px;
}
.narrow div.tab-control.alphabet div.tab-row .tab:first-child{
	margin-left:2px;
}
	
div.tab-control div.tab-page {
	clear: both;
	border: 1px solid #bbb;
	background: #ffffff;
	position: relative;
	top: 1px;
	padding: 1em;
	@include border-radius(5px);
	z-index: 2;
}
.narrow div.tab-control div.tab-page {
	padding:0.5em;
}

.narrow div.alphabet{
	margin-left:-2px;
	padding-bottom:0;
}

.narrow div.tab-control.alphabet div.tab-page {
	padding:0.1em;
}

.alphabet{
	padding-bottom:5px;
}
.wide .pages{
	clear:both;
	margin:10px 2px 10px 2px;
}
.narrow .pages{
	clear:both;
	margin:0px 2px 15px 2px;
}
.narrow .portal .pages{
	clear:both;
	margin:13px 0 8px;
}
.doc_Folders .pages, .core_Packs .pages ,.acc_Items .pages, .core_Lg .pages, 
.cal_Calendar .pages ,.cal_Holidays .pages, .core_Logs .pages{
	margin-top:0;
	margin-bottom:15px;
}
div.alphabet div.tab-row .tab {
	background: #ddd;
	font-size: 8pt;
	padding: 5px;
	border: 1px solid #aaa;
	margin: 2px;
	@include border-radius(5px);
	display: table;
	float: left;
	margin-bottom: 10px;
	&:hover {
		margin-top: -1px;
		margin-bottom: 13px;
		background-color: #ffffcc !important;
	}
	&:hover a {
		color: red !important;
	}
	&.selected {
		background: #ffffcc;
		border: 1px solid #aaa;
		top: 0px;
		margin: 2px;
		padding: 5px;
		margin-top: -1px;
		margin-bottom: 13px;
		@include shadow4(0px,0px,3px,1px,#ccc);
	}
}

div.alphabet div.tab-page {
	border: none;
	background: transparent;
	margin: 0px;
	padding: 0px;
}

.narrow div.alphabet  div.tab-row {
	width: 330px;
}

div.crmImage {
	padding:10px 0px 8px 8px;
	float:right;
}


.narrow div.crmImage {
	padding:10px  8px  8px 0px;
	float:left;
}

.quiet {
	color: $quiet-gray;
}

.quiet td {
	border-top-width: 0; 
	border-bottom: none; 
}

.red {
	color: #800;
}

.green {
	color: #080;
}

.future {
	background-color: #9ec;
}

.current {
	font-weight: bold; 
	td {
		border-bottom: none; 
	}
}
.pricegroup td { 
	border-top-width: 1px; 
}

div.crm_Companies div.tab-row .tab.selected, div.crm_Companies  div.tab-page{
	background: #f0f8ff;
}

div.crm_Persons  div.tab-page, div.crm_Persons div.tab-row .tab.selected{
	background: #f0fff0;
}

div.crm_Groups div.tab-row .tab.selected, div.crm_Groups  div.tab-page {
	background: #ffffe8;
}

/*
 * Хипервръзки към профилите на потребители
 */
a.profile {
	padding: 2px;
	@include border-radius(2px);
	&.ceo {
		color: #0000cc;
		&.inactive{
			color:#333399;
		}
		&.active{
			color: #0000ff;
		}
	}
	&.manager {
		color: #a000b0;
		&.inactive{
			color: #773387;
		}
		&.active{
			color:#bb00cb;
		}
	}
	&.officer {
		color: #00bb00;
		&.inactive{
			color:#447744;
		}
		&.active{
			color:#00ee00;
		}
	}
	&.executive {
		color: #aa6600;
		&.inactive{
			color:#886622;
		}
		&.active{
			color:#dd8800;
		}
	}
	&.contractor {
		color: #cc0000;
		&.inactive{
			color:#993333;
		}
		&.active{
			color:#ff0000;
		}
	}
}


dl {
	margin:0;
	dt {
		display: block;
		float: left;
		width: 21.5%;
		clear: both;
		text-align: right;
		color: $quiet-gray;
		margin-left: 0;
		margin-right: 0;
		line-height: 1.5em;
		white-space: nowrap
	}
	dd {
		margin-left: 10px;
		margin-right: 0;
		float:left;
		line-height: 1.5em;
		max-width:76%;
	}
}
.vertical .formTitle {
	background-color: #99f;
	border: solid 1px #88e;
	border-bottom: none;
	padding: 8px;
	@include border-radius4(5px, 5px, 0, 0);
}

.narrow .vertical .formTitle {
	background-image:none;
}

.formGroup {
	margin-top: 10px;
}

.vertical .formToolbar {
	padding: 8px;
	@include border-radius4(0px, 0px, 5px, 5px);
	border: solid 1px #bbb;
	border-top: none;
	background-image:url('../img/formToolbarBg.jpg');
}
.narrow .vertical .formToolbar {
	background-image: none;
	padding: 8px;
	border: solid 1px #bbb;
	border-top: none;
}
.vertical .formSection {
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
	background-image:url('../img/yellow.png'); 
}
 
.narrow .formSection{
	background-image:none;
}

.wide .vertical .formTable {
	@include border-radius(5px);
    @include shadow4(2px,2px,8px,3px,#aab);
}

.wide .listTopContainer .formTable { 
	@include no-shadow();
}
.vertical select{
	margin-left:0px;
}
.horizontal{
	margin-top:0 !important;
}

.wide .horizontal .formFields {
	margin-bottom:0;
}
@-moz-document url-prefix() { 
 	.wide .horizontal{
 		margin-left:2px;
 	}
}
option.team {
	background: black;
	color: #fc0;
}

.wide .btn-posting { 
	background-image:url('../img/16/comment_add.png');
	@include btn-style();
}

.wide .btn-person { 
	background-image:url('../img/16/vcard.png');
	@include btn-style();
}

.wide .btn-profile { 
	background-image:url('../img/16/user-profile.png');
	@include btn-style();
}

.wide .btn-user { 
	background-image:url('../img/16/user_add.png');
	@include btn-style();
}

.wide .btn-zoho{
	@include btn-style();
}

.wide .btn-order{
	@include btn-style();
	background-image:url('../img/16/btn-order.png');
}

.linkWithIcon{
	&.sick{
	background-image:url('../img/16/sick.png');
	}
	&.trip{
	background-image:url('../img/16/working-travel.png');
	}
	&.leave{
	background-image:url('../img/16/leaves.png');
	}
	&.home{
	background-image:url('../img/16/house_blue.png');
	}
	&.office{
	background-image:url('../img/16/company-building-icon.png');
	}
	&.work{
	background-image:url('../img/16/clock_green.png');
	}
	&.after-work{
	background-image:url('../img/16/clock_red.png');
	}
	&.birthday{
	background-image:url('../img/16/birthday.png');
	}
	&.nameday{
	background-image:url('../img/16/orthodox.png');
	}
}
.more-btn{
	float:left;
	padding:4px 3px 2px 3px !important;
	background-position:center center;
	background-image:url(../img/16/toggle-expand.png) !important;
	background-repeat:no-repeat !important;
	width: 24px !important;
}

.more-btn.show-btn{
	background-image:url(../img/16/toggle2.png) !important;
}

.narrow .more-btn{
	width:24px !important;
}

.wide .btn-export  { 
	background-image:url('../img/16/table_export.png');
	@include btn-style();
}

.wide .btn-fax  { 
	background-image:url('../img/16/fax.png');
	@include btn-style();
}

.wide .btn-email-create { 
	background-image:url('../img/16/email_edit.png');
	@include btn-style();
}

.wide .btn-conto  { 
	background-image:url('../img/16/tick-circle-frame.png');
	@include btn-style();
}

.wide .btn-task  {
	background-image:url('../img/16/sheduled-task-icon.png');
	@include btn-style();
}

.wide .btn-docIncomings  { 
	background-image:url('../img/16/page_attach.png');
	@include btn-style();
}

.wide .btn-docIncomingsNew  { 
	background-image:url('../img/16/page_lightning-new.png');
	@include btn-style();
}

.wide .btn-back { 
    background-image:url('../img/16/red-back.png');
    @include btn-style();
}

.wide .btn-createLink { 
    background-image:url('../img/16/link.png');
    @include btn-style();
}

.wide .btn-email-send { 
	background-image:url('../img/16/email_go.png');
	@include btn-style();
}

.wide .btn-settings { 
	background-image:url('../img/16/settings.png');
	@include btn-style();
}

.wide .btn-task-close { 
    background-image:url('../img/16/media-playback-stop.png');
    @include btn-style();
}

.wide .btn-reload { 
    background-image:url('../img/16/clock_go.png');
   @include btn-style();
}

.wide .btn-add {
	background-image:url('../img/16/star_2.png');
	@include btn-style();
}

.wide .btn-clone { 
    background-image:url('../img/16/page_copy.png');
    @include btn-style();
}

.wide .btn-select {
	background-image:url('../img/16/key.png');
	@include btn-style();
}

.wide .btn-move { 
    background-image:url('../img/16/arrow_right.png');
    @include btn-style();
}

.wide .btn-activation {
    background-image:url('../img/16/lightning.png');
    @include btn-style();
}

.wide .btn-open {
    background-image:url('../img/16/open_bulb.png');
    @include btn-style();
}

.wide .btn-close { 
    background-image:url('../img/16/close_bulb.png');
    @include btn-style();
}

.wide .btn-active {
    background-image:url('../img/16/active_bulb.png');
    @include btn-style();
}

.wide .btn-revert {
    background-image:url('../img/16/red-back.png');
    @include btn-style();
}

.wide .btn-eml { 
    background-image:url('../img/16/file_extension_eml.png');
    @include btn-style();
}

.wide .btn-html { 
    background-image:url('../img/16/file_extension_html.png');
    @include btn-style();
}

.wide .btn-ocr {
    background-image:url('../img/16/scanner.png');
    @include btn-style();
}

.wide .btn-forward { 
    background-image:url('../img/16/email_forward.png');
    @include btn-style();
}

.wide .btn-assign {
    background-image:url('../img/16/assign.png');
    @include btn-style();
}

.wide .btn-change {
    background-image:url('../img/16/to_do_list.png');
    @include btn-style();
}

.wide .btn-shop{
	background-image:url('../img/16/shopping.png');
   	@include btn-style();
}

.narrow .btn-add{
	margin-left:0;
}
.toolbarHide{
	margin-top:5px !important;
}
/*Стилове за acc*/
div.acc-detail {
	font-size: 0.8em;
	margin: 3px;
	padding: 3px;
	font-family: Arial;
	border: solid 1px #ccc;
	background-color: #eee;
}

/* стилове за 'contacts/tpl/ViewSingleLayout' */

.document .block_left{
	margin-top:10px;
}

.document .centered{
	text-align:center;
}

.document p{
	margin-top:0;
	margin-bottom:10px;
	line-height:150%;
}

.document .indent{
	text-indent:25px;
}

.document h3{
	margin-bottom:10px;
}
.narrow .document .richtext{
	min-width:300px;
	max-width:600px;
	height:auto;
}
.narrow .document .richtext .code{
	white-space:normal;
}
.document div.richtext-holder{
	margin-top:0;
	margin-bottom:10px;
	line-height:150%;
}

.document div.richtext-holder .richtext{
	display:inline;
	color:#000;	
}

.narrow .printing .folder-cover{
	line-height:1.5em;
}

#crm_Persons-EditForm  input {
	max-width: 600px;
}

.detail-info {
	margin: 10px 0 0 0;
	padding: 5px 10px;
	border: solid 1px #ccc;
	@include border-radius(5px);
	img {
		margin-left: 5px;
		vertical-align: middle;
	}
	dl{
		margin-top:-2px;
	}
	.listRows{
		margin-left:0 !important;
	}
	table tr{
		height: 1em;
		line-height: 1.1em;
		padding: 0;
	}
	&.portal{
		padding-top:5px;
		p{
			margin:0;
		}
		table.listTable th{
			background:#f1f1f1 !important;
			border:1px solid #fff !important;
			display:table-cell !important;
			visibility:visible !important;
			vertical-align:middle !important;
		}
	}
}
.portal {
  margin-top: 15px;
  padding: 10px;
  padding-top: 18px;
  border: solid 1px #ccc;
  @include border-radius(5px);
  background-color: white;
  .legend {
    position: absolute;
    margin-top: -35px;
    margin-left: 10px;
    z-index: 100;
    line-height:20px;
    padding: 5px;
    border: solid 1px #ccc;
    @include border-radius(5px);
    font-weight: bold;
    .addTask{
    	display:inline-block;
    	width:16px;
    	height:16px;
    	padding-left:5px !important;
		position:relative;
		top:2px;
    }
  }
  table.listTable {
    width: 100% !important;
    border: none;
    font-size: 0.9em;
    margin-bottom:0;
    td {
      border: none !important;
      border-top: dotted 1px #ccc !important;
      vertical-align: top !important;
    }
    > tbody > tr:first-child > td {
      border-top: none !important;
    }
    th {
      display: none;
      border: none;
      vertical-align: top !important;
    }
  }
}
div.cover{
	min-width: 600px;
	max-width: 750px;
	@include border-radius(5px);
	border:1px solid #ccc;
	padding:0 20px 20px;
	margin-top: 16px;
}
div.folder-cover{
	background-image:url('../img/cover-bg.png');
	display: inline-block;
	min-width: 600px;
	max-width: 750px;
	margin-top: 16px;
	margin-left:3px;
	line-height:1.2em;
	position:relative;
	border:1px solid #ccc;
	padding:20px 20px 20px 20px;
	@include border-radius4(0px,25px,0px,0px);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	&.state-opened{
		background-image:url('../img/cover-bg-green.png');
	}
	&.state-active{
		background-image:url('../img/cover-bg-yellow.png');
	}
	.detail-info{
		background:none;
	}
	.groupTitle {
		color: #333;
		font-weight: bold;
	}
	.label {
		color: #777777;
		font-size: 13px;
		width: 70px;
		float: left;
	}
	a.sky:link, a.sky:visited, a.sky:visited{
		font-size: 13px;
		color: #4a66b0;
		text-decoration: none;
	}
	a.sky:hover {
		font-size: 13px;
		color: #4a6z6b0;
		text-decoration: underline;
	}
	.fancybox img {
		background: #f0f0f0;
		border: solid 1px #dddddd;
		padding: 3px;
		padding: 10px;
	}
	.block_title {
		border-bottom: solid 1px #dddddd;
		padding: 7px;
		@include border-radius4(0,15px,0,0);
		font-size: 1.35em;
		color: #433;
		margin-bottom:10px;
		text-shadow: 1px 1px 1px #ddd;
		img {
			vertical-align:top;
		}
	}
	.block_left {
		clear: left;
		font-size: 12px;
		padding: 0 10px 10px 0;
		min-width: 250px;
		float: left;
		margin-right: 20px;
		position: relative;
		.address {
			max-width: 240px;
			margin-bottom: 15px;
		}
	}
	.block_right {
		min-width: 100px;
		font-size: 12px;
		padding: 0 0 10px 10px;
		float: left;
	}
	h2{
		margin:0 0 20px 0;
	}
	.alphabet{
		line-height:0.9em;
		padding-bottom:0;
	}
	.tab-page .detail-info{
		margin-bottom: 0 !important;
	}
}

.narrow .folder-cover{
	line-height:1.5em;
	margin-left:0px;
	margin-top:8px;
	font-size:0.8em;
	padding:10px 10px 12px 10px;
	.detail-info{
		padding:3px 7px 7px 7px;
	}
	.tab-page{
		padding:0 !important;
	}
	.tab-page .portal.detail-info{
		margin-left:2px;
	}
}

.narrow .block_title {
	font-size: 1.2em !important;
}

.printing .folder-cover {
	border: none;
	font-size: 0.8em;
	background: #ffffff;
	@include no-shadow();
	padding: 10px;
	display: table;
	min-width: 600px;
	max-width: 750px;
	line-height: 1.2em;
	margin-top: 0px;
}

.fright{
	float:right;
}
.fleft{
	float:left;
}
.user-profile{
	border:1px solid #ccc;
	border-radius:5px;
	background:#f1f1f1;	
	margin-top:15px;
	.user-title{
		position:relative;
		padding:70px 20px 10px 132px;
		font-size:1.3em;
		text-shadow:1px 1px 2px rgba(0,0,0,0.7);
		background: rgb(234,234,234); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(97,97,98,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(97,97,98,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(97,97,98,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(97,97,98,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(97,97,98,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(97,97,98,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#616162',GradientType=0 ); /* IE6-9 */
		color:#fff;
		font-weight:bold;
		border-radius:5px 5px 0 0;
	}
   .profile-image>a, .profile-image div{
		position:absolute;
		top:15px;
		left:15px;
		width:100px;
		height:100px;
		@include border-radius(3px);
		border:3px solid #fff;
		box-shadow:0 1px 4px rgba(0,0,0,0.5);
		display:block;
		text-align:center;
		background:#fff;
		overflow:hidden;
		img{
			width:auto;
			height:100px;
		}
	}
	.linkWithIcon{
		height:19px;
		padding-top:1px;
	}
	> .groupList{
		margin-left:10px;
	}
	.card-profile{
		margin:0 10px 10px;
	}
	.fright{
		margin-left:10px;
	}
	.inner-holder{
		padding:15px 15px 15px 15px;
	}
	.detail-info{
		background:#fff;
		min-width: 400px;
	}
	.detail-info.portal dt{
		min-width:86px;
	}
}
.narrow .user-profile{
	margin-top:7px;
	min-width:380px;
	.user-title{
		font-size:1.1em;
	}
	.detail-info{
		font-size:0.8em;
		min-width:auto;
		dt{
			width:85px;
		}
		dd{
			max-width:200px;
		}
	}
	.linkWithIcon{
		height:16px;
		padding-top:1px;
		white-space:nowrap;
	}
	.fleft,.fright{
		float:none;
		margin-left:0;
	}
} 

.wide .groupList{
	font-size:0.9em;
	line-height:1.4em;	
}
.detail-info.portal table.listTable{
	font-size:1em;
}
.groupList .listTable{
	margin-bottom:0;
}
.right-align{
	min-width:120px; 
	text-align:right;
	line-height:18px;
	padding-right:15px;
	color:#888;
}

td.portal-date {
	text-align:right !important;
	white-space:nowrap;
}


/* ENDOF стилове за 'contacts/tpl/ViewSingleLayout' */
.antetka {
	margin-top: 10px;
	margin-left:1px;
	padding: 5px;
	border: solid 1px #ddd;
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40C8C8C8,endColorstr=#40C8C8C8); 
    zoom: 1;
	background: rgba(200, 200, 200, 0.3);
}

.threadSubTitle {
	font-size: 0.75em;
	padding: 2px;
	padding-bottom: 0px;
	color: #353;
}

.document {
	border: solid 1px #bbbbbb;
	background: #ffffff;
	@include border-radius(5px);
	padding: 10px;
	margin-bottom: 20px;
	float: left;
	margin-top: 10px;
	
}
.wide .document{
	max-width:900px; 
    min-width:800px;
}

.narrow .document {
	width:96.5%;
}

.listTable>tbody>tr>td div.document {
	border: none;
	background: transparent;
	@include no-shadow();
	padding: 2px 4px 5px 4px;
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
}

.wide .listTable>tbody>tr>td div.document{
	width:850px !important;
}

.doc_Containers table.listTable td,.doc_Containers table.listTable th {
	vertical-align: top !important;
}

.doc_Containers table.listTable.listTable>tbody>tr:hover {
	background-color: transparent;
}

.doc_Containers table.listTable.listTable>tbody>tr {
	background-color: transparent;
	
	&.flash {
	   background-color: #ff8 ;
	}
}

.doc_Containers .thread-opened table.listTable>tbody>tr{
	background-color: $open-thread ;
}

.doc_Containers .thread-opened table.listTable>tbody>tr:hover{
	background-color: $open-thread ;
}

.thread-opened > div > table.listTable > tbody > tr > td {
	border: solid 1px green !important;
}
.document table.listTable{
	margin-bottom:0;
}
.listTable{
  	.document h2 {
		margin-top: 3px;
     }
	 .toolbar {
		padding: 4px 5px 5px;
	 }
	 td,th{
	 	border-color:#000;
	 }
}

.listToolbar {
	margin-top: 15px;
}

.listTable .toolbar .button{
	margin:0px 5px 0px 0;
}

.toolbar #btnDelete{
	margin-right:0;
}

.narrow .toolbar{
	white-space:nowrap;
	margin: 0px 0px 2px 0px ;
	padding:2px 0px 3px 0px;
}

.narrow .listTable .toolbar {
	margin: 0px 9px 5px 4px;
	padding-top:0px;
}

.wide .doc_Containers .toolbar {
	margin-top: 3px;
	margin-bottom:3px;
}

.document .header {
	@include border-radius(3px);
	padding: 3px;
	font-size: 1em;
	span {
		background-position: 3px center;
		padding-left: 24px;
		background-repeat: no-repeat;
		font-weight: bold;
	}
}

.printing .document {
	border: none;
	background: #ffffff;
	@include no-shadow();
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	min-width: 0px;
}
table.mc-calendar {
  width: 100%;
  font-size: 0.8em;
  td.mc-day {
  	width:13%;
    text-align: right;
    border: none;
    background-color: #e8efe8;
    border: solid 2px #e8efe8;
    padding: 1px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #ffff66;
    }
  }
  td.mc-week-nb {
    border: none;
    padding: 3px;
    width:8%;
  }
  td.mc-wd-name {
    text-align: right;
    padding-right: 3px;
  }
  td.mc-sunday {
    color: green;
  }
  td.mc-holiday {
    color: red !important;
  }
  td.mc-saturday {
    color: #006030;
  }
  td.mc-today {
    border: solid 2px red;
  }
}
table.mc-header a {
  color: #999;
}
/*
 * Стилове за счетоводството
 */
.wide .legalscript{
	margin-top:-15px;
}

.wide .level-1 td { 
	background-color: #008; 
	color: #fff; 
	font-weight: bold;
	a {
		color: #fff; 
	}
}

.wide .level-2 td { 
	background-color: #fc6; 
	color: #333; 
}

.wide .level-3 td, .wide .level-4 td, .wide .level-5 td { 
	background-color: #fff;
}

input.inplace {
	border: none;
	background-color: #ffc;
	.number {
		text-align: right;
	}
}

td.pallet_place {
    font-size: 14px; 
    text-align: center; 
    width: 32px;
    color: #999999;
    background: #eeeeee; 
	&.outofuse { 
	    text-decoration: line-through;
	    color: #333;
	}
	&.reserved {
	    color: #b80000;;
	    background: #eeeeee;
	}
	&.in_use { 
	    background: #00ff55;
	    font-weight: bold;
	}
	&.movement_waiting { 
	    background: #00dd55;
	}
	&.movement_active { 
	    background: #00dd55;
	    text-decoration: blink;
	}
	&.out_of_filter { 
	    background: #777777 !important;
	}
}

td.constrColumnRight { 
    border-right: solid 3px #777 !important;
}

td.constrColumnLeft { 
    border-left: solid 3px #777 !important;
}

tr.noHover td:hover { 
	color: #999999; 
	background: white;
}

.wide .em-holder{
	width:70%;
}

.narrow .em-holder{
	width:100%;
}

.wide .sm-att{
	width:27%;
	overflow:hidden; 
	float:right;
}

.narrow .sm-att{
	margin-top:10px;
	width:100%;
	float:left;
	.attachments{
		float:left;
	}
}

.wide div.attachments {
	float:right;
	display: inline-block;
	margin: 2px;
}
div.attachments {
	display: block;
	width:100%;
	float: right;
	margin: 2px;
	.aHeader {
		background-color: #e0e0e0;
		padding: 3px;
		padding-left: 26px;
		background-image: url('../img/16/attach.png');
		background-repeat: no-repeat;
		background-position: 6px 4px;
		border-bottom: solid 1px #e0e0e0;
	}
	.file {
		max-height:32px;
		height:auto;
		overflow:hidden;
		display: block;
		margin-bottom: 2px;
	}
}

.thread-opened div.attachments .aHeader {
	background-color: #e0f0e0;
}

.thread-opened th {
	border: solid 1px green !important;
	background-color: #aea !important;
}

#notificationsCnt {
	position: absolute;
	margin-left:30px;
	float:right;
}

.narrow #notificationsCnt{
	margin-left:0;
	margin-right:5px;
	right:10px;
	float:none;
	display: inline-block;
}

#notificationsCnt a{
	display:block;
	color:white;
	font-size:0.9em;
	padding:1px 2px 1px 2px !important;
	@include border-radius(3px);
	@include shadow(2px,2px,3px,#666);
}

.narrow #notificationsCnt a  {
	font-size:0.8em;
	padding:1px 3px 1px 3px !important;
	@include shadow(3px,3px,5px,#aaa);
}

#notificationsCnt a.haveNtf {
	background-color: red;
	border: solid 1px #c33 !important;
}

#notificationsCnt a.noNtf { 
    color:#ddd;
	background-color:transparent;
	border:none !important;
	@include no-shadow();
}

.narrow #notificationsCnt a.noNtf { 
	color:#fff;
	background-color: #bbb !important; 
	border: solid 1px #999 !important;
}
table.profile-summary-table{
	margin-left:2px;
	margin-top:3px;
	margin-bottom:0px;
	text-decoration:none;
	td{
		white-space:nowrap; 
		padding-right:5px;
		text-decoration:none !important;
	}
}

ul.history {
	padding: 0;
	margin: 0;
	list-style: none;
	&.summary {
		font-size: 0.75em;
		margin: 0 auto;
		li span {
			color: #333;
		}
	}
	li {
		margin: 5px 0;
		padding: 2px 0;
		line-height: 1.2;
	}
	b {
		color: white;
		padding: 1px 3px;
		@include border-radius(3px);
		display: inline;
		font-size: 1.2em;
		font-weight: bold;
		margin-right:3px;
	}
	.action{
		&.send b {
			background-color: green;
		}
		&._received b {
			background-color: blue;
			color: white;
		}
		&._returned b {
			background-color: red !important;
			color: white;
		}
		&.print b {
			background-color: #777;
		}
		&.open b {
			background-color: #ccc;
			color: #333;
		}
		&.download b {
			background-color: purple;
		}
		&.pdf b {
			background-color:$quiet-gray;
			color: #fff;
		}
		&.changed b {
			background-color: #600;
		}
		&.forward b {
			background-color: #900;
		}
	}
	.detailed b {
		background-color: #ccc;
	}
	a{
		white-space:nowrap;
	}
}
.wide ul.history.summary{
	width: 100px;
}
.narrow ul.history{
	white-space: nowrap;
	display: inline-block;
	li{
		line-height: 1.2;
		display: inline-block;
		margin-left: 10px;
	}
	b{
		padding-top:3px
	}
	&.summary
}

.narrow ul.history.summary li span { 
	display:block; 
	padding-top:4px;
	font-size:0.8em; 
}

div.sharing-history {
	border: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	position: relative;
	color: #555;
	font-size: 0.9em;
	clear: both;
	padding-right: 120px;
}

div.change-log {
	border: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	position: relative;
	color: #555;
	font-size: 0.9em;
	clear: both;
}

span.sharing-history-title {
	padding: 2px 5px;
	padding-left: 23px;
	background: #eee url(../img/share.png) no-repeat 3px center;
	position: absolute;
	display: block;
	top: 0;
	right : 0;
	border: 1px solid #ccc;
	border-top: none;
	color: #777;
}
.narrow span.sharing-history-title{
	font-size:14px;
}
span.change-log-title {
	padding: 2px 5px;
	padding-left: 23px;
	background: #eee url(../img/16/to_do_list.png) no-repeat 3px center;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	border: 1px solid #ccc;
	border-top: none;
	color: #777;
}

fieldset.sharing-history {
	ul {
		margin: 0;
		padding: 0;
		list-style-position: inside;
		li .user {
			color: #333;
		}
		li.seen {
			list-style-type: disc;
			color: green;
		}
		li.unseen {
			list-style-type: circle;
			color: red;
		}
	}
	i {
		color: $quiet-gray;
		font-size: 0.9em;
	}
}

.wide .icon { 
	display: inline-block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: left center;
}

.wide input.contactData, .wide textarea.contactData, .wide select.contactData {
	width:400px;
}

.narrow input.contactData {
	width:100%;
}

.wide input.pCode { 
	width:80px;
}

.wide select {
    /*max-width:500px; махнато заради селекта при изпращане на емейли */
}

.hasDatepick{
	margin-left:2px;
}

input.combo.pCode{
	margin-left:0 !important;
}

/* CMS */
#cmsTop {
	background-repeat: no-repeat;
	display: block;
	height: 287px;
	@include border-radius4(10px, 10px, 0, 0);
}

#cmsMenu {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cmsMenu a {
	font-size: 1.2em;
	padding: 4px;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap;
}

#cmsTop,#cmsBottom,#cmsTop.a,#cmsBottom.a {
	display: block;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#cmsBottom {
	font-size: 1.2em;
	padding: 0px;
	padding-top: 7px;
	display: block;
}
.wide #cmsBottom{
	width: 1000px;
}

#all {
	width: 1000px;
	display: block;
	margin: 10px auto;
	text-align: left;
	@include rounded(top, left, 10px);
	@include rounded(top, right, 10px);
}

#cmsNavigation div.nav_item {
	padding: 1px;
	font-family: Trebuchet MS, Geneva, Tahoma, sans-serif;
}

#cmsNavigation a {
	@include border-radius(3px);
	padding-left: 3px;
	padding-right: 3px;
	display: inline-block;
	border: solid 1px transparent;
}

#cmsNavigation .level1 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 2px;
}

#cmsNavigation div:first-child {
	margin-top: 0px !important;
}

#cmsNavigation .level2 {
	margin-top: 0px;
	margin-bottom: 2px;
	font-size: 15px;
	margin-left: 10px;
}

#cmsNavigation .level3 {
	margin-top: 1px;
	margin-bottom: 2px;
	font-size: 14px;
	margin-left: 20px;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.cms-container {
	padding-left: 20px;
	padding-right: 20px;
}

.cms-row {
	width: 100%;
	max-width: 1024px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol
	{
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.cms-row .onecol {
	width: 4.85%;
}

.cms-row .twocol {
	width: 13.45%;
}

.cms-row .threecol {
	width: 22.05%;
}

.cms-row .fourcol {
	width: 30.73%;
}

.cms-row .fivecol {
	width: 39.45%;
}

.cms-row .sixcol {
	width: 48%;
}

.cms-row .sevencol {
	width: 56.75%;
}

.cms-row .eightcol {
	width: 65.3%;
}
.cms-row .eightcol-new {
	width:71%;
	margin-right:0;
}

.narrow .cms-row .eightcol-new {
	width:70%;
}

.cms-row .ninecol {
	width: 74.05%;
}

.cms-row .tencol {
	width: 82.7%;
}

.cms-row .elevencol {
	width: 91.35%;
}

.cms-row .twelvecol {
	width: 100%;
	float: left;
}

.cms-last {
	margin-right: 0px;
}

@media handheld , only screen and (max-width: 1000px) {
	#cmsTop {
		@include rounded(top, left, 0px);
		@include rounded(top, right, 0px);
	}
	#all {
		margin-top: 0px;
		margin-bottom: 0px;
		@include rounded(top, left, 0px);
		@include rounded(top, right, 0px);
	}
}

/* Mobile */

@media handheld, only screen and (max-width: 950px) { 

	body {
		-webkit-text-size-adjust: none;
	}


	#cmsTop, #all, #cmsBottom { 
		width: 100% !important;
	} 

	.cms-row, body, .cms-container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, 
	.row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol { 
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#cmsMenu a {
		margin-left:8px;
		margin-right:8px;
		font-size:1.1em;
    }
}


@media handheld, only screen and (max-width: 800px) { 
	#cmsMenu a {
		margin-left:5px;
		margin-right:5px;
		font-size:1em;
    }
}

@media handheld, only screen and (max-width: 760px) { 
	#cmsMenu a {
		margin-left:3px;
		margin-right:3px;
		font-size:0.90em;
    }
}

@media handheld, only screen and (max-width: 700px) { 
	#cmsMenu a { 
		margin-left:2px;
		margin-right:2px;
		font-size:0.85em;
    }
}

@media handheld, only screen and (max-width: 600px) { 
	#cmsMenu a {
		margin-left:2px;
		margin-right:2px;
		font-size:0.8em;
    }
}

.badge {
	@include border-radius(9px);
    color: #fff;
    background-color: #999;
    font-size: 0.84em;
    padding: 1px 7px 2px;
}

.webdrvTabBody {
	max-width: 900px;
	min-width: 800px;
	min-height: 600px;
	top:10px;
	position:relative;
}

.narrow .webdrvTabBody {
	max-width: 600px;
	min-width: 100px;
	min-height: 300px;
}

.webdrvIframe {
	width: 100%;
	border: solid 0px transparent;
	min-height: 600px;
}

.narrow .webdrvIframe { 
	min-height:300px; 
}

.wide .webdrvFieldset{
	min-height:620px;
	border:1px solid #ccc;
	@include border-radius(5px);
	box-shadow:0 0 5px rgba(0,0,0,0.2) inset;
	>div{
		max-width:868px;
		overflow:auto;
	}
	legend{
		background-color:#fff;
	}
	pre.richtext{
		max-width: 865px;
		/*height:560px; */
		/*overflow:auto; */
		margin-bottom:0;
		margin-top:0;
	}
	.email-source{
		max-width:850px;
		white-space:pre-wrap;
		font-family:monospace "courier new";
	}
}
.narrow .email-source{
	white-space:pre-wrap;
	font-family:monospace "courier new";
}

.narrow .webdrvFieldset img{
	width:auto;
	height:auto;
}

.narrow .webdrvFieldset div{
	font-size:0.6em;
}

.narrow pre.richtext{
	white-space:pre-line;
	font-size:1.2em;
}

.narrow .webdrvFieldset {
	min-height: 300px;
	height:100%;
	border:1px solid #ccc;
	@include border-radius(5px);
	box-shadow:0 0 5px rgba(0,0,0,0.2) inset;
}

#blog-article-details .listTable th{
	display:none;
}

#blog-article-details .listTable { 
	background:rgb(229,229,229);
}

.order-table{
	margin-top:11px;
}

.wide .listRows{
	margin-left:2px;
}

.wide .document .listRows{
	margin-left:0;
}
.wide-profile-info{
	text-align:center;
	.holder-box{
		text-align:left;
		display:inline-block;
	}
	.name-box{
		font-size:0.8em;
		margin-top:7px;
		margin-left:5px;
		margin-right:5px;
	}

	.date-box{
		font-size:0.8em;
		margin-left:7px;
		margin-right:7px; 
		margin-bottom:10px;
		margin-top:5px;
	}
	.gravatar-box{
		margin:6px !important;
		text-align:center;
	}
}

/*стилове за документи*/
.document .details .listTable {
	width:100%;
}

.document .details .listToolbar{
	padding:5px 0px;
	margin: 0;
	border-bottom:1px solid #000;
}

.document .details .listToolbar .toolbar{
	padding-left:0;
}

.document .listTable th, .document .listTable td{
	border:1px solid #000 !important;
}

.smallData {
	padding:1px; 
	font-size:1em; 
}

.bigData {
  font-family:"Courier New";
  font-size:1em; 
  font-weight:bold;
}

.cell {
	border:1px solid #000;
}

.topCell {
	border: 1px solid #000;
	div {
		padding-bottom:2px;
	}
}

.innerTable {
	border-collapse:collapse;
}

.rowData {
	font-size:0.9em;
}

.footer-notes{
	font-size:14px;
}
  
.lines{
	height:5px;
	background:url('../img/thumb.png');  
	background-repeat:repeat-x;
	background-position:center;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

/*стилове за емейл кутии*/

.styled-table{
	border-collapse:collapse;
	margin-bottom:20px;
}

.styled-table th{
	text-align:left;
}

.styled-table td{
	border:1px solid #ccc;
	padding:2px 5px;
}

.styled-table th{
	border-bottom:none;
}

.singleView .title-style{
	color:#666;	
}

table.styled-table tr:hover td {
    background-color:#ffc !important;
}
/*стилове за локации*/
.info-table ul{
	padding:0;
	margin:0;
	.part{
		float:left;
		width:50%;	
	}
}
	
.info-table .gray-title{
	color:#666;
}
	
.detail-info ul{
	list-style:none;
}
	
.loc-map{
	margin-top:20px;
	text-align:center;
	> div{
	 	width:99% !important;
	}
}
div.locImage{
	padding-bottom:0;
}
/*шаблон за пускане в експлоатация на ДА*/
	.calign{
	text-align:center;
	}
	
	.sign-holder{
		display:inline-block;
	}
	
	.sign-holder span{
		display:inline-block;
		float:right;
		width:160px;
		text-align:center;
	}

/*шаблон за журнал*/
	.acc_JournalDetails {
		margin-top:10px;
	}
	
	.acc_JournalDetails ul{
		margin-left:0 !important;
		padding-left:0 !important;
	}
	
	.acc_JournalDetails .listTable th, .acc_JournalDetails .listTable td{
		padding: 5px;
	}

/*bugFix - ширина при коментари на документ*/
#doc_Comments-EditForm{
	display:inline-block;
}

#doc_Comments-EditForm .formTitle{
	border: none;
	@include border-radius4(5px,5px, 0, 0);
}

.btn-group .button{
	display:inline-block;
	width:auto !important;
	min-width:230px;
}

.btn-group-title{
	margin-top:10px;
	margin-bottom:2px;
	margin-left:2px;
}

/*bugFix - заглавие при емейлите*/
.email-class h2{
	margin:10px 0 12px;
}

.free-text{
	max-width:600px;
	text-align:justify;
	line-height:130%;
	margin-bottom:20px;
}

.trans_DeliveryTerms{
	max-width: 800px;
}

.singleView h2{
	margin:10px 0;
}

.folder-cover h2{
	margin:0 0 20px 0;
}

.doc_Search .combo{
	margin-left:-1px !important;
}
.doc_Search select{
	margin-left:-1px;
}
.doc_Search .hasDatepick{
	margin-left:0;
}
.cCode {
	border:solid 1px #ccc;
	color:black !important;
	background-color:#eee;
	padding:2px;
    font-size:12px;
    vertical-align:middle;
}

/*пренаписване на някои стилове на селекти тип chosen*/
.chzn-container-multi .chzn-choices .search-field input{
	padding:4px 4px 3px 4px !important;
	font-size:0.9em !important;
	height:21px;
}

.narrow .horizontal input.combo{
	margin-left:2px;
}

.narrow .horizontal .chzn-container{
	margin-left:2px;
}

.narrow .hFormField .hasDatepick{
	margin-left:2px;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	top:2px !important;
}

.chzn-container-multi .chzn-choices .search-choice {
	line-height:11px !important;
	margin: 2px 0 2px 2px !important;
}

.chzn-container{
	top:0px;
}


.addintional-info{
	border-top:1px solid #ccc;
	padding:10px;
	background-color: rgba(240,240,255,0.5);
	border: solid 1px #ddddff;
	
}

.portal-filter{
	position:relative;
	min-width:30px;
	height:20px;
	float:right;
	outline:none !important;
}
.narrow .portal-filter{
	margin-left:5px;
	height: 1.0em;
	top:-2px;
	right:-2px;
	position:relative;
}
.portal-filter .hFormField {
	width: 9em;
	border: solid 1px #ccc;
	float: right;
	display: block;
	position: relative;
	height: 1.2em; 	
	margin: 0px 0 0px 7px; 	
	background: rgba(255, 255, 255, 0.7);
	@include border-radius(3px);
	display1:none;
}

.portal-filter .hFormField input {
	height: 1.4em;
    width: 9em;
	border: none !important;
	background:none;
	font-size:0.9em;
	position:relative;
	top:-1px;
	line-height:1.3em;
	margin-top:0px !important;
    width: 8.5em !important;
    outline:none !important;
}

@-moz-document url-prefix() { 
	.portal-filter .hFormField input {
		top:-2px;
	}
}

.narrow .portal-filter input{
	height:1.2em;
	top:0;
}

.portal-filter select{
	height: 1.2em;
    width: 8.3em;
    line-height:1em;
	visibility:hidden !important;
}

.portal-filter .formToolbar{
	width: 30px;
	height:20px;
	margin-right:0 !important;
	right: 0px !important;
    top: 0em !important;
	position: absolute;
}

.portal-filter .button{
	width: 16px;
	height:20px;
	margin-right:0;
	right: 0px !important;
    top: 0em !important;
	position: absolute;
	border: none;
	outline:none !important;
	background-color: transparent !important;
	background-position: center center;
	cursor: pointer;
	display: inline-block;

}

.portal-filter .button::-moz-focus-inner {
  border: 0;
}

.narrow .portal-filter .button{
	height:1.45em;
	padding:2px 0;
	background-color:rgb(221, 221, 221) !important;
}

.special-title{
	padding:10px !important;
	font-size:0.9em;
	line-height:1.1em;
	@include border-radius4(3px,3px,0,0);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.addRoute{
    	display:inline-block;
    	width:16px;
    	height:16px;
    	padding-left:5px !important;
		position:relative;
		top:2px;
    }

.filesContainer .top-table{
	margin-bottom:15px;
}

.reminder-table td{
    width:400px;
}

.narrow .reminder-table td{
   width:180px;
   padding-right:20px;
   white-space: nowrap;
}

@media print{
	.linkWithIcon, .docBgIcon,.button{
		padding-left:0 !important;
	}
	span.sharing-history-title{
		padding-left:3px !important;
	}
	.shifts table.mc-calendar{
		border-collapse:collapse;
		width:100% !important;
	}
	.shifts table.mc-calendar td{
		padding:5px;
	}
	.shifts table.mc-calendar td.mc-day{
		border:1px solid #ccc !important;
	}
	.shifts .mc-wd-name{
		text-align:center !important;
	}
	.shifts table.mc-calendar td.mc-day span{
		text-transform:uppercase;
	}
}
