/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с обичайно големи дисплеи и малки дисплеи          *
 *                                                              *
 ****************************************************************/
 
 
 
select.combo {  
	position: absolute; 
    visibility:hidden;
    overflow:hidden;
}

 /* Стилове за елемента 'tab' */
 .noSelect, div.richedit-toolbar, #mainMenu, #subMenu, div.tab-row {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.tab-control div.tab-row .tab {
    display:        table;
    margin:         1px -15px 1px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

div.tab-control div.tab-row .tab.selected {
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     3px solid #036;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 5px 5px; 
    margin:         1px -14px -3px 18px;
    top:            -3px;
    font-weight:    bold;
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.tab-control .tab-title {
	font-weight: bold;
}

/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc; 
    border: 1px solid #9999ff; 
    border-top: none; 
    padding: 5px; 
    font-size: 0.85em; 
    text-align: left;
	color:#333;
    font-size:0.9em;
    padding-top:10px; 
    margin-top:-4px;
	white-space:nowrap;
}

.narrow span.richEdit div.richedit-toolbar{
	padding-top:8px;
    padding-bottom:6px; 
	font-family: Verdana, Geneva, sans-serif;
	margin-top:0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top:-4px;
}

div.richEdit {
	display:table;
	width:100%;
}

.richEdit textarea {
	margin-bottom:0px;
	overflow:auto;
	border-bottom: 1px solid transparent; 
	width:100%;
}

.narrow .richEdit textarea { 
	border-bottom: 1px solid white; 
	width:600px; 
}

p.richtext {
	border: solid 1px red;
}

.richtext h1 {
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.2em;
}

.richtext{
	color:#333;
	font-family: sans-serif;
	line-height: 1.4em;
}

.richtext h2 { 
	margin-left:0px;
	margin-bottom:5px;
	padding:5px;
	background-color: #ddf;
}

.richtext h3 {
    margin:5px;
    line-height:2em;
    margin-left:0px;
}

pre.richtext {
    font-family: Courier New,monospace;
    padding:10px;
    background-color:#ffe;
    color:#000;
    line-height:120%;
    border:solid 1px #ccc;
	white-space: pre-wrap;	
}

.richtext .oneLineCode {
	font-family: Courier New,monospace;
	background-color: #ffe;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	margin: 0 2px;
	padding: 0 5px;
}

.wide pre.richtext{
	overflow: auto; 
	max-width:800px;
}

.narrow  pre.richtext {
	overflow:visible;
	max-width: auto;
}

.richtext .code {
	white-space:pre;
}

div.richtext li {
    margin:0px;
    padding:0px;
    margin-left:1.5em;
    padding-top:0.2em;
}

div.richtext ul { 
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: circle;
}

div.richtext ul ul {
	list-style-type: square;
}

div.richtext ol {
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: decimal;
}

div.richtext ol ol {
	list-style-type: lower-alpha;
}

div.richtextHide {
	display:none;
	margin-left:4px;
	border-left:dotted 1px #ccc;
	padding:10px; 
}

a.rtbutton {
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}

a.rtbutton1 {
	padding-right:3px;
    cursor: pointer;
}

a.rtbutton:hover {
    background: white;
    border-style: outset;
}

/* Стилове за елемента 'list Table' */
table.listTable { 
    margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
}

table.listTable>tbody>tr:hover  {
    background-color:#ffc !important;
}

table.listTable>tbody>tr>td {
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

table.listTable>thead>tr>th {
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle {
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar {
	margin-top:10px;
}

.listFilter {
	padding-bottom:5px; 
	float:left;
}
.narrow .listFilter{
	margin-left: -3px;
}

.listSummary {
	padding-bottom:5px; 
	float:right;
}

.listPager{
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer {
	width:100%;
}

/* Стилове за показване на формите */
form {
    margin: 0px;
 }
 
.formError {
    border:solid 1px red; 
    background-color:#ff6;
    font-size:0.9em;
    padding:10px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
 }
 
 .wide .formError{
 	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    text-align:left;
    min-width:300px;
 }
 
 .narrow .formError {
 	width:auto;
    padding:2px; 
    font-family:Arial,Verdana;
}

 .formError li.ignored{
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:10px;
}

.narrow .formInfo, .narrow .formFields, .narrow .formWarning, .formError  {
    margin-bottom:3px;
}

.narrow .formError ul {
    padding-left:1em;
}

.formFields table {
	width:100%;
}

.wide .horizontal .formFields {
	float:left; 
}

div.hFormField { 
	float:left;
	margin-right:7px;
	margin-bottom:2px;
}

.narrow div.hFormField{
	float:none;
	margin:0;
}

.narrow .horizontal .formFields div {
	margin-bottom: 5px;
}

.wide .horizontal .formToolbar { 
	float:left;
}

.vertical .formFieldCaption { 
	padding-top:8px;
	white-space: nowrap;
	width:1px;
}

.vertical .formGroup {
    padding:4px;
    background-color: #99f;
	color:white;
    border-radius: 3px;
}

.vertical .formTitle { 
    padding:    10px;
    font-size:  20px;
    background-color:blue;
    color:white;
}

.narrow .vertical .formTitle{
	font-size:  1.2em; 
    font-family: Verdana; 
}

.vertical .formAll { 
    background-color:blue;
    color:white;
}

.vertical .formSection {
	padding:15px; 
    color:black;
    background-color:#ffe;
    vertical-align:top;
}

.narrow .vertical .formSection {
	padding:10px;
}

.vertical .formToolbar {
    padding:5px; 
    background-color:#ccc; 
    border:solid 1px #aaa;
}

.narrow .vertical .formToolbar { 
    padding:0 11px 5px 11px !important;
    background-color:#ffe;
    border:none;
}

.formToolbar input { 
    margin-right:10px;
}

.narrow .vertical .formToolbar input {
    margin-right:5px;
}

.formToolbar .btn-add{
	margin-top:-3px;
}

.wide form[method="post"] input[type="submit"] {
	border: solid 1px #888 !important;
	background-color: #99f !important;
	color: white;
}

.wide form[method=post]  input[type=button], .wide form[method=post]  a.button { 
	border:solid 1px #888;
	background-color:#999;
	color:white;
}

.narrow form[method=post] input[type=submit]:first-child { 
	background-color:#99f;
	color:white;
}

input[type="text"]{
	padding:0 5px !inportant;
}

.wide .checkbox, .wide .radiobutton { 
	border: none !important;
}

.narrow .formAll {
    display:table;
}

.hasDatepick{
	margin-left:0px;
}

.hFormField .hasDatepick{
	margin-left:1px;
}

#hr_Shifts-EditForm .hasDatepick, #acc_Articles-EditForm .hasDatepick{
	margin-left:2px;
}

.chzn-container{
	margin-top:2px;
}

/* Стилове за страньора 'hlp_Pager' */
a.pager {
    font-weight:bold;
    padding: 3px; 
    cursor:pointer;
    color:#444444; 
}

.narrow a.pager { 
	font-size: 0.9em;
	margin:5px;
	margin-left:0px;
}

a.pager:hover {
    border:solid  1px #aaaaaa; 
    -moz-border-radius:4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;   
    background-color:#eee;    
    text-decoration: none;
}

a.pagerSelected { 
    border:solid 1px #aaaaaa;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;
    background-color:#ffffee;
    color:#994444;
    font-weight:bold;
}

input, select, textarea {
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: solid 1px #9999ff;
	font-size:1.06em;
	padding-left: 3px;
}

.readonly {
	background:#ddd;
	border:solid 1px #aaa;
	min-width:100px;
}

.narrow input, .narrow select , .narrow textarea{
	font-size:1.1em; 
	padding-left:0;
}

.formFields input:focus, textarea:focus, select:focus { 
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset, 0px 0px 7px rgba( 153, 153, 255, 0.7);
}

.formFields input, textarea, select { 
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset ;
}


.inputError {
    border:solid 1px red;
}

.inputWarning {
    border:solid 1px #ff9900;
}

.keylist-group {
    padding:3px;
    font-size:0.9em;
    font-weight:bold;
    background-color:#eeeeff;
    color: #333;
}

.warningMsg {
    background:yellow;
    padding:5px;
    border:dotted 1px green;
    color:green;
}

.errorMsg {
    background:yellow;
    padding:5px; 
    border:dotted 1px red; 
    color:red;
}

.linkWithIcon, .docBgIcon {
    padding-left:22px !important;;  
    background-repeat:no-repeat;
    background-position: 3px center;
}

/* BUTTONS */
a.button, input[type=button], input[type=submit] {
    margin-right:3px;
    color:#036;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
	display:inline-block;
	-webkit-appearance: input;
    background-color:#ddd; 
    border:1px solid #bbb; 
    -moz-border-radius:3px;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    font-family: Arial, sans-serif; 
    font-size:13px;
    padding:2px 3px 3px 3px; /* IE6 */ 
}

.narrow a.button, .narrow input[type=button], .narrow input[type=submit]	{
	background-color:#eee; 
	border:1px solid #999; 
	-moz-border-radius:5px; 
	-webkit-border-radius: 5px; 
    border-radius: 5px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%; 
    padding:1px 4px 1px 4px; /* IE6 */
}

.narrow .btn-left { 
	-moz-border-radius-topright:0px !important; 
	-moz-border-radius-bottomright:0px !important; 
	border-bottom-right-radius: 0px !important; 
	border-top-right-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}

.narrow .btn-right {
	-moz-border-radius-bottomleft:0px !important;
	-moz-border-radius-topleft:0px !important; 
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	margin:0px !important;
}

.narrow .btn-middle { 
	-moz-border-radius:0px !important;
	border-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}

a.button:hover, input:hover[type=button] , input:hover[type=submit]{
    background-color:#ffb; 
}

input[type=checkbox] + label {
	color:#666;
}

.narrow input[type=checkbox] + label {
	background-color:transparent !important; 
}

input[type=checkbox]:checked + label {
	color:#000;
} 

input[type=radio] + label {
	color:#666;  
	background-color:transparent !important;
}

input[type=radio]:checked + label {
	color:#000;
}

.narrow input[type=radio]:checked + label {
		background-color:transparent !important;
}

.btn-disabled { 
	color:#bbb !important;
	cursor:default !important;
}

.wide .noicon {
    padding:2px 3px 3px 3px !important; /* IE6 */
}

.wide .btn-print { 
    background-image:url('../img/16/printer.png');
    background-position:3px center;
    background-repeat:no-repeat;
    padding-left:22px !important;
}

.wide .btn-csvExport { 
    background-image:url('../img/16/file_extension_xls.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-new-folder { 
    background-image:url('../img/16/folder_new.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-folder { 
    background-image:url('../img/16/folder.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-folder-y {
    background-image:url('../img/16/folder-y.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-save {
    background-image:url('../img/16/disk.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-download { 
    background-image:url('../img/16/down16.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-send { 
    background-image:url('../img/16/arrow_right.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-save-n-new { 
    background-image:url('../img/16/save_and_new.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-logs { 
	background-image:url('../img/16/action_log.png');
	padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-next,  .wide input.btn-prev {
    float: right;
}

.wide .btn-import {
    background-image:url('../img/16/table-import-icon.png');
    background-repeat:no-repeat;
    background-position: 3px center;
    padding-left:22px;
}

.wide .btn-with-selected {
    background-image:url('../img/16/checked.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.btn-with-selected-disabled:hover {
	background-color:#ddd !important;
}

.wide .btn-with-selected-disabled {
    background-image:url('../img/16/unchecked.png');
}

.btn-with-selected-disabled{
	color:#999 !important;
	cursor:default !important;
}

.btn-with-selected-disabled:hover {
	background-color:#ddd !important;
}

.wide .btn-install {
    background-image:url('../img/16/install.png');
    background-repeat:no-repeat;
    background-position: 3px center;
    padding-left:22px;
}


.wide .btn-filter { 
    background-image:url('../img/16/funnel.png');
    background-position: 3px center;
    padding-left:22px;
    background-repeat:no-repeat;
}

.wide .btn-bin {
    float:right;
    background-image:url('../img/16/bin_closed.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-list { 
    background-image:url('../img/16/application_view_list.png');
    padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.wide .btn-software-update {
    background-image:url('../img/16/software-update.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

.wide .btn-reject { 
    background-image:url('../img/16/delete.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
	float: right;
}

.wide .btn-restore {
    background-image:url('../img/16/restore.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

.wide .btn-delete { 
    background-image:url('../img/16/delete-icon.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

.wide .btn-cancel {
    background-image:url('../img/16/close16.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

.wide .btn-edit {
    background-image:url('../img/16/edit-icon.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

.wide .btn-add { 
    background-image:url('../img/16/star_2.png');
    background-position: 3px center;
    padding-left:22px !important;
    background-repeat:no-repeat;
}

div.rowtools { 
	display:inline;
	width:100%; 
}
 
.rowtools .r {
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {
	vertical-align:middle;
	display:table-cell;
	text-align:left;
}

.rowtools .nw {
	white-space:nowrap;
}

.rowtools .l img {
	vertical-align:middle;
	margin-right:5px;
	border:none;
}

div.notification-info {
	display: table;
	border:solid 1px #f90;
	background-color:#ffffcc;
	text-align:center;
	font-weight:bold;
    margin:10px; 
	margin-top:0px; 
    padding:10px;
    font-size: 1.3em; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
}

.narrow div.notification-info {
	display: table;
	margin:5px 0;
	border:solid 1px #f90;
	background-color:#ffffcc;
	padding:5px;
	font-size: 1.5em; 
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;
}
div.statuses-notice, div.statuses-success, div.statuses-warning, div.statuses-error {
    display: table;
	border:solid 1px #f90;
	background-color:#ffffcc;
	text-align:center;
	font-weight:bold;
    margin:10px auto 0; 
    padding:10px; 
    font-size: 1.3em; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    border-radius:15px;
}

.narrow div.statuses-notice, .narrow div.statuses-success, 
.narrow div.statuses-warning, .narrow div.statuses-error {
	margin:5px 0;
	padding:5px;
	font-size: 1.5em; 
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;
}

div.statuses-success , div.statuses-error, div.statuses-warning{
	background-color:#ffffcc;	
}

.state-draft {
    background-color: #88cc99;
}

.state-active {
    background-color: #ffeedd;
	background: rgba(250, 221, 187, 0.5);

}

.state-opened {
    background-color: #aaffbb;
}

.state-pending, .state-waiting{
    background-color: #cceeff;
}

.state-closed {
    background-color: #eee;
}

.state-stopped {
    background-color: #ffaa00;
}

.state-blocked {
    background-color: #ffaa00;
}

.state-rejected { 
    background-color: #cc6666;
}

.state-rejected td {
	color:#999;
}

.state-free { 
    background-color: #33cccc;
}

.state-hidden {
    background-color: #ffee77;
}

tr.zebra0 { 
    background-color:#eee;
}

tr.zebra1 {
    background-color:#fff;
}

.wide input[type=submit], .wide input[type=button] {
	cursor:pointer;
}

.narrow input[type=submit]{
	background-image:none;
}

.clearfix21:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.core_Cron  .listTable td p { 
	margin:5px; 
	font-family:monospace;
	font-size:0.85em;
}

table input[type=submit].btn-filter{
	position:relative;
	top:3px;
}
/*стилове за пакети*/
.elem-holder{
		position:relative;
		display:block;
		width:385px;
		padding:9px;
		margin-right:20px;
		margin-bottom:20px;
		float:left;
		height:85px;
		background:#fcfae8;
		box-shadow:1px 1px 6px rgba(0,0,0,0.4);
	}
	
	.narrow .elem-holder{
		width:365px;
	}
	
	.elem-img{
		width:84px;
		height:85px;
		float:left;
		margin-right:7px;
	}
	.elem-holder .pack-title{
		margin-top: 3px;
		display: inline-block;
	}
	
	.elem-img img{
		width:84px;
		height:85px;
	}
	
	.elem-holder small{
		line-height:16px;
		display:block;
		margin: 8px 0 7px 0;
		height:32px
	}
	
	.narrow .elem-holder small{
		font-size:13px;
		line-height:17px;
		margin:4px 0 8px 0;
	}
	
	.wide .elem-holder b{
		font-size:1.2em;
	}
	
	.narrow .elem-holder b{
		font-size:1.1em;
	}
	
	.elem-holder .btns{
		display:block;
		float:right;
		color:#999;
		font-size:0.8em;
		margin-right:-1px;
	}
	
	.narrow .elem-holder .btns{
		margin-right:-2px;
	}
	
	.elem-holder .btns a{
		color:#999;
		display:inline-block;
		margin: 0 4px 0px 4px;
	}
	
	.elem-holder .btns a:hover{
		text-decoration:underline;
	}
	
	.narrow .elem-holder  a{
		font-size:13px;
		display:inline-block;
		padding:1px 3px 1px 3px;
	}
	