/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с обичайно големи дисплеи и малки дисплеи          *
 *                                                              *
 ****************************************************************/
 
 /*общи функции и параметри*/
$blue:#048;
$dark-blue:#036;
$red:#c00;
$quiet-gray:#888;

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
  	-ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius4($tl,  $tr, $br,  $bl) {
    -moz-border-radius: $tl $tr  $br $bl;
    -webkit-border-radius: $tl  $tr  $br $bl;
    border-radius: $tl $tr  $br $bl;
}

@mixin rounded($vert, $horz, $rad) {
  border-#{$vert}-#{$horz}-radius: $rad;
  -moz-border-radius-#{$vert}#{$horz}: $rad;
  -webkit-border-#{$vert}-#{$horz}: $rad;
}

@mixin btn-style() {
	padding-left:22px !important;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
	height:24px;
	font-size: 13px;
}

@mixin shadow($sh-top, $sh-left, $sh-dist, $sh-col){
	-moz-box-shadow:$sh-top $sh-left $sh-dist $sh-col;
	-webkit-box-shadow: $sh-top $sh-left $sh-dist $sh-col;
	box-shadow:$sh-top $sh-left $sh-dist $sh-col;
}

@mixin shadow4($sh-top, $sh-left, $sh-dist, $sh-blur, $sh-col){
	-moz-box-shadow:$sh-top $sh-left $sh-dist $sh-blur $sh-col;
	-webkit-box-shadow: $sh-top $sh-left $sh-dist $sh-blur $sh-col;
	box-shadow:$sh-top $sh-left $sh-dist $sh-blur $sh-col;
}

@mixin no-shadow(){
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

@mixin richtext-message(){
	font-family:Courier New,mono;
	border: 1px dotted;
    margin: 0px 30px;
    padding:7px 10px 5px 55px;
    min-height:37px;
    background-repeat: no-repeat;
    background-position: 9px 7px;
    @include border-radius(5px);
    position:relative;
}
select.combo {  
	position: absolute; 
    visibility:hidden;
    overflow:hidden;
}
.wide select {
	margin-top:0;
}
 /* Стилове за елемента 'tab' */
 .noSelect, div.richedit-toolbar, #mainMenu, #subMenu, div.tab-row {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.tab-control div.tab-row .tab {
    display:        table;
    margin:         1px -15px 1px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    @include rounded(top, left, 5px);
    @include rounded(top, right, 5px);
	&.selected {
	    background:     #ffffff;
	    border:         1px solid #bbb;
	    border-top:     3px solid $dark-blue;
	    border-bottom:  none;
	    z-index:        3;
	    padding:        5px 5px 5px 5px; 
	    margin:         1px -14px -3px 18px;
	    top:            -3px;
	    font-weight:    bold;
	}
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
	@include border-radius(5px);
}

div.tab-control .tab-title {
	font-weight: bold;
}

/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc; 
    border: 1px solid #9999ff; 
    border-top: none; 
    padding: 5px; 
    font-size: 0.85em; 
    text-align: left;
	color:#333;
    font-size:0.9em;
    padding-top:10px; 
    margin-top:-4px;
	white-space:nowrap;
}

.narrow span.richEdit div.richedit-toolbar{
	padding-top:8px;
    padding-bottom:6px; 
	font-family: Verdana, Geneva, sans-serif;
	margin-top:0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top:-4px;
}

div.richEdit {
	display:table;
	width:100%;
}

.richEdit textarea {
	margin-bottom:0px;
	overflow:auto;
	border-bottom: 1px solid transparent; 
	width:100%;
}

.narrow .richEdit textarea { 
	border-bottom: 1px solid white; 
	width:600px; 
}

p.richtext {
	border: solid 1px red;
}

.richtext h1 {
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.2em;
}

.richtext{
	color:#333;
	font-family: sans-serif;
	line-height: 1.4em;
}

.richtext h2 { 
	margin-left:0px;
	margin-bottom:5px;
	padding:5px;
}

.richtext h3 {
    margin:5px;
    line-height:2em;
    margin-left:0px;
}
.richtext-text{
	background-color:rgba(255,255,128,0.3); 
	padding:10px;
	margin: 10px 0px; 
	border:solid 1px #ccc;
	font-family:Courier New,mono;
}

.richtext-info{
	@include richtext-message();
    color: #00529B;
    border-color:lighten(#00529B, 30%);
    background-color: #BDE5F8;
    background-image: url('../img/info_blue.png');
}
.richtext div span{
	display:table-cell;
	height:auto;
	vertical-align:middle;
}
.richtext-tip{
	@include richtext-message();
	color:#c9841a;
	border-color:lighten(#c9841a, 30%);
    background-color:#FEFED8;
    background-image: url('../img/App-tip-icon2.png');
}
.richtext-warning{
	@include richtext-message();
    color: #9F6000;
    border-color:lighten(#9F6000, 30%);
    background-color: #ffdc7a;
    background-image: url('../img/dialog_warning.png');
}
.richtext-success{
	@include richtext-message();
    color: #4F8A10;
    border-color:lighten(#4F8A10, 30%);
    background-color: #DFF2BF;
    background-image:url('../img/ok.png');
}
.richtext-error{
	@include richtext-message();
    color: #D8000C;
    border-color:lighten(#D8000C, 30%);
    background-color: #FFBABA;
    background-image: url('../img/dialog_error.png');
}
.richtext-question{
	@include richtext-message();
    color: #132c5c;
    border-color:lighten(#132c5c, 30%);
    background-color: #92aee6;
    background-image: url('../img/Help-icon.png');
}
@media print{
	.richtext-question{
    	padding-left:10px;
    	color: darken(#132c5c,10%);
	}
	.richtext-error{
 		padding-left:10px;
 		color: darken(#D8000C,10%);
	}
	.richtext-tip{
    	padding-left:10px;
    	color:darken(#c9841a,10%);
	}
	.richtext-success{
 		padding-left:10px;
 		color: darken(#4F8A10,10%);
	}
	.richtext-warning{
    	padding-left:10px;
    	color: darken(#9F6000,10%);
	}
	.richtext-info{
		padding-left:10px;
    	color: darken(#00529B,10%);
	}
}
.richtext-quote{
	font-size: 0.9em;
	color: #444;
	padding: 2px 0 0 15px;
	border-left: 5px solid #e0e0e0;
}
pre.richtext {
    font-family: Courier New,monospace;
    padding:10px;
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FFFFE6,endColorstr=#50FFFFE6); 
    zoom: 1;
    background-color:rgba(255, 255, 230, 0.5);
    color:#000;
    line-height:120%;
    border:solid 1px #ddd;
	white-space: pre-wrap;	
}

.wide pre.richtext.code{
	padding:0;
	max-width: 830px;
	border:1px solid #ddd;
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50F1F1FF,endColorstr=#50F1F1FF); 
    zoom: 1;
    width:100%;
	background:rgba(245,245,255,0.5);
}

pre.richtext.code code{
	background:none;
}

.richtext .oneLineCode {
	font-family: Courier New,monospace;
	background-color: #ffe;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	margin: 0 2px;
	padding: 0 5px;
}

.wide pre.richtext{
	overflow: auto; 
	max-width:810px;
}

.narrow  pre.richtext {
	overflow:visible;
	max-width: auto;
}

.richtext .code {
	white-space:pre;
	margin: 10px 0px;

}
pre.code{
    background: rgba(255,255,230,0.5);
}
div.richtext li {
    margin:0px;
    padding:0px;
    margin-left:1.5em;
    padding-top:0.2em;
}

div.richtext ul { 
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: circle;
}

div.richtext ul ul {
	list-style-type: square;
}

div.richtext ol {
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: decimal;
}

div.richtext ol ol {
	list-style-type: lower-alpha;
}

div.richtextHide {
	display:none;
	margin-left:4px;
	border-left:dotted 1px #ccc;
	padding:10px; 
}

a.rtbutton {
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}

a.rtbutton1 {
	padding-right:3px;
    cursor: pointer;
}

a.rtbutton:hover {
    background: white;
    border-style: outset;
}

/* Стилове за елемента 'list Table' */
table.listTable { 
    margin:0px 0 15px 0;
    border: 1px solid #999;
    border-collapse: collapse;
}

table.listTable>tbody>tr:hover  {
    background-color:#ffc;
}

table.listTable>tbody>tr>td {
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

table.listTable>thead>tr>th {
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle {
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar {
	margin-top:10px;
}

.listFilter {
	padding-bottom:10px; 
	float:left;
}

.narrow .listFilter{
	margin-left: -3px;
}
.narrow .tab-page .listFilter{
	margin-left:0;
}

.listSummary {
	padding-bottom:5px; 
	float:right;
}

.listPager{
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer {
	width:100%;
}

/* Стилове за показване на формите */
form {
    margin: 0px;
 }
 
.formError {
    border:solid 1px red; 
    background-color:#ff6;
    font-size:0.9em;
    padding:10px; 
  	@include border-radius(5px);
 }
 
 .wide .formError{
 	@include border-radius(5px); 
    text-align:left;
    min-width:300px;
 }
 
 .narrow .formError {
 	width:auto;
    padding:2px; 
    font-family:Arial,Verdana;
}

 .formError li.ignored{
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:10px;
}

.narrow .formInfo, .narrow .formFields, .narrow .formWarning, .formError  {
    margin-bottom:3px;
}

.narrow .formError ul {
    padding-left:1em;
}

.formFields table {
	width:100%;
}

.wide .horizontal .formFields {
	float:left; 
}

div.hFormField { 
	float:left;
	margin-right:7px;
	margin-bottom:2px;
}

.narrow div.hFormField{
	float:none;
	margin:0;
}

.narrow .horizontal .formFields div {
	margin-bottom: 5px;
}

.wide .horizontal .formToolbar { 
	float:left;
}

.vertical .formFieldCaption { 
	padding-top:8px;
	white-space: nowrap;
	width:1px;
}

.vertical .formGroup {
    padding:4px;
    background-color: #99f;
	color:white;
    border-radius: 3px;
}

.vertical .formTitle { 
    padding:    10px;
    font-size:  20px;
    background-color:blue;
    color:white;
}

.narrow .vertical .formTitle{
	font-size:  1.2em; 
    font-family: Verdana; 
}

.vertical .formAll { 
    background-color:blue;
    color:white;
}

.vertical .formSection {
	padding:15px; 
    color:black;
    background-color:#ffe;
    vertical-align:top;
}

.narrow .vertical .formSection {
	padding:10px;
}

.vertical .formToolbar {
    padding:5px; 
    background-color:#ccc; 
    border:solid 1px #aaa;
}

.vertical input{
	margin-left:0;
}
.narrow .vertical .formToolbar { 
    padding:0 11px 5px 11px !important;
    background-color:#ffe;
    border:none;
}

.formToolbar input { 
    margin-right:10px;
}

.narrow .vertical .formToolbar input {
    margin-right:5px;
}

.formToolbar .btn-add{
	margin-top:-3px;
}

.wide form[method="post"] input[type="submit"] {
	border: solid 1px $quiet-gray !important;
	background-color: #99f !important;
	color: white;
}

.wide form[method=post]  input[type=button], .wide form[method=post]  a.button { 
	border:solid 1px $quiet-gray;
	background-color:#999;
	color:white;
}

.narrow form[method=post] input[type=submit]:first-child { 
	background-color:#99f;
	color:white;
}

input[type="text"]{
	padding:0 5px !inportant;
}

.wide .checkbox, .wide .radiobutton, .wide input[type=checkbox], .wide input[type=radio] { 
	border: none !important;
}

.narrow .formAll {
    display:table;
}

.hFormField .hasDatepick{
	margin-left:1px;
}

#hr_Shifts-EditForm .hasDatepick, #acc_Articles-EditForm .hasDatepick{
	margin-left:2px;
}

/* Стилове за страньора 'hlp_Pager' */
a.pager {
    font-weight:bold;
    padding: 3px; 
    cursor:pointer;
    color:#444444; 
    &:hover {
	    border:solid  1px #aaaaaa; 
		@include border-radius(4px);
	    padding:2px;   
	    background-color:#eee;    
	    text-decoration: none;
	}
	&.pagerSelected { 
	    border:solid 1px #aaaaaa;
	    @include border-radius(4px);
	    padding:2px;
	    background-color:#ffffee;
	    font-weight:bold;
	}
}

.narrow a.pager { 
	font-size: 0.9em;
	margin:5px;
	margin-left:0px;
}

input, select, textarea {
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: solid 1px #9999ff;
	font-size:1.07em;
	padding-left: 3px;
}

textarea{
	margin-left:0;
}

.readonly {
	background:#ddd;
	border:solid 1px #aaa;
	min-width:100px;
}

.narrow input, .narrow select , .narrow textarea{
	font-size:1.1em; 
}

.formFields input:focus, textarea:focus, select:focus { 
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset, 0px 0px 7px rgba( 153, 153, 255, 0.7);
}

.formFields input, textarea, select { 
	margin-top:0px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset ;
}

.inputError {
    border:solid 1px red;
}

.inputWarning {
    border:solid 1px #ff9900;
}

.keylist-group {
    padding:3px;
    font-size:0.9em;
    font-weight:bold;
    background-color:#eeeeff;
    color: #333;
}

.warningMsg {
    background:yellow;
    padding:5px;
    border:dotted 1px green;
    color:green;
}

.errorMsg {
    background:yellow;
    padding:5px; 
    border:dotted 1px red; 
    color:red;
}

.linkWithIcon, .docBgIcon {
	padding-left:22px !important;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

.linkWithIcon{
	height:24px;
}

.docBgIcon{
	line-height:24px;
}
/* BUTTONS */
a.button, input[type=button], input[type=submit] {
    margin-right:3px;
    color:$dark-blue;
    font-weight:bold;
    line-height:15px;
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
    display:inline-block;
    -webkit-appearance: input;
    background-color:#ddd; 
    border:1px solid #bbb; 
    height:24px;
    @include border-radius(3px);
    font-family: Arial, sans-serif; 
    font-size:13px;
    padding:2px 3px 3px 3px; /* IE6 */ 
}

.narrow a.button, .narrow input[type=button], .narrow input[type=submit]	{
	background-color:#eee; 
	border:1px solid #999; 
	@include border-radius(5px);
	height:25px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
	font-size: 0.9em;
    padding:3px 4px 2px 4px; /* IE6 */
}

@-moz-document url-prefix() { 
	.narrow a.button, .narrow input[type=button], .narrow input[type=submit]{
		 padding:0px 4px 2px 4px; /* IE6 */
	}
}

.narrow .single-thread .toolbar .button{
	border-right:1px solid #999;
	border-left:none;
	margin-right:0 !important;
	@include border-radius(0);
}

.narrow .toolbar .btn-left { 
    @include rounded(top, right, 0px);
    @include rounded(bottom, right, 0px);
	border-right: none ;
	margin:0px !important;
}

.narrow .toolbar .btn-right {
	@include rounded(top, left, 0px) ;
	@include rounded(bottom, left, 0px);
	margin:0px 0px 0 0 !important;
	
}

.narrow .toolbar .btn-middle { 
	@include border-radius(0px);
	border-right: none;
	margin:0px !important;
}

.narrow .single-thread .toolbar div .button:first-child{
	border-left:1px solid #999;
	@include rounded(top,left,5px);
	@include rounded(bottom,left,5px);
}
.narrow .single-thread .toolbar div .button:last-child{
	@include rounded(top, right, 5px );
	@include rounded(bottom, right, 5px);
}

a.button:hover, input:hover[type=button] , input:hover[type=submit]{
    background-color:#ffb; 
}

input[type=checkbox] + label {
	color:#666;
}

.narrow input[type=checkbox] + label {
	background-color:transparent !important; 
}

input[type=checkbox]:checked + label {
	color:#000;
} 

input[type=radio] + label {
	color:#666;  
	background-color:transparent !important;
}

input[type=radio]:checked + label {
	color:#000;
}

.narrow input[type=radio]:checked + label {
		background-color:transparent !important;
}

.btn-disabled { 
	color:#bbb !important;
	cursor:default !important;
}

.wide .noicon {
    padding:2px 3px 3px 3px !important; /* IE6 */
}

.wide .btn-print { 
    background-image:url('../img/16/printer.png');
    @include btn-style();
}

.wide .btn-csvExport { 
    background-image:url('../img/16/file_extension_xls.png');
    @include btn-style();
}

.wide .btn-new-folder { 
    background-image:url('../img/16/folder_new.png');
    @include btn-style();
}

.wide .btn-folder { 
    background-image:url('../img/16/folder.png');
    @include btn-style();
}

.wide .btn-folder-y {
    background-image:url('../img/16/folder-y.png');
    @include btn-style();
}

.wide .btn-save {
    background-image:url('../img/16/disk.png');
    @include btn-style();
}

.wide .btn-download { 
    background-image:url('../img/16/down16.png');
    @include btn-style();
}

.wide .btn-send { 
    background-image:url('../img/16/arrow_right.png');
    @include btn-style();
}

.wide .btn-save-n-new { 
    background-image:url('../img/16/save_and_new.png');
    @include btn-style();
}

.wide .btn-logs { 
	background-image:url('../img/16/action_log.png');
	@include btn-style();
}

.wide .btn-next,  .wide input.btn-prev {
    float: right;
}

.wide .btn-import {
    background-image:url('../img/16/table-import-icon.png');
    @include btn-style();
}

.wide .btn-with-selected {
    background-image:url('../img/16/checked.png');
    @include btn-style();
}

.btn-with-selected-disabled:hover {
	background-color:#ddd !important;
}

.wide .btn-with-selected-disabled {
    background-image:url('../img/16/unchecked.png');
}

.btn-with-selected-disabled{
	color:#999 !important;
	cursor:default !important;
}

.btn-with-selected-disabled:hover {
	background-color:#ddd !important;
}

.wide .btn-install {
    background-image:url('../img/16/install.png');
    @include btn-style();
}

.wide .btn-filter { 
    background-image:url('../img/16/funnel.png');
    @include btn-style();
}

.wide .btn-bin {
    float:right;
    background-image:url('../img/16/bin_closed.png');
    @include btn-style();
}

.wide .btn-list { 
    background-image:url('../img/16/application_view_list.png');
    @include btn-style();
}

.wide .btn-software-update {
    background-image:url('../img/16/software-update.png');
    @include btn-style();
}

.wide .btn-reject { 
    background-image:url('../img/16/delete.png');
    @include btn-style();
	float: right;
}

.wide .btn-restore {
    background-image:url('../img/16/restore.png');
    @include btn-style();
}

.wide .btn-delete { 
    background-image:url('../img/16/delete-icon.png');
    @include btn-style();
}

.wide .btn-cancel {
    background-image:url('../img/16/close16.png');
    @include btn-style();
}

.wide .btn-edit {
    background-image:url('../img/16/edit-icon.png');
    @include btn-style();
}

.wide .btn-add { 
    background-image:url('../img/16/star_2.png');
    @include btn-style();
}

div.rowtools { 
	display:inline;
	width:100%; 
}
 
.rowtools .r {
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {
	vertical-align:middle;
	display:table-cell;
	text-align:left;
	img {
		vertical-align:middle;
		margin-right:5px;
		border:none;
	}
}

.rowtools .nw {
	white-space:nowrap;
}

div.notification-info {
	display: table;
	border:solid 1px #f90;
	background-color:#ffffcc;
	text-align:center;
	font-weight:bold;
    margin:10px; 
	margin-top:0px; 
    padding:10px;
    font-size: 1.3em; 
    @include border-radius(15px);
}

.narrow div.notification-info {
	display: table;
	margin:5px 0;
	border:solid 1px #f90;
	background-color:#ffffcc;
	padding:5px;
	font-size: 1.5em; 
	@include border-radius(0px);
}
div.statuses-notice, div.statuses-success, div.statuses-warning, div.statuses-error {
    display: table;
	border:solid 1px #f90;
	background-color:#ffffcc;
	text-align:center;
	font-weight:bold;
    margin:10px auto 0; 
    padding:10px; 
    font-size: 1.3em; 
    @include border-radius(15px);
}

.narrow div.statuses-notice, .narrow div.statuses-success, 
.narrow div.statuses-warning, .narrow div.statuses-error {
	margin:5px 0;
	padding:5px;
	font-size: 1.5em; 
	@include border-radius(0px);
}

div.statuses-success , div.statuses-error, div.statuses-warning{
	background-color:#ffffcc;	
}
.state-draft {
    background-color: #bef7fd;
}

.state-active {
    background-color: #ffeedd;
	background: rgba(250, 221, 187, 0.5);

}

.state-opened {
    background-color: #aaffbb;
}

.state-pending, .state-waiting{
    background-color: #fbabfb;
}

.state-closed {
    background-color: #eee;
}

.state-stopped {
    background-color: #feadad;
}

.state-blocked {
    background-color: #ffaa00;
}

.state-rejected { 
    background-color: #cc6666;
}

.state-rejected td, .state-rejected .document th, .state-rejected .document td a, 
.state-rejected .richtext, .state-rejected .richtext a, , .state-rejected .richtext div, .state-rejected .cCode{
	color:#999 !important;
	text-decoration:line-through;
}

.state-free { 
    background-color:#33CCF5;
}

.state-hidden {
    background-color: #ffee77;
}

.state-revert {
 	background-color: #cc9933;
}

tr.zebra0 { 
    background-color:#eee;
}

tr.zebra1 {
    background-color:#fff;
}

.wide input[type=submit], .wide input[type=button] {
	cursor:pointer;
}

.narrow input[type=submit]{
	background-image:none;
}

.clearfix21:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.core_Cron  .listTable td p { 
	margin:5px; 
	font-family:monospace;
	font-size:0.85em;
}

table input[type=submit].btn-filter{
	position:relative;
	top:3px;
}
/*стилове за пакети*/
.elem-holder{
	position:relative;
	display:block;
	width:385px;
	padding:9px;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
	height:85px;
	background:#fcfae8;
	box-shadow:1px 1px 6px rgba(0,0,0,0.4);
	.pack-title{
		margin-top: 3px;
		display: inline-block;
	}
	small{
		line-height:16px;
		display:block;
		margin: 8px 0 7px 0;
		height:32px
	}
	b{
		font-size:1.2em;
	}
	.btns{
		display:block;
		float:right;
		color:#999;
		font-size:0.8em;
		margin-right:-1px;
		a{
			display:inline-block;
			margin: 0 4px 0px 4px;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}

.narrow .elem-holder{
	width:365px;
	small{
		font-size:13px;
		line-height:17px;
		margin:4px 0 8px 0;
	}
	b{
		font-size:1.1em;
	}
	.btns{
		margin-right:-2px;
		a{
			font-size:13px;
			display:inline-block;
			padding:1px 3px 1px 3px;
		}
	}
}	
.elem-img{
	width:84px;
	height:85px;
	float:left;
	margin-right:7px;
	img{
		width:84px;
		height:85px;
	}
}
	

.transition {
  -webkit-transition: all 3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
