a:link, a:visited {
  color: #048; }
a:hover {
  color: #e70; }
a.out {
  color: #06f; }
  a.out:visited {
    color: #60c; }

select, input, textarea {
  border: solid 1px #99f;
  background: #fff;
  color: #222; }

div.richEdit div.richedit-toolbar {
  background: #e0e0e0;
  border: solid 1px #99f;
  border-top: none; }

.chzn-container-single .chzn-single, .chzn-container-active .chzn-single, .chzn-container-active .chzn-single-with-drop {
  border: 1px solid #99f;
  background-color: #fff;
  color: #222; }

.chzn-container .chzn-results .highlighted {
  background-color: #39f;
  color: #fff !important; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #39f;
  color: #fff; }

.highlight, .highlight-row {
  background-color: #ffb; }

a.button, input[type="button"], input[type="submit"], button {
  color: #036;
  background-color: #ddd;
  border: 1px solid #bbb; }

.narrow a.button, .narrow input[type=button], .narrow input[type=submit], .narrow button {
  border: 1px solid #999; }

a.button:hover, input:hover[type=button], input:hover[type=submit], button:hover {
  background-color: #ffb; }

form[method="post"] input[type="submit"] {
  border: solid 1px #888;
  background-color: #99f;
  color: white; }

.toolbar form[method=post] input[type=button], .toolbar form[method=post] a.button {
  border: solid 1px #888;
  background-color: #888;
  color: white; }

.vertical .formTitle {
  color: white;
  background-color: #99f;
  border: solid 1px #88e; }

.vertical .formGroup {
  color: white;
  background-color: #99f; }

td.keylist-group > div {
  background-color: #eef;
  border: 1px solid #e0e0f0;
  color: #333; }

a.pager:hover {
  border: solid 1px #aaa;
  background-color: #eee; }
a.pager.pagerSelected {
  border: solid 1px #aaa;
  background-color: #ffc; }

div.tab-control div.tab-row .tab {
  background: #ddd;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 2px solid #048; }
  div.tab-control div.tab-row .tab.selected {
    background: #fff;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: 2px solid #048; }

div.tab-control.alphabet div.tab-row .tab {
  background: #ddd;
  border: 1px solid #aaa; }
  div.tab-control.alphabet div.tab-row .tab:hover a {
    color: red !important; }
  div.tab-control.alphabet div.tab-row .tab.selected {
    background: #ffc;
    border: 1px solid #aaa; }
  div.tab-control.alphabet div.tab-row .tab:hover {
    background-color: #ffc; }

div.tab-control div.tab-page {
  border: 1px solid #bbb;
  background: #fff; }

div.alphabet div.tab-page {
  border: none;
  background: transparent; }
