//линкове
a {
  &:link, &:visited {
    color: #048;
  }
  &:hover {
    color: #e70;
  }
  &.out {
    color: #0066ff;
    &:visited {
      color: #6600cc;
    }
  }
}

// форм елементи
select, input, textarea  {
	border: solid 1px #9999ff;
	background: #fff;
    color: #222;
}

div.richEdit div.richedit-toolbar {
    background: #e0e0e0; 
    border: solid 1px #9999ff;
    border-top: none;
}

// цвят на селектирания ред в autocomplete
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
      background: #3399ff;
      color: #ffffff;
}

// цвят при highlight: при търсене и при селектиране в "с избраните"
.highlight, .highlight-row{
    background-color: #ffffbb;
}


//бутони
a.button, input[type="button"], input[type="submit"], button {
	color: #036;
    background-color: #ddd; 
    border: 1px solid #bbb; 
}
.narrow a.button, .narrow input[type=button], .narrow input[type=submit], .narrow button { 
    border: 1px solid #999; 
}
a.button:hover, input:hover[type=button] , input:hover[type=submit], button:hover {
    background-color: #ffb; 
}

form[method="post"] input[type="submit"] {
    border: solid 1px #888;
    background-color: #9999ff;
    color: white;
}
.toolbar {
  form[method=post]  input[type=button], form[method=post]  a.button {
    border: solid 1px #888;
    background-color: #888;
    color: white;
  }
}

//форми
.vertical .formTitle { 
	color: white;
    background-color: #9999ff;
    border: solid 1px #88e;
}

.vertical .formGroup{
	color: white;
    background-color: #9999ff;
}

td.keylist-group > div {
	background-color: #eeeeff;
    border: 1px solid #e0e0f0;
    color: #333;
}

//пагинатор
a.pager{
	&:hover {
        border: solid  1px #aaa;
        background-color: #eee;  
    }
    &.pagerSelected { 
        border: solid 1px #aaa;
        background-color: #ffffcc;
    }
}

//табове
div.tab-control div.tab-row .tab {
	background: #ddd;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: 2px solid #048;
    &.selected {
        background: #ffffff;
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
        border-top: 2px solid #048;
    }
}

div.tab-control.alphabet div.tab-row .tab {
	background: #ddd;
	border: 1px solid #aaa ;
	
    &:hover a {
        color: red !important;
    }
    &.selected {
        background: #ffffcc;
        border: 1px solid #aaa;
    }
    &:hover {
        background-color: #ffffcc;
    }
}

div.tab-control div.tab-page {
    border: 1px solid #bbb;
    background: #ffffff;
}

div.alphabet div.tab-page {
    border: none;
    background: transparent;
}
