.document {
  max-width: 700px !important;
  min-width: 200px !important;
  width: 100% !important;
  border: none;
  padding: 0;
}
.labelBreak {
  page-break-after: auto;
  page-break-inside: avoid;
  margin-bottom: 10mm;
}
.blankImage img {
  width: 650px;
  padding-bottom: 0;
  display: inline!important;
  vertical-align: bottom;
  border: 0;
  height: auto;
  outline: none;
}
div.richtextHide {
  display:block !important;
}

.qrcode img, .blankImage img {
  height: 50px !important;
  width: auto;
}