.document-email {
  max-width: 500px !important;
  width: 100% !important;
}
.labelBreak {
  page-break-after: auto;
  page-break-inside: avoid;
  margin-bottom: 10mm;
}
.blankImage img {
  max-width: 500px !important;
  width: 100% !important;
  padding-bottom: 0;
  display: inline!important;
  vertical-align: bottom;
  border: 0;
  height: auto;
  outline: none;
}
div.richtextHide {
  display:block !important;
}