/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с малки дисплеи (например мобилни телефони)        *
 *                                                              *
 ****************************************************************/



/* Стилове за елемента 'combobox' */
input.combo {	
	height:auto; /*diff*/
 }

select.combo {  /*diff*/
	position: absolute; 
    visibility:hidden;
    overflow:hidden;
}


 

/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc;  /*common*/
    border: 1px solid #9999ff; /*common*/
    border-top: none; /*common*/
    padding: 5px; /*common*/
    font-size: 0.85em; /*common*/
    text-align: left; /*common*/
    padding-top:8px;
    padding-bottom:6px; 
	font-family: Verdana, Geneva, sans-serif;
	color:#333; /*common*/
    font-size:0.9em; /*common*/
	margin-top:0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top:-4px;
}

span.richEdit { /*common*/
	display:table;
	width:100%;
}

.richEdit textarea { /*common*/
	border-bottom: 1px solid white; /*diff*/
	margin-bottom:0px;
	overflow:auto;
	width:600px; /*diff*/
}


a.rtbutton {
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}
 

a.rtbutton:hover {
    background: white;
    border-style: outset;
}

p.richtext { /*common*/
	border: solid 1px red;
}

.richtext h1 { /*common*/
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.2em;
}

.richtext h3 {
    margin:5px; /*common*/
}

pre.richtext { /*common*/
    font-family: Courier New,monospace;
    padding:10px;
    background-color:#ffe;
    color:#000;
    line-height:120%;
    border:solid 1px #ccc;
	white-space: pre-wrap;	
}

.richtext .code { /*common*/
	white-space:pre;
}

div.richtext li { /*common*/
    margin:0px;
    padding:0px;
    margin-left:1.5em;
    padding-top:0.2em;
}

div.richtext ul { /*common*/
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: circle;
}

div.richtext ul ul { /*common*/
	list-style-type: square;
}

div.richtext ol { /*common*/
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: decimal;
}

div.richtextHide { /*common*/
	display:none;
	margin-left:4px;
	border-left:dotted 1px #ccc;
	padding:10px; 
}

a.rtbutton { /*common*/
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}

a.rtbutton1 { /*common*/
	padding-right:3px;
    cursor: pointer;
}

a.rtbutton:hover { /*common*/
    background: white;
    border-style: outset;
}


input, select, textarea { /*common*/
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: solid 1px #9999ff;
	font-size:1.1em; /*diff*/
}


/* Стилове за елемента 'list Table' */
table.listTable { /*common*/
    margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
}

table.listTable>tbody>tr:hover  { /*common*/
    background-color:#ffc !important;
}

table.listTable>tbody>tr>td { /*common*/
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

table.listTable>thead>tr>th { /*common*/
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle { /*common*/
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar { /*common*/
	margin-top:10px;
} 

.listFilter { /*common*/
	padding-bottom:5px; 
	float:left;
}

.listSummary { /*common*/
	padding-bottom:5px; 
	float:right;
}

.listPager{ /*common*/
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer { /*common*/
	width:100%;
}

.linkWithIcon, .docBgIcon { /*common*/
    padding-left:22px !important;;  
    background-repeat:no-repeat;
    background-position: 3px center;
}


/* Стилове за показване на формите */

form {
    margin: 0px; /*common*/
}

.formError {
    width:auto; /*diff*/
    border:solid 1px red; /*common*/
    background-color:#ff6; /*common*/
    padding:2px; /*diff*/
    font-family:Arial,Verdana; /*diff*/
    font-size:0.9em; /*common*/
}

.formError ul { /*diff*/
    padding-left:1em;
}

.formError li.ignored{ /*common*/
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:3px; /*diff*/
}

.vertical .formGroup { /*common*/
    padding:4px;
    background-color: #99f;
	color:white;
    border-radius: 3px;
}

.vertical .formTitle { /*common*/
    padding:    4px; /*diff*/
    font-size:  1.2em; /*diff*/
    font-family: Verdana; /*diff*/
    padding:    10px;
    font-size:  20px;
	background-color:blue;
	color:white;
}

.formAll { /*diff*/
    display:table;
}

.vertical .formSection { /*common*/
    padding:2px; /*diff*/
    color:black;
    background-color:#ffe;
    vertical-align:top;
}

.vertical .formToolbar { /*diff*/
    padding:2px;
    background-color:#ffe;
}

.vertical .formToolbar input { /*diff*/
    margin-right:5px;
}

.horizontal .formFields div { /*diff*/
	margin-bottom:5px;
}


form[method=post] input[type=submit]:first-child { /*diff*/
	background-color:#99f !important;
	color:white;
}

a.pager { /*diff*/
	font-size: 0.9em;
	margin:5px;
	margin-left:0px;
	font-family:Verdana;
	font-weight:bold; /*common*/
	padding:1px;
}

a.pagerSelected { /*common*/
	border:solid 1px #aaaaaa;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:2px;
	background-color:#ffffee;
 	color:#994444;
	font-weight:bold;
}

a.button, input[type=button], input[type=submit] { /*common*/
	background-color:#eee; /*diff*/
	color:#036;
    font-weight:bold;
	border:1px solid #999; /*diff*/
	-moz-border-radius:5px; /*diff*/
	-webkit-border-radius: 5px; /*diff*/
    border-radius: 5px; /*diff*/
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; /*diff*/
    font-size:100%;/*diff*/
    line-height:130%; /*diff*/
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
    padding:1px 4px 1px 4px; /* IE6 */
	display:inline-block;
}

.btn-left { /*diff*/
	-moz-border-radius-topright:0px !important; 
	-moz-border-radius-bottomright:0px !important; 
	border-bottom-right-radius: 0px !important; 
	border-top-right-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}

.btn-right { /*diff*/
	-moz-border-radius-bottomleft:0px !important;
	-moz-border-radius-topleft:0px !important; 
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	margin:0px !important;
}

.btn-middle { /*diff*/
	-moz-border-radius:0px !important;
	border-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}


a.button, input:hover[type=button] , input:hover[type=submit] { /*common*/
	background-color:#ffb; 
}
  
input[type=checkbox] + label { /*common*/
	color:#666; 
	background-color:transparent !important; /*diff*/
}

input[type=checkbox]:checked + label { /*common*/
	color:#000;
} 

input[type=radio] + label { /*common*/
	color:#666;  
	background-color:transparent !important; /*diff*/
}

input[type=radio]:checked + label { /*common*/
	color:#000;
}

.inputError { /*common*/
	border:solid 1px red;
}

.inputWarning { /*common*/
	border:solid 1px #ff9900;
}

.keylist-group { /*common*/
	padding:3px;
	font-size:0.9em;
	font-weight:bold;
	background-color:#ffcc66;
	color: #666;
}

.warningMsg { /*common*/
	background:yellow;
	padding:5px;
	border:dotted 1px green;
	color:green;
}

.errorMsg { /*common*/
	background:yellow;
	padding:5px; 
	border:dotted 1px red; 
	color:red;
}


div.rowtools {  /*common*/
	display:inline;
	width:100%; 
}
 
.rowtools .r {  /*common*/
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {  /*common*/
	vertical-align:middle;
	display:table-cell;
	text-align:left;
}

.rowtools .nw {  /*common*/
	white-space:nowrap;
}

.rowtools .l img {  /*common*/
	vertical-align:middle;
	margin-right:5px;
	border:none;
}

div.notification-info {
	display: table;
	margin-top:5px; /*diff*/
	margin-bottom:5px; /*diff*/
	border:solid 1px #f90;
	background-color:#ffffcc;
	padding:5px; /*diff*/
	text-align:center;
	font-weight:bold;
	font-size: 1.5em; /*diff*/
}

div.statuses-notice, div.statuses-success, div.statuses-warning, div.statuses-error {/*common*/
    display: table;
	margin-top:5px; /*diff*/
	margin-bottom:5px; /*diff*/
	border:solid 1px #f90;
	background-color:#ffffcc;
	padding:5px; /*diff*/
	text-align:center;
	font-weight:bold; 
	font-size: 1.5em; /*diff*/
}

div.statuses-success { /*common*/
	background-color:#ffffcc;	
}

div.statuses-warning { /*common*/
	background-color:#ffffcc;	
}

div.statuses-error { /*common*/
	background-color:#ffffcc;	
}


/****************************************************************************************
 *                                                                                      *
 *  Класове за състояния                                                                *
 *                                                                                      *
 ****************************************************************************************/
.state-draft { /*common*/
    background-color: #88cc99;
}

.state-active { /*common*/
    background-color: #ffeedd;
}

.state-opened { /*common*/
    background-color: #aaffbb;
}

.state-waiting { /*common*/
    background-color: #cceeff;
}

.state-closed { /*common*/
    background-color: #eee;
}

.state-stopped { /*common*/
    background-color: #ffaa00;
}

.state-rejected { /*common*/
    background-color: #cc6666;
}

.state-free { /*common*/
    background-color: #33cccc;
}

.state-hidden { /*common*/
    background-color: #ffee77;
}

.clearfix21:after { /*common*/
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

tr.zebra0 { /*common*/
    background-color:#eee;
}

tr.zebra1 { /*common*/
    background-color:#fff;
}


.btn-disabled { /*common*/
	color:#bbb !important;
	cursor:default !important;
}

.btn-with-selected[type=submit] {
}

.btn-with-selected-disabled[type=submit] { /*common*/
	color:#999 !important;
	cursor:default !important;
}

.btn-with-selected-disabled[type=submit]:hover { /*common*/
	background-color:#ddd !important;
}

.checkbox { /*common*/
	border: none !important;
}

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab { /*common*/
    display:        table;
    margin:         1px -15px 1px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}



div.tab-control div.tab-row .tab.selected { /*common*/
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     3px solid #036;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 5px 5px; 
    margin:         1px -14px -3px 18px;
    top:            -3px;
    font-weight:    bold;
}

div.tab-control div.tab-page { /*common*/
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
    /* min-width:95%;  махнато за ради Upload формата*/
    /* display: table; */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.tab-control .tab-title { /*common*/
	font-weight: bold;
}
