/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с малки дисплеи (например мобилни телефони)        *
 *                                                              *
 ****************************************************************/



/* Стилове за елемента 'combobox' */
INPUT.combo {	
	height:auto;;
 }

SELECT.combo {  
	position: absolute; 
    visibility:hidden;
    overflow:hidden;
}


 

/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc; 
    border: 1px solid #9999ff; 
    border-top: none; 
    padding: 5px; 
    font-size: 0.85em; 
    text-align: left;
    padding-top:10px; 
	font-family: Verdana, Geneva, sans-serif;
	color:#333;
    font-size:0.9em;
	margin-top:0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.richEdit TEXTAREA {
	border-bottom: 1px solid white;
	margin-bottom:0px;
	overflow:auto;
	width:100%;
}


A.rtbutton {
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}
 

A.rtbutton:hover {
    background: white;
    border-style: outset;
}


INPUT, SELECT, TEXTAREA {
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: solid 1px #9999ff;
	font-size:1.1em;
}


/* Стилове за елемента 'list Table' */
TABLE.listTable { 
    margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
}

TABLE.listTable>TBODY>TR:hover  {
    background-color:#ffc !important;
}

TABLE.listTable>TBODY>TR>TD {
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

TABLE.listTable>THEAD>TR>TH {
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle {
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar {
	margin-top:10px;
} 

.listFilter {
	padding-bottom:5px; 
	float:left;
}

.listSummary {
	padding-bottom:5px; 
	float:right;
}

.listPager{
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer {
	overflow:auto; 
	width:100%;
}

.linkWithIcon {
    padding-left:22px;  
    background-repeat:no-repeat;
    background-position: 3px center;
}


/* Стилове за показване на формите */

FORM {
    margin: 0px;
}

.formError {
    width:auto; 
    border:solid 1px red;
    background-color:#ff6;
    padding:2px;
    font-family:Arial,Verdana;
    font-size:0.9em;
}

.formError UL {
    padding-left:1em;
}

.formError LI.ignored{
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:3px;
}

.formGroup {
    padding:2px;
    background-color: #ccccff;
}

.formTitle {
    padding:    4px;
    font-size:  1.2em;
    font-family: Verdana;
}

.formAll {
    display:table;
}

.formSection {
    padding:2px;
    color:black;
}

.formToolbar {
    padding:2px; 
}

.formToolbar INPUT {
    margin-right:5px;
}

A.button {
  border:outset 2px #ccc;
  padding: 2px;
  text-decoration: none;
  background-color:#eee;
  color:#111;
}

A.pager {
	font-size: 0.9em;
	margin:5px;
	margin-left:0px;
	font-family:Verdana;
	font-weight:bold;
	padding:1px;
}

A.pagerSelected {
	border:solid 1px #aaaaaa;
	-moz-border-radius:4px;
	padding:2px;
	background-color:#ffffee;
 	color:#994444;
	font-weight:bold;
}



INPUT[type=button], INPUT[type=submit] {
    
	background-color:#eee;
	color:#036;
    font-weight:bold;
	border:1px solid #999;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
    padding:1px 4px 1px 4px; /* IE6 */
}

.btn-left {
	-moz-border-radius-topright:0px !important; 
	-moz-border-radius-bottomright:0px !important; 
	border-bottom-right-radius: 0px !important; 
	border-top-right-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}

.btn-right {
	-moz-border-radius-bottomleft:0px !important;
	-moz-border-radius-topleft:0px !important; 
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	margin:0px !important;
}

.btn-middle {
	-moz-border-radius:0px !important;
	border-radius: 0px !important;
	border-right: none !important;
	margin:0px !important;
}


input:hover[type=button] , input:hover[type=submit]{
	background-color:#ffb; 
}
  
INPUT[type=checkbox] + LABEL {
	color:#666; 
	background-color:transparent !important;
}

INPUT[type=checkbox]:checked + LABEL {
	color:#000;
} 

INPUT[type=radio] + LABEL {
	color:#666;  
	background-color:transparent !important;
}

INPUT[type=radio]:checked + LABEL {
	color:#000;
}

.inputError {
	border:solid 1px red;
}

.inputWarning {
	border:solid 1px #ff9900;
}

.keylist-group {
	padding:3px;
	font-size:0.9em;
	font-weight:bold;
	background-color:#ffcc66;
	color: #666;
}

.warningMsg {
	background:yellow;
	padding:5px;
	border:dotted 1px green;
	color:green;
}

.errorMsg {
	background:yellow;
	padding:5px; 
	border:dotted 1px red; 
	color:red;
}

.formTitle {
    padding:    10px;
    font-size:  20px;
	background-color:blue;
	color:white;
}

DIV.rowtools {
	display:table;
	width:100%; 
}
 
.rowtools .r {
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {
	vertical-align:middle;
	display:table-cell;
	text-align:left;
}

.rowtools .nw {
	white-space:nowrap;
}

.rowtools .l IMG {
	vertical-align:middle;
	margin-right:5px;
	border:none;
}

DIV.notification-info {
	display: table;
	margin-top:5px;
	margin-bottom:5px;
	border:solid 1px #f90;
	background-color:#ffffcc;
	padding:5px;
	text-align:center;
	font-weight:bold;
	font-size: 1.5em;
}

/****************************************************************************************
 *                                                                                      *
 *  Класове за състояния                                                                *
 *                                                                                      *
 ****************************************************************************************/
.state-draft {
    background-color: #88cc99;
}

.state-active {
    background-color: #ffeedd;
}

.state-opened {
    background-color: #aaffbb;
}

.state-waiting {
    background-color: #cceeff;
}

.state-closed {
    background-color: #eee;
}

.state-stopped {
    background-color: #ffaa00;
}

.state-rejected {
    background-color: #cc6666;
}

.state-free {
    background-color: #33cccc;
}

.state-hidden {
    background-color: #ffee77;
}

.clearfix21:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

TR.zebra0 {
    background-color:#eee;
}

TR.zebra1 {
    background-color:#fff;
}

INPUT.btn-checked[type=submit] {
}

INPUT.btn-checked-disabled[type=submit] {
	color:#999 !important;
	cursor:default !important;
}

INPUT.btn-checked-disabled[type=submit]:hover {
	background-color:#ddd !important;
}

INPUT[type=checkbox] + label {
    color:#666;   
}

INPUT[type=checkbox]:checked + label {
    color:#000;
} 

INPUT[type=radio] + label {
    color:#666;   
}

INPUT[type=radio]:checked + label {
    color:#000;
}

.checkbox {
	border: none !important;
}

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {
    display:        table;
    margin:         1px -15px 1px 1px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}



div.tab-control div.tab-row .tab.selected {
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     1px solid #bbb !important;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 5px 5px; 
    margin:         1px -14px -3px 0px;
    top:            -3px;
}

.tab.selected SELECT {
	background-color:#FFFFCC;
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
    /* min-width:95%;  махнато за ради Upload формата*/
    /* display: table; */
}