body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ddd;
	font-family:Helvetica,Verdana,Sans-serif;
	font-size:18px;
}

#framecontentTop, #framecontentBottom, #framecontentTop.a, #framecontentBottom.a {
	display:inline-block	;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color:#ddd;
	color: #048;
 }

#framecontentTop {
 	display:block;
}

#framecontentBottom {
	clear:both;
	padding: 7px;
	border-top:solid 2px #048;
	display:block;
}

#subMenu {
  padding:5px;
  background-color:#eee;
}

#mainMenu {
	background-color:#ddd;
	padding:5px;
	border-bottom:solid 2px #048;
}

#maincontent{
	padding:5px;
	background-color:#eee;
}

#navBar{
	position: relative;
	margin-top:5px;
	margin-bottom:10px;
	color:#033;
	display:block;
 }

.innertube{
	margin: 5px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.menuRow {
	color:#997;
	font-family:Arial;
    padding:1px;
	text-decoration:none; 
	font-weight:bold; 
}

.menuPage A{
	margin: 2px;
	display:block;
 	border:solid 1px transparent;
}

.menuRow A:link, .menuRow A:visited {
	color:#048;
	text-decoration:none; 
	border:solid 1px transparent;
}
 
.menuRow A:hover, .menuRow A:focus { 
	color:white;
	background-color:#f90;
	border:solid 1px #c60;
}

A.selected { 
	color:white !important; 
	background-color:#048;
	-moz-border-radius:2px; 
	-webkit-border-radius:2px;
}

A.selected:hover {
	color:#fdc;
}
 

/* Общи стилове за елементите */
A:link, A:visited {
	text-decoration:none; 
	color:#048;
}

A:hover {
	color:#cc0000; 
}

A.out {
	color:#0066ff; 
	font-weight:bold;
	text-decoration:underline;
}

A.out:visited {
	font-weight:bold;
	color:#6600cc
} 

div.tab-control div.tab-row .tab.selected {
	border-top: 3px solid #048;
}

.ListTitle { 
	font-size:1.2em;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

.ListToolbar, .SingleToolbar {
	margin-top: 10px;
}

.formTitle {
	background-color:#99f !important;
	border:solid 1px #88e;
	border-bottom:none;
	padding:8px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}


.formGroup {
    margin-top:10px;
}


.formToolbar {
	padding:8px;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border:solid 1px #bbb;
	border-top:none;
}

.formSection {
	border-left:solid 1px #bbb;
	border-right:solid 1px #bbb;
}

OPTION.team {
	background:black;
	color: color:#fc0;
}

A IMG {
	border: none;
}

.state-revert {
    background-color: #ee8888;
}

div.crm_Companies div.tab-row .tab.selected, div.crm_Companies  div.tab-page {
    background:#f0f8ff;
}

div.crm_Persons  div.tab-page,  div.crm_Persons div.tab-row .tab.selected {
    background:#f0fff0;
}

div.crm_Groups div.tab-row .tab.selected, div.crm_Groups  div.tab-page {
    background:#ffffe8;
}

.quiet { color: #888; }
.red { color: #800; }
.green { color: #080; }
.future { background-color: #9ec; }
.future td { background-color: #9ec; }

/*Стилове за acc*/
DIV.acc-detail {
 font-size:0.8em;
 margin:3px;
 padding:3px;
 font-family:Arial;
 border:solid 1px #ccc;
 background-color:#eee;
}

/* стилове за 'contacts/tpl/ViewSingleLayout' */
.folder-cover {
    border: solid 1px #bbbbbb; 
    border-radius: 5px;
	font-size:0.8em;
	-moz-box-shadow: 5px 5px 10px #999999;
     background: #ffffff;
    padding: 10px;
	display: inline-block;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:16px;
}

.printing .folder-cover {
    border: none; 
	font-size:0.8em;
    background: #ffffff;
   -moz-box-shadow: none;
    padding: 10px;
	display: table;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:0px;
}

OPTION.team {
	background:black;
	color:#fc0;
}

#crm_Persons-EditForm  INPUT {
   max-width:600px;
}

.detail-info {
	margin-top:10px;
	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
}

.folder-cover .groupTitle {
	color: #333;
	font-weight: bold;
}
 
.groupList DIV {
	padding:1px;
}

DIV.folder-cover .label {color: #777777;    font-size: 13px; width: 70px; float: left;} 
                     
DIV.folder-cover A.sky:link       {font-size: 13px; color: #4a66b0; text-decoration: none;}
DIV.folder-cover A.sky:visited    {font-size: 13px; color: #4a66b0; text-decoration: none;}
DIV.folder-cover A.sky:active     {font-size: 13px; color: #4a66b0; text-decoration: none;}
DIV.folder-cover A.sky:hover      {font-size: 13px; color: #4a6z6b0; text-decoration: underline;}
                              
DIV.folder-cover .fancybox IMG {
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 3px; 
    padding: 10px;
}

DIV.folder-cover .block_title {
    border-bottom: solid 1px #dddddd; 
    padding: 7px;
	font-size: 1.4em;
	color: #433;
	text-shadow: 1px 1px 1px #ddd;
}

DIV.folder-cover .block_left {
    clear: left;
    background: #ffffff;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    min-width: 250px;
    float: left;
    margin-right: 20px;
    position: relative;    
}

DIV.folder-cover .block_left .address {
    max-width: 240px;
    margin-bottom: 15px;	
}	

DIV.folder-cover .block_right {
	background: #ffffff;
	min-width: 100px;
	font-size: 12px; 
	padding: 0 0 10px 10px;
	float: left;
	float: left;	
}

.toolbar {
	white-space:nowrap;
}