body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ddd;
	font-family:Helvetica,Verdana,Sans-serif;
	font-size:18px;
}

input, select {
	font-size:1em;

}
 
#framecontentTop, #framecontentBottom, #framecontentTop.a, #framecontentBottom.a {
	display:inline-block	;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color:#ddd;
	color: #048;
 }

#framecontentTop {
 	display:block;
}

#framecontentBottom {
	clear:both;
	padding: 7px;
	border-top:solid 2px #048;
	display:block;
}

#subMenu {
  padding:5px;
  background-color:#eee;
}

#mainMenu {
	background-color:#ddd;
	padding:5px;
	border-bottom:solid 2px #048;
}

#maincontent{
	padding:5px;
	background-color:#eee;
}

#navBar{
	position: relative;
	margin-top:5px;
	margin-bottom:10px;
	color:#033;
	display:block;
 }

.innertube{
	margin: 5px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.menuRow {
	color:#997;
	font-family:Arial;
    padding:1px;
	text-decoration:none; 
	font-weight:bold; 
}

.menuPage a {
	margin: 2px;
	display:block;
 	border:solid 1px transparent;
}

.menuRow a:link, .menuRow a:visited {
	color:#048;
	text-decoration:none; 
	border:solid 1px transparent;
}
 
.menuRow a:hover, .menuRow a:focus { 
	color:white;
	background-color:#f90;
	border:solid 1px #c60;
}

a.selected { 
	color:white !important; 
	background-color:#048;
	-moz-border-radius:2px; 
	-webkit-border-radius:2px;
}

a.selected:hover {
	color:#fdc;
}
 

/* Общи стилове за елементите */
a:link, a:visited {
	text-decoration:none; 
	color:#048;
}

a:hover {
	color:#cc0000; 
}

a.out {
	color:#0066ff; 
	font-weight:bold;
	text-decoration:underline;
}

a.out:visited {
	font-weight:bold;
	color:#6600cc
} 









.ListTitle { 
	font-size:1.2em;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

.ListToolbar, .SingleToolbar {
	margin-top: 10px;
}

.formTitle {
	background-color:#99f !important;
	border:solid 1px #88e;
	border-bottom:none;
	padding:8px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}


.formGroup {
    margin-top:10px;
}


.formToolbar {
	padding:8px;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border:solid 1px #bbb;
	border-top:none;
}

.formSection {
	border-left:solid 1px #bbb;
	border-right:solid 1px #bbb;
}

option.team {
	background:black;
	color: #fc0;
}

a img {
	border: none;
}

.state-revert {
    background-color: #ee8888;
}

div.crm_Companies div.tab-row .tab.selected, div.crm_Companies  div.tab-page {
    background:#f0f8ff;
}

div.crm_Persons  div.tab-page,  div.crm_Persons div.tab-row .tab.selected {
    background:#f0fff0;
}

div.crm_Groups div.tab-row .tab.selected, div.crm_Groups  div.tab-page {
    background:#ffffe8;
}



/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {
    font-family:    arial;
    display:        inline;
    margin:         1px -16px -3px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #ddd;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top:		2px solid #048;
}



div.tab-control div.tab-row .tab.selected {
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     2px solid #048;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 4px 5px; 
    margin:         1px -16px -3px 18px;
    top:            -1px;
    font-weight:    bold;
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            1px;
    padding:        1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	z-index:        2;
}

div.alphavit div.tab-row .tab {
    background:     #ddd;
	font-size:      8pt;
	padding:        5px;
    border:         1px solid #aaa;
	margin: 2px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    float: left;
	margin-bottom: 10px;
}

div.alphavit div.tab-row .tab:hover {
	margin-top:-1px;
	margin-bottom:13px;

	background-color: #ffffcc !important;
}

div.alphavit div.tab-row .tab:hover a {
	color:red !important;
}

div.alphavit  div.tab-row .tab.selected {
    background:     #ffffcc;
    border:         1px solid #aaa;
    top:            0px;
	margin:         2px;
	padding:        5px;
    box-shadow: 0px 0px 2px 0px  #ccc;
	margin-top:-1px;
	margin-bottom:13px;
	box-shadow: 0px 0px 3px 1px  #ccc;
}

 
div.alphavit div.tab-page {
    border:         none;
    background:     transparent;
	margin: 0px; 
	padding:0px;
}


.quiet { color: #888; }
.red { color: #800; }
.green { color: #080; }
.future { background-color: #9ec; }
.future td { background-color: #9ec; }

/*Стилове за acc*/
div.acc-detail {
 font-size:0.8em;
 margin:3px;
 padding:3px;
 font-family:Arial;
 border:solid 1px #ccc;
 background-color:#eee;
}

/* стилове за 'contacts/tpl/ViewSingleLayout' */
.folder-cover {
    border: solid 1px #bbbbbb; 
    border-radius: 5px;
	font-size:0.8em;
	-moz-box-shadow: 5px 5px 10px #999999;
     background: #ffffff;
    padding: 10px;
	display: inline-block;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:16px;
}

.printing .folder-cover {
    border: none; 
	font-size:0.8em;
    background: #ffffff;
   -moz-box-shadow: none;
    padding: 10px;
	display: table;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:0px;
}

option.team {
	background:black;
	color:#fc0;
}

#crm_Persons-EditForm  INPUT {
   max-width:600px;
}

.detail-info {
	margin-top:10px;
	padding:5px;
	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
}
 
.detail-info IMG {
	margin-left:5px;
	vertical-align:middle;
}

.folder-cover .groupTitle {
	color: #333;
	font-weight: bold;
}
 
.groupList DIV {
	padding:1px;
}

div.folder-cover .label {
	color: #777777;
	font-size: 13px;
	width: 70px; 
	float: left;
} 
                     
div.folder-cover A.sky:link       {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:visited    {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:active     {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:hover      {font-size: 13px; color: #4a66b0; text-decoration: underline;}
                              
div.folder-cover .fancybox img {
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 3px; 
    padding: 10px;
}

div.folder-cover .block_title {
    border-bottom: solid 1px #dddddd; 
    padding: 7px;
	font-size: 1.4em;
	color: #433;
	text-shadow: 1px 1px 1px #ddd;
}

div.folder-cover .block_left {
    clear: left;
    background: #ffffff;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    min-width: 250px;
    float: left;
    margin-right: 20px;
    position: relative;    
}

div.folder-cover .block_left .address {
    max-width: 240px;
    margin-bottom: 15px;	
}	

div.folder-cover .block_right {
	background: #ffffff;
	min-width: 100px;
	font-size: 12px; 
	padding: 0 0 10px 10px;
	float: left;
	float: left;	
}

.toolbar {
	white-space:nowrap;
}

div.attachments {
	display:inline-block; 
	float: left; 
	margin:2px;
 }

div.attachments .aHeader {
	background-color:#e0e0e0;
	padding:3px;
	padding-left:26px;
	background-image:url('../img/16/attach.png');
	background-repeat:no-repeat;
	background-position: 6px 4px;
	border-bottom:solid 1px #e0e0e0;
}

div.attachments A {
	display:block;
	margin-bottom:2px;
}

.document .header {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding:3px;
	font-size:1em;
	margin-top:5px;
	margin-bottom:5px;
}

.document .header SPAN {
    padding-left:24px;  
    background-repeat:no-repeat;
    background-position: 3px center;
	font-weight:bold;
}

.printing .document {
	border: none; 
	/* -moz-border-radius: 5px; */
    /* -webkit-border-radius: 5px; */
    /* border-radius:5px; */
	background: #ffffff;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	min-width:0px;
}

.portal {
	margin-top:15px;
	padding:10px;
	padding-top:18px;
 	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	background-color:white;
 }

.portal .legend {
	position:absolute;
	margin-top:-35px;
	margin-left:10px;
	z-index:100;
	padding:5px; 
	border:solid 1px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	font-weight:bold;
}
.portal table.listTable {
	width:100% !important;
	border:none;
}

.portal table.listTable td {
	border:none !important;
	border-top:dotted 1px #ccc !important;
	text-align:left;
	vertical-align:top !important;
}

.portal table.listTable>tbody>tr:first-child>TD {
	border-top:none !important;
}

.portal table.listTable TH {
	display:none;
	border:none;
	vertical-align:top !important;
}


table.mc-calendar {
	width:100%;
	font-size:0.8em;
}

table.mc-calendar td.mc-day {
	text-align:right;
 	border:none;
	background-color: #e8efe8;
	border:solid 2px #e8efe8;
	padding:1px;
	font-weight:bold;
	width:14% !important;
	cursor: pointer;
}

table.mc-calendar td.mc-week-nb {
 	border:none;
 	padding:3px;
}

table.mc-calendar td.mc-wd-name {
	text-align:right;
 	padding-right:3px;
}


table.mc-calendar td.mc-sunday {
	color:green;
}

table.mc-calendar td.mc-holiday {
	color:green;
}

table.mc-calendar td.mc-saturday {
	color:blue;
}


table.mc-calendar td.mc-day:hover {
	background-color: #ffff66;
}

table.mc-calendar td.mc-today {
	border:solid 2px red;
}

table.mc-header a {
	color:#999;
}

.antetka {
	margin-top: 10px; 
	padding:5px; 
	border:solid 1px #ddd; 
	background-color:#eee;
}

.document {
	border: solid 1px #bbbbbb; 
	background: #ffffff;
    -moz-box-shadow: 5px 5px 10px #999999;
	-webkit-box-shadow: 5px 5px 10px #999999;
    box-shadow: 5px 5px 10px #999999;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.listTable>tbody>tr>td div.document {
	border: none; 
	background: transparent;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 5px;
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
}

.doc_Containers table.listTable TD  {
    vertical-align:top !important;
}

.doc_Containers table.listTable.listTable>tbody>tr:hover  {
    background-color:transparent !important;
}

.doc_Containers table.listTable.listTable>tbody>tr  {
    background-color:transparent !important;
}


.doc_Containers .thread-opened table.listTable>tbody>tr:hover  {
    background-color:#f4fff4 !important;
}

 .doc_Containers .thread-opened table.listTable>tbody>tr  {
    background-color:#f4fff4 !important;
}

.listTable .document H2 {
	margin-top:3px;
}

.listTable .toolbar {
	padding:3px;
}

.document .header {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding:3px;
	font-size:1em;
	margin-top:5px;
	margin-bottom:5px;
}




.thread-opened .antetka {
	background-color:#eeffee !important;
}

.thread-opened div.attachments .aHeader {
	background-color:#e0f0e0;
}

.thread-opened table.listTable>tbody>tr>td {
	border:solid 1px green !important;
}

.thread-opened TH  {
	border:solid 1px green !important;
	background-color:#aea  !important;
}

#notificationsCnt {
    position: absolute;
	margin-right:5px;
	right:10px;
	display: inline-block;
}

#notificationsCnt a {
	display:block;
	font-size:0.8em;
	background-color:red;
	color:white;
	padding:1px 3px 1px 3px !important;
	border:solid 1px #c33 !important;
	-moz-box-shadow: 3px 3px 5px  #aaa;
	-webkit-box-shadow: 3px 3px 5px  #aaa;
    box-shadow: 3px 3px 5px  #aaa;
	border-radius:3px;
}

legend img {
	vertical-align:middle; 
}

input.contactData {
	width:100%;
}


ul.history {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.history.summary {
    width: 85%;
    margin: 0 auto;
    font-size: 0.75em;
}

ul.history li {
	margin: 3px 0;
	padding: 2px 0;
	line-height: 1.2;
}

ul.history.summary li span {
    color: #333;
}

ul.history b {
    color: white;
	padding: 1px 5px;
	-webkit-border-radius: 3px;
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

ul.history .action.send b {
    background-color:green;	
}

.action._received b {
    background-color:blue;
    color: white;
}
.action._returned b {
    background-color:red !important;
    color: white;
}
ul.history .action.print b {
    background-color:#777;
}

ul.history .action.open b {
    background-color:#ccc;
	color: #333;
}

ul.history .detailed b {
    background-color:#ccc;
}

div.sharing-history {
	border: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	position: relative;
	color: #555;
    font-size: 0.9em;
	clear: both;
}

span.sharing-history-title {
	padding: 2px 5px;
	padding-left: 23px;
	background: #eee url(../img/share.png) no-repeat 3px center;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	border: 1px solid #ccc;
	border-top: none;
    color: #777;
}

fieldset.sharing-history ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

fieldset.sharing-history ul li .user {
	color: #333;
}

fieldset.sharing-history ul li.seen {
    list-style-type: disc;
    color: green;
}

fieldset.sharing-history ul li.unseen {
    list-style-type: circle;
    color: red;
}

fieldset.sharing-history i {
	color: #888;
	font-size: 0.9em;
}


/* CMS */

#cmsTop {
	background-repeat:no-repeat;
	display: block;
	height: 287px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#cmsMenu {
	  padding-top:10px;
	  padding-bottom:10px;
	  text-align:left;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

#cmsMenu a {
	font-size:1.2em;
	padding:4px;
	margin-left:20px;
	margin-right:20px;
	white-space:nowrap;
}

#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
	display:block;
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#cmsBottom {
	font-size:1.2em;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	width:1000px;
}

#all {
	width:1000px;
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 10px ;
	text-align:left;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom:10px;
}

#cmsNavigation div.nav_item {
	padding:1px;
	font-family:Trebuchet MS, Geneva, Tahoma, sans-serif;
}

#cmsNavigation a {
	-moz-border-radius:3px;
	border-radius: 3px;
	padding-left:3px;
	padding-right:3px;
	display: inline-block;
	border:solid 1px transparent;
}

#cmsNavigation .level1 {
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:2px;
}

#cmsNavigation div:first-child {
	margin-top:0px !important;
}

#cmsNavigation .level2 {
	margin-top:0px;
	margin-bottom:2px;
	font-size:15px;
	margin-left:10px;
}

#cmsNavigation .level3 {
	margin-top:1px;
	margin-bottom:2px;
	font-size:14px;
	margin-left:20px;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.cms-container {
	padding-left: 20px;
	padding-right: 20px;
}

.cms-row {
	width: 100%;
	max-width: 1024px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.cms-row .onecol {
	width: 4.85%;
}

.cms-row .twocol {
	width: 13.45%;
}

.cms-row .threecol {
	width: 22.05%;
}

.cms-row .fourcol {
	width: 30.73%;
}

.cms-row .fivecol {
	width: 39.45%;
}

.cms-row .sixcol {
	width: 48%;
}

.cms-row .sevencol {
	width: 56.75%;
}

.cms-row .eightcol {
	width: 65.3%;
}

.cms-row .ninecol {
	width: 74.05%;
}

.cms-row .tencol {
	width: 82.7%;
}

.cms-row .elevencol {
	width: 91.35%;
}

.cms-row .twelvecol {
	width: 100%;
	float: left;
}

.cms-last {
	margin-right: 0px;
}



@media handheld, only screen and (max-width: 1000px) {

	#cmsTop {
		-moz-border-radius-topright:0px;
		-moz-border-radius-topleft:0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	#all {
		margin-top:0px;
		margin-bottom:0px;
    	-moz-border-radius-topright:0px;
		-moz-border-radius-topleft:0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	
}

/* Mobile */

@media handheld, only screen and (max-width: 950px) {

	body {
		-webkit-text-size-adjust: none;
	}


	#cmsTop, #all, #cmsBottom { 
		width: 100% !important;
	} 

	.cms-row, body, .cms-container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, 
	.row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#cmsMenu a {
		margin-left:8px;
		margin-right:8px;
		font-size:1.1em;
	)
}


@media handheld, only screen and (max-width: 800px) {
	#cmsMenu a {
		margin-left:5px;
		margin-right:5px;
		font-size:1em;
	)
}

@media handheld, only screen and (max-width: 760px) {
	#cmsMenu a {
		margin-left:3px;
		margin-right:3px;
		font-size:0.90em;
	)
}

@media handheld, only screen and (max-width: 700px) {
	#cmsMenu a {
		margin-left:2px;
		margin-right:2px;
		font-size:0.85em;
	)
}

@media handheld, only screen and (max-width: 600px) {
	#cmsMenu a {
		margin-left:2px;
		margin-right:2px;
		font-size:0.8em;
	)
}
	
.webdrvIframe {
	max-width: 600px;
	min-width: 400px;
	min-height: 300px;
}

