@mixin shadow($sh-top, $sh-left, $sh-dist, $sh-col) {
    -moz-box-shadow: $sh-top $sh-left $sh-dist $sh-col;
    -webkit-box-shadow: $sh-top $sh-left $sh-dist $sh-col;
    box-shadow: $sh-top $sh-left $sh-dist $sh-col;
}

.gradient-light {
	background: #4a4a4a;
	background: -moz-linear-gradient(top, #999999 0%, #888888 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #888888));
	background: -webkit-linear-gradient(top, #999999 0%, #888888 100%);
	background: -o-linear-gradient(top, #999999 0%, #888888 100%);
	background: -ms-linear-gradient(top, #999999 0%, #888888 100%);
	background: linear-gradient(to bottom, #999999 0%, #888888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#888', GradientType=0 ) !important;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
	border: 1px solid #777 !important;

}

.gradient-dark {
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #999 0%, #555555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#555555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999 0%,#555555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999 0%,#555555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999 0%,#555555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 ); /* IE6-9 */

}
/* General styles for all menus */
.sidemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 200px;
    z-index: 1000;
    overflow-y: auto;
}

.narrow .sidemenu {
    width: 170px;
}
/*движение на менюто*/
.sidemenu-left {
    left: -200px;
}
.narrow .sidemenu-left {
    left: -170px;
}

.sidemenu-right {
    right: -200px;
}

.narrow .sidemenu-right {
    right: -170px;
}

.sidemenu-left.sidemenu-open {
    left: 0px;
}

.sidemenu-right.sidemenu-open {
    right: 0px;
}

.sidemenu-push-toright#main-container > .tab-control > .tab-row{
    left:  200px;
}

.narrow .sidemenu-push-toright#main-container:not(.unbeddedHeader) > .tab-control > .tab-row{
    left:  170px;
}

.sidemenu-push-toleft#main-container > .tab-control >.tab-row{
    right:  200px;
}

.narrow .sidemenu-push-toleft#main-container:not(.unbeddedHeader) > .tab-control >.tab-row{
    right:  170px;
}
.narrow .unbeddedHeader#main-container {
	top: 0 !important;
	padding: 0;
	.clearfix {
		min-height: 0 !important;
	}
	#framecontentTop, > .tab-control > .tab-row{
		position: static;
		top:0;
		bottom:0;
		margin: 0;
		padding-bottom: 0 !important;
		.tab {
		  margin-top: 3px !important;
		  margin-bottom: 0px !important;
		}
	}
	.tab-page {
	   padding-top: 10px !important;
	}
}
.sidemenu-push-toright {
    margin-left: 200px;
}

.sidemenu-push-toleft {
    margin-right: 200px;
}

.narrow .sidemenu-push-toright {
    margin-left: 170px;
}

.narrow .sidemenu-push-toleft {
    margin-right: 170px;
}

.sidemenu-push-toleft #framecontentTop{
    right:  200px;
    width: auto;
    display: block;
}

.sidemenu-push-toright #framecontentTop{
    left:  200px;
    width: auto;
    display: block;
}

.narrow  .sidemenu-push-toleft:not(.unbeddedHeader) #framecontentTop{
    right:  170px;
}

.narrow .sidemenu-push-toright:not(.unbeddedHeader) #framecontentTop{
    left: 170px;
}

.transition {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
body {
    background: #fff;
}

.main-container {
    display: block !important;
    min-width: 0;
}

#framecontentTop{
    overflow: visible;
    width: auto;
    z-index: 15;
}

.inner-framecontentTop{
	padding: 8px 7px;
	background-color: #dddddd;
	position: relative;
	z-index: 1000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.portal {
    margin-top: 0;
    margin-bottom: 15px;
    background-color: #fff !important;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition: -webkit-transform 300ms ease-in-out,opacity 300ms;
    transition: transform 300ms ease-in-out,opacity 300ms;
    padding: 0px 15px 15px;
    &.detail-info {
        border-radius: 5px;
    }
    .legend {
       margin-left: -15px;
       margin-right: -15px;
       padding: 10px 15px 10px;
       background: #f1f1f1 !important;
       border: none;
       position: relative;
       top: 0;
       border-radius: 0 !important;
       box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
       margin-bottom: 20px;
    }
}
.narrow .portal {
  box-shadow: none;
  border:none !important;
  .legend {
      background: #fff !important;
      border: 1px solid #ccc;
      box-shadow: none;

  }
  .portal-filter {
    margin-bottom: 3px;
    margin-left: -6px;
  }
  .hFormField {
    border-color: #e1e1e1;
  }
  input {
    padding: 2px 5px;
    height: auto !important;
    box-shadow: none;
  }
  .SearchBtnPortal {
    margin-right: 5px !important;
  }
}
.portal.acc-summary {
    background: none !important;
    box-shadow: none;
}

.document .portal {
	box-shadow: none;
	background: transparent !important;
	.legend {
	   margin-bottom: 10px;
	   padding: 7px 15px !important;
	}
}

.jobTaskDetails.portal {
    border: none;
    margin-bottom: 0;
}

.planning.portal, .jobTaskDetails.portal {
    padding: 0;
    border: none;
 	.tab-control.alphabet{
 		border: none;
 	}
    .legend {
        margin: 0;
    }
    .listTable {
   		border: 1px solid #cccccc;
    }
    td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .rowtools-column {
        padding-left: 15px;
    }
    .overflow-scroll {
        margin: 0;
    }
    .listToolbar {
    	border: none;
    }
}

.narrow .portal {
    margin-top: -10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    &.portal {
        margin-top: 10px;
        border-radius: 5px;
    }
}

#framecontentTop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: table;
    z-index: 1001;
}

#framecontentBottom {
    padding-left: 0.2em;
    padding-top: 0.2em;
    background-color: #eee;
    display: none;
}

.narrow #main-container{
    min-width:320px;
}

#packWrapper{
    padding: 35px 15px 15px;
    margin-top: -1px;
}

.narrow #packWrapper {
    padding: 20px 15px 10px;
}

/* позиция на табовете */
#main-container > .tab-control > .tab-row{
	@extend .gradient-dark;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	position: fixed;
    left: 0;
    right: 0;
    top: 45px;
    z-index: 1000;
    padding: 0 15px;
}

.narrow #main-container > .tab-control > .tab-row {
    top: 44px;
    padding: 3px 13px 1px;
    .row-holder {
    	width: 1000px;
    	a {
    		float: left;
    		display: block;
    	}
    }
}

.userInfo{
    margin-right: 10px;
    padding-top: 3px;
}

.logoPath {
    margin-left: 10px;
    float:left;
}

.logoText{
    font-weight: bold;
    font-size: 26px;
    font-family: Arial;
}

.logoText a{
    color: #111 !important;
}

.center-block {
    color: #444;
    position: absolute;
    right:50%;
    top: 0;
    min-width: 200px;
    margin-right: -100px;
    text-align: center;
    z-index: 1;
    line-height: normal;
}


#nav-panel{
    background-color: #333 !important;

}
.narrow #nav-panel {
    font-size: 0.9em;
}

#fav-panel {
    background: #363D55;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4);
}

.inner-fav-panel {
    padding: 15px;
}

.sideBarTitle {
    color: #fffb99;
}

.bookmarkText {
    margin-right: 5px;
    font-size: 1.1em;
}

.inner-fav-panel {
    position: relative;
}

.narrow .bookmarkText {
    margin-right: 4px;
    font-size: 1.05em;
}

.bookmarkLink {
    display: inline-block;
    float: right;
    top: 10px;
    margin-left: 15px;
    opacity: 0.8;
    transition: opacity 0.5s;
    img {
        border-radius: 5px;
    }
    &:hover {
        opacity: 1
    }
}
.narrow .bookmarkLink {
	margin-left: 10px;
	img {
	   width: 18px;
	   height: 18px;
	}
}

.narrow .sidebar-row {
    margin-top: 47px;
    padding: 1px 0 3px !important;
}
.narrow .sideBarTitle {
    font-size: 0.85em;
}

.bookmark-links {
    font-size: 0.9em;
    ul {
        padding-left: 0;
        li {
            border-bottom: 1px dashed rgba(254, 253, 214, 0.5);
            padding: 5px 0 5px 0px;
            display: block;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            background: url("../img/12/star-yellow.png") 4px 3px no-repeat;
            margin-left: 0;
            padding-left: 20px;
            outline: none;
            color: #FFF612;
            display: block;
            font-size: 0.97em;
            &.bookmark-external-url.out {
	            color: #fefdd6;
	            &:visited {
	               color: #febb44;
	            }
	        }
            &:hover{
                color: #fefdd6;
            }
            &.out {
              background: url("../img/12/star-out.png") 4px 3px no-repeat;
            }
        }

       
    }
}

.bookmark-wrong-url {
    color: #b11;
}

/*menu i podmenu*/
#nav-panel ul , #nav-panel ul li {
	margin: 0;
	padding: 0;
    display: block;
}

#nav-panel > ul {
    border-bottom: 1px solid #666;
}

#nav-panel div{
	background: #4a4a4a; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a4a4a 0%, #383838 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#383838)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a4a4a 0%,#383838 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a4a4a 0%,#383838 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a4a4a 0%,#383838 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a4a4a 0%,#383838 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
	cursor: pointer;
	font-size: 0.95em;
	text-shadow: 0 1px 1px #000;
	font-weight: bold;
	color: #aaa;
	padding: .7em 0em .7em 0;
	border: 1px solid #333333;
	border-top: none;
}


#nav-panel li {
	&.selected div {
	 color: #fff;
	}
	&.selected > a{
        background:#222;
        color: #fff;
    }
    a {
		display: block;
		color: #8C8C8C;
		padding: .6em 1.2em 0.6em 2em;
	    font-size: 0.85em;
	    font-weight: bold;
	    text-shadow: 0 1px 0 #111;
	    background:#2F2F2F;
	    border-top: 1px solid #262626;
	    &:hover {
	        color: #fff;
	    }
    }
}

.narrow #nav-panel li a{
	padding: 0.4em 1.2em 0.4em 1.7em;
	font-size: 0.9em;
}

.narrow #nav-panel div {
	padding: 0.4em 0;
	font-size: 0.9em;
}

#nav-panel .arrow{
	width: 24px;
	height: 14px;
    display: inline-block;
    background: url(../img/16/arrow-side.png) center center no-repeat !important;
}

#nav-panel .open .arrow{
       background:url(../img/16/down-arrow.png) center  center no-repeat !important;
}

.btn-sidemenu {
    z-index: 2;
}

#nav-panel .open .submenuBlock {
  display: block;
}

.btn-sidemenu {
    padding: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    background: #eee;
    margin: 0 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    .menuIcon {
        opacity: 0.6;
        width: 20px;
        border-radius: 6px;
    }
    &:hover {
        border-color: #444;
        .menuIcon {
            opacity: 0.9;
        }
    }
}

.menuIcon:hover {
    opacity: 1;
}

.menu-options{
    display: block;
    float: left;
    margin: 0 6px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid #888;
    z-index:11;
    padding: 0px 15px 0px 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #eee url('../img/16/arrow_down3.png') 28px center no-repeat;
    &:hover {
        border-color: #444;
    }
    img {
        border-radius: 3px 0 0 3px;
        height: 28px;
        width: 28px;
        margin-left: -1px;
        float: left;
    }
    &.search-options {
        img {
            opacity: 0.6;
            width: 20px;
            height: 20px;
            padding: 4px;
        }
        &:hover img {
            opacity: 0.9;
        }
        .menu-holder {
            left: -2px;
            input {
                box-sizing: border-box;
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
}

/*menu*/
.menu-holder{
    display: none;
    position: absolute;
    top: 30px;
    right: -2px;
    padding: 5px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    a:not(.profile) {
        color: #333 !important;
	}
	a{
        display: block;
        padding: 3px 20px 3px 25px;
        clear: both;
        font-weight: normal;
        font-size: 1.05em;
        white-space: nowrap;
        &:hover{
            background-color: #f1f1f1;
        }
    }
    &.user-holder {
        max-width: 140px;
    }
}

.narrow .menu-holder {
	a {
        padding: 5px 20px 5px 25px;
        font-size: 1em;
    }
}

.search-options .menu-holder a {
    padding: 3px;
}

.divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.header-block{
    position: relative;
    min-height: 44px;
}

.left-header{
    position: absolute;
    left: 0;
}

.narrow .signOut{
    margin-top: -1px;
}

.right-header{
    position: absolute;
    right: 0;
}

.left-holder{
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.right-holder {
    float: left;
    margin-right: 3px;
    margin-top: 2px;
}

.narrow #main-container {
	padding: 12px 0 0 0;
}
#main-container  div.tab-control div.tab-page {
	border: none;
}

#main-container > div.tab-control > div.tab-row > .row-holder .tab {
    font-family: arial;
    display: inline-block;
    height: 18px;
    margin: 0;
    padding: 5px 5px 4px 5px !important;
    float: left;
    position: relative;
    z-index: 11;
    font-size: 0.85em;
    white-space: nowrap;
    position: relative;
    line-height: normal;
    border-top: none;
    border-radius: 0;
    background-color: transparent !important;
    border-bottom: none;
    border-left: none;
    &.selected {
        background-color: #ddd !important;
        a{
            color: #333 !important;
        }
    }
    a{
        color: white;
    }
}

.narrow #main-container > div.tab-control > div.tab-row {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	.row-holder {
		text-align: justify; /* 3 */
		white-space: nowrap;
		height: 28px;
	}
	.tab {
		border: none;
		margin: 5px 2px 5px;
		padding: 0 !important;
		border-radius: 3px;
		font-size: 0.8em;
		height: auto;
		a, span {
			margin: 0px 2px 2px;
			padding-top: 1px;
			display: block;
		}
    }
}

.narrow div.alphabet div.tab-row .tab{
    min-height: 15px;
    line-height: 15px;
}

.narrow .tab-title {
	display: inline-block !important;
}

.headerInfo{
    display:inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.narrow .headerInfo{
    margin-top: 0px;
}

.wide .headerUser {
    font-size: 1.1em;
    display: inline-block;
}

.narrow .headerUser{
    font-size: 1em;
    display: inline-block;
}

.signOut{
    text-align: right;
}

.narrow .signOut{
    font-size: 0.8em;
    position: absolute;
    bottom: 6px;
    right: 45px;
}

/*норификации*/
.notificationsCnt {
    display: inline-block;
    position: relative;
    top: -10px;
    margin-left: 1px;
}


.notificationsCnt a {
    display: block;
    color: white;
    padding: 2px 5px 1px 4px;
    font-size: 0.75em;
    border-radius: 10px;
}

.narrow .notificationsCnt a {
    padding: 0 4px;
}

.notificationsCnt a.haveNtf {
  background-color: #edd;
  border: 1px solid #d66 !important;
  box-shadow: 0 1px 2px 0 #f99;
  color: #e00;
}

.notificationsCnt a.noNtf {
	display: none;
}

.narrow .notificationsCnt a.noNtf {
    color: #fff;
    border: solid 1px #999 !important;
}

.portal .legend {
	z-index: 1 !important;
}
.narrow .tooltip-text {
    top: -3px !important;
}
.tooltip-button img {
	width: 13px !important;
	height: 13px !important;
}

.hidden {
	display: none;
}

a.button, input[type="button"], input[type="submit"], button {
	background-position: 4px center !important;
	padding: 0.34em 5px 0.34em 5px !important;
	background-repeat: no-repeat !important;
	background-color: #dddddd;
	border: 1px solid #bbbbbb !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	color: #333333;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #b4b4b4;
	border-right: 1px solid #dfdfdf;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
	text-shadow: 0 1px 0px #f1f1f1;
	&:hover {
	    background-color: #e5e5e5;
        &.btn-disabled {
            background-color: #dddddd;
        }
	}
}

.narrow a.button, .narrow input[type="button"], .narrow input[type="submit"], .narrow button {
    padding-left: 5px !important;
}

.narrow .dimension input.button {
    border: none !important;
}

input.linkWithIcon{
    padding-left: 25px !important;
}

a.linkWithIcon {
  padding-left: 22px !important;
}

.small .linkWithIcon {
	height: 16px !important;
	line-height: 120%;
	display: inline-block;
}

.portal-filter .button, .portal-filter .button:focus {
	border: none !important;
	outline: none !important;
	background-color: transparent !important;
	box-shadow: none;
}

select, input, textarea , .chzn-container-single .chzn-single, .chzn-container-active .chzn-single, .chzn-container-active .chzn-single-with-drop, .staticFormView .formFieldValue{
    border: solid 1px #bbb;
    -moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	border-radius: 2px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.chzn-container .chzn-drop {
	 border: solid 1px #bbb;
	 border-top: none;
}

.formFields input:focus, textarea:focus, select:focus, input:focus[type=submit], input:focus[type=button] {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.5);
}


.formTitle, .formGroup, .narrow .vertical .formTitle{
	@extend .gradient-light;
}

.wide .vertical .formTable {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

form[method="post"] input[type="submit"] {
	background-color: #888;
	text-shadow: none;
	color: #fff;
	&:hover {
	   background-color: #999;
        &.btn-disabled {
            background-color: #888;
        }
	}
}

.inner-form form[method="post"] input[type="submit"] {
  background-color: #ddd;
  &:hover {
    background-color: #e5e5e5;
  }
}

.toolbar {
  form[method=post] input[type=button], form[method=post] a.button {
    background-color: #aaa;
    border: 1px solid #999 !important;
    text-shadow: none;
    &:hover {
      background-color: #b1b1b1;
    }
  }
}

.btn-disabled {
    color: #bbb !important;
}

.vertical .formTitle {
    font-size: 1.05em;
}

.vertical .formSection {
    padding: 8px 15px 0;
}

.vertical .formToolbar {
    padding: 5px;
}

.pages{
	margin: 12px 0px 8px 0px;
	&:after {
	    content: " ";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
}

.top-pager .pages{
	margin: 2px 0px 22px 0px;
}
.pages a{
	border: 1px solid #ccc;
	text-align: center;
	border-left: none;
	padding: 4px 3px;
	margin: 0;
	font-weight: bold;
	min-width: 20px;
	border-radius: 0;
	float: left;
	color: #666;
	display: table-cell;
	font-size: 0.9em;
	&:hover, &.pagerSelected {
	   border: 1px solid #ccc;
	   border-left: none;
	   border-radius: 0 !important;
	   padding:  4px 3px;
       color:#111;
	   &.pager {
	    background-color: #dddddd !important;
	   }
	}
	&:first-child {
        border-left: 1px solid #ccc !important;
        border-radius: 5px 0 0 5px !important;
    }
    &:last-child {
        border-radius: 0 5px 5px 0 !important;
    }
}

.narrow .pages a {
	margin: 0;
	font-size: 0.9em;
}

table.listTable > thead > tr > th {
	border: 1px solid #ddd;
	background-color: #eee;
}

table.listTable > tbody > tr > td {
	border: 1px solid #ddd;
}

.accordian li.btns-title {
    @extend .gradient-light;
	border: 1px solid #777 !important;
    border-bottom: none;
}

input[type="button"].more-btn {
	padding-right: 0.1em !important;
}

div.tab-control.alphabet div.tab-row .tab{
	float: left;
	background: #F5F5F5;
    padding: 4px 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 4px;
	margin: 5px 6px 3px 0;
	text-shadow: #FFF 1px 1px 0;
	-moz-box-shadow: 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px rgba(0,0,0,0.2);
	&.selected {
	   top: -4px;
	}
	&:hover a{
        color: #111 !important;
    }
	img{
	   width: 10px !important;
	   height: 10px !important;
	}
}

div.tab-control.deal-history-tab .tab-row .tab {
    margin: 0 3px 0 0 !important;
    top: 0 !important;
    padding: 5px !important;
}

.narrow div.tab-control.alphabet div.tab-row .tab {
    padding: 4px 5px !important;
    &.selected {
        top: 0;
    }
}

td.keylist-group > div {
	background-color: #ddd;
	border: 1px solid #ccc;
}

div.richEdit div.richedit-toolbar {
	border: solid 1px #bbb;
    border-top: none;
}

.debug_block {
	display: block;
}

div.statuses-message {
    margin: 30px auto 0px;
}

select.tab-control, select.tab-control option {
    font-size: 0.9em;
    padding-top: 0;
}

.tab-row > .tooltip-button {
    position: relative;
    top: 5px !important;
    margin-left: 10px !important;
}


div.tab-control.deal-history-tab .tab-row .tab {
    margin: 0 3px 0 0 !important;
    top: 0 !important;
    padding: 5px !important;
}

@media handheld, only screen and (max-width: 800px) {
	.narrow  .sidemenu-push-toleft#main-container {
		margin-left: -170px;
	}
    .narrow  .sidemenu-push-toright#main-container {
        margin-right: -170px;
    }
	.narrow .sidemenu-push-toleft #framecontentTop, .narrow .sidemenu-push-toleft .tab-control > .tab-row {
		left: -170px !important;
	}
}

@media handheld, only screen and (max-width: 1280px) {
    @-moz-document url-prefix() {
        .center-block {
            top: -4px;
            .notificationsCnt {
                top: -2px;
            }
        }
    }
}

@media handheld, only screen and (max-width: 640px) {
    .inner-framecontentTop{
        padding: 7px 7px 9px 7px !important;
    }
    .narrowPortalBlocks {
        margin: 5px;
    }
    #packWrapper {
        padding: 17px 7px 10px !important;
    }
    #main-container > div.tab-control > div.tab-row > .tab {
        margin: 5px 2px 3px;
    }
    .btn-sidemenu {
        margin: 0;
    }
    #main-container > .tab-control > .tab-row {
        padding: 3px 6px 1px !important;
        top: 44px;
        a {
            margin-bottom: 1px !important;
        }
    }
    .bookmarkLink {
        &.addBookmarkLink {
            right: 7px;
        }
        &.listBookmarkLink {
            left: 7px;
        }
    }
}