.document {
  width: 850px; }

.linkWithIcon {
  background-position: 3px bottom !important; }

.docBgIcon {
  background-position: 3px 7px !important; }

div.richtextHide {
  display: block !important; }

.richtext {
  font-family: default !important; }

code,
kbd,
pre,
samp {
  font-family: Courier New, serif !important; }

.footerDocBlock {
  display: block !important;
  border-top: 1px solid #666666 !important; }

.footerDocInfo {
  display: table-row !important; }

.footerDocTable {
  display: table !important; }

