.document {
  min-width: 850px; }

.linkWithIcon {
  background-position: 3px bottom !important; }

.docBgIcon {
  background-position: 3px 7px !important; }

div.richtextHide {
  display: block !important; }

code,
kbd,
pre,
samp {
  font-family: Courier New, serif !important; }

.footerDocBlock {
  display: block !important;
  border-top: 1px solid #666666 !important; }

.footerDocInfo {
  display: table-row !important; }

.footerDocTable {
  display: table !important; }

.footer-notes {
  page-break-inside: auto; }

thead {
  display: table-row-group; }

.versionNumber {
  margin-left: 5px; }

.staticFormView .formFieldValue {
  border: solid 1px #bbbbbb; }

  .products-table > tbody > tr > td,
  .quote-header > tbody > tr > td {
    border: 1px solid #cccccc;
    padding: 5px !important;
    vertical-align: top; }

