.tooltip-button{
	margin-left:5px;
	position:relative;
	top:3px;
	height:20px;
	display:inline-block;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.tooltip-text{
    color: #fff;
    position: relative;
    border-radius: 5px; 
	border: 1px solid #777;
	background: #FFFFCD;
	color: #333;
	display:none;
	max-width:650px;
	margin-bottom:10px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding: 8px 10px;
	top:-4px;
}
 
.tooltip-text a{
	color:#0000aa;
}

.tooltip-text a:hover{
	text-decoration:underline;
}

.narrow .tooltip-text {
	font-size: 14px;
	line-height: 16px;
	padding: 6px 6px;
}

.tooltip-arrow {
	display: block;
	width: 16px;
	height: 9px;
	position: absolute;
	background-image:url('../img/arrow-hint-top.png');
	top: -9px;
	left: 10px;
}
