body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ddd;
	font-family:Helvetica,Arial,Verdana,Sans-serif; /*diff*/
	font-size:16px; /*diff*/
}

#framecontentTop, #framecontentBottom, #framecontentTop.a, #framecontentBottom.a {
	display:block; /*diff*/
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color:#ddd;
	color: #048;
}

#framecontentTop { /*diff*/
	width:100%;
	padding: 0px;

}

#subMenu { /*common*/
  padding:5px;
  padding-top:1px; /*diff*/
  background-color:#eee;
  color:#997; /*diff*/
}

#mainMenu { /*common*/
  border-bottom:solid 2px #048;
  padding:5px;
  background-color:#ddd;
  min-height:70px; /*diff*/
}

#framecontentBottom { /*common*/
	width:100%; /*diff*/ 
	border-top:solid 2px #048;
}

#maincontent{
	position: relative;
	padding:7px;
	min-height:600px;
	background-color: #eee; /*common*/
}

#navBar{ /*common*/
	position: relative;
	margin-top:5px;
	margin-bottom:10px;
	color:#033;
	display:block;
 }

.innertube{ /*common*/
	margin: 5px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.menuRow { /*common*/
	color:#997;
	font-family:Arial;
    padding:1px;
	text-decoration:none; 
	font-weight:bold; 
}

#mainMenu a  { /*diff*/
	padding:1px; 
	text-decoration:none; 
	font-weight:bold; 
	font-family:arial; 
	border:solid 1px transparent;
}

#subMenu a  { /*diff*/
	padding:2px;
	padding-left:3px;
	padding-right:3px;
	font-family:arial; 
	border:solid 2px transparent;
}

#subMenu a.selected:hover  { /*diff*/
    color:#f90;
} 

a.menuItem:link, a.menuItem:visited { /*common*/ /*.menuRow a:link, .menuRow a:visited */
	color:#048;
	text-decoration:none; 
}
 
a.menuItem:hover, a.menuItem:active, a.menuItem:focus  { /*.menuRow a:hover, .menuRow a:focus*/
	color:white;
	background-color:#f90;
}

#mainMenu a.selected, #mainMenu a.selected:visited, #mainMenu a.selected:link { /*diff*/
	color:white; 
	background-color:#048;
}

#subMenu a.selected, #subMenu a.selected:visited, #subMenu a.selected:link { /*diff*/
	border:solid 2px #048;
	background-color:#ddd;
	border-top:solid 2px transparent;
	padding-left:5px;
	padding-right:5px;
	font-weight:bold;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border-top-left-radius:2px;
    border-top-right-radius:2px;
}

#mainMenu a.selected:hover { /*diff*/
	color:#f90;
}

/* Общи стилове за елементите */
a:link, a:visited { /*common*/
	text-decoration:none; 
	color:#048;
}

a:hover { /*diff*/
	color:#f90; 
}

a.out { /*common*/
	color:#0066ff; 
}

a.out:visited { /*common*/
	color:#6600cc;
}

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {  /*common*/
    font-family:    arial;
    display:        inline;
    margin:         1px -16px -3px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #ddd;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top:		2px solid #048;
}



div.tab-control div.tab-row .tab.selected { /*common*/
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     2px solid #048;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 4px 5px; 
    margin:         1px -16px -3px 18px;
    top:            -1px; /*diff*/
    font-weight:    bold;
}

div.tab-control div.tab-page { /*common*/
    clear: both;
    border: 1px solid #bbb;
    background: #ffffff;
    position: relative;
    top: 1px;
    padding: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	z-index: 2;
}


div.crm_Companies div.tab-row .tab.selected, div.crm_Companies  div.tab-page { /*common*/
    background:#f0f8ff;
}

div.crm_Persons  div.tab-page,  div.crm_Persons div.tab-row .tab.selected { /*common*/
    background:#f0fff0;
}

div.crm_Groups div.tab-row .tab.selected, div.crm_Groups  div.tab-page { /*common*/
    background:#ffffe8;
}
 
div.alphabet div.tab-row .tab { /*common*/
    background:     #ddd;
	font-size:      8pt;
	padding:        5px;
    border:         1px solid #aaa;
	margin: 2px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    float: left;
	margin-bottom: 10px;
}

div.alphabet div.tab-row .tab:hover { /*common*/
	margin-top:-1px;
	margin-bottom:13px;
	background-color: #ffffcc !important;
}

div.alphabet div.tab-row .tab:hover a { /*common*/
	color:red !important;
}

div.alphabet  div.tab-row .tab.selected { /*common*/
    background: #ffffcc;
    border: 1px solid #aaa;
    top: 0px;
	margin: 2px;
	padding: 5px;
	margin-top:-1px;
	margin-bottom:13px;
	box-shadow: 0px 0px 3px 1px  #ccc;
}

div.alphabet div.tab-page { /*common*/
    border:  none;
    background: transparent;
	margin: 0px; 
	padding: 0px;
}

div.crmImage { /*diff*/
	padding:18px 0px 8px 8px;
	float:right;
}

/**
 * Defnition lists: DL, DT, DD
 */
dl { /*common*/
	margin: 0 0 0.5em 0;
}

dl dt { /*common*/
	display: block;
	float: left; 
	width: 150px;
	clear: both;
	text-align: right;
	color: #888;
	margin-left: 0;
	margin-right: 0;
    line-height: 1.5em;
}

dl dd { /*common*/
	margin-left: 155px;
	margin-right: 0;
    line-height: 1.5em;
}
 
.quiet { /*common*/
	color: #888;  
	font-size: 0.9em; /*diff*/
}

.quiet td { /*diff*/
	border-top-width: 0; 
	border-bottom: none; 
}

.red { /*common*/
	color: #800; 
}

.green { /*common*/
	color: #080; 
}

.future { /*common*/
	background-color: #9ec;
}

.current { /*diff*/
	font-weight: bold; 
}

.current td { /*diff*/
	border-bottom1: none; 
}

.pricegroup td { /*diff*/
	border-top-width: 1px; 
}

.listTopContainer { /*diff*/
	margin-bottom:10px;
}

.telephone a, .fax a, .email a, .mobile a { /*diff*/
	color:#031;
}

.telephone a:hover, .fax a:hover, .email a:hover, .mobile a:hover { /*diff*/
	color:#093;
}

div.telephone { /*diff*/
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/telephone.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.fax { /*diff*/
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/fax.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.email { /*diff*/
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/email_link.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.mobile { /*diff*/
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/mobile.png');
	background-repeat:no-repeat;
	background-position: 6px center;
}


/*Стилове за пакета "mon"*/
.video-rec {}
.video-rec .normal { /*diff*/
	background-color:#999999;
	color:white;
}
.video-rec .played { /*diff*/
	background-color:#999999;
	color:#ffff66;
	font-weight:bold;
}
.video-rec .marked { /*diff*/
	background-color:#ffcc00; 
	color:black;
	font-weight:bold;
}

.vertical .formTitle { /*common*/
	background-color:#99f;
	border:solid 1px #88e;
	border-bottom:none;
	padding:8px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.formGroup { /*common*/
    margin-top:10px;
}

.vertical .formToolbar { /*common*/
	padding:8px;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border:solid 1px #bbb;
	border-top:none;
	background-image:url('../img/formToolbarBg.jpg'); /*diff*/

}

.vertical .formSection { /*common*/
	border-left:solid 1px #cca;
	border-right:solid 1px #cca;
	background-image:url('../img/yellow.png'); /*diff*/
}

.vertical .formTable { /*diff*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 3px 3px 8px 3px #aaa;
	-webkit-box-shadow: 3px 3px 8px 3px #aaa;
    box-shadow: 2px 2px 8px 3px #aab;
}

.listTopContainer .formTable { /*diff*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

a img { /*common*/
 border: none;
}

.btn-posting  { /*diff*/
	background-image:url('../img/16/comment_add.png');
}

.btn-export  { /*diff*/
	background-image:url('../img/16/table_export.png');
}

.btn-fax  { /*diff*/
	background-image:url('../img/16/fax.png');
}

.btn-email-create { /*diff*/
	background-image:url('../img/16/email_edit.png');
}

.btn-conto  { /*diff*/
	background-image:url('../img/16/tick-circle-frame.png');
}

.btn-task  { /*diff*/
	background-image:url('../img/16/sheduled-task-icon.png');
}

.btn-docIncomings  { /*diff*/
	background-image:url('../img/16/page_attach.png');
}

.btn-docIncomingsNew  { /*diff*/
	background-image:url('../img/16/page_lightning-new.png');
}

.btn-back { /*diff*/
    background-image:url('../img/16/red-back.png');
}

.btn-createLink { /*diff*/
    background-image:url('../img/16/link.png');
}

.btn-email-send { /*diff*/
	background-image:url('../img/16/email_go.png');
}


.btn-settings { /*diff*/
	background-image:url('../img/16/settings.png');
}

.btn-task-close { /*diff*/
    background-image:url('../img/16/media-playback-stop.png');
}

.btn-reload { /*diff*/
    background-image:url('../img/16/clock_go.png');
}

.btn-add { /*diff*/
	background-image:url('../img/16/star_2.png');
}

.btn-clone { /*diff*/
    background-image:url('../img/16/page_copy.png');
}

.btn-select { /*diff*/
	background-image:url('../img/16/key.png');
}

.btn-move { /*diff*/
    background-image:url('../img/16/arrow_right.png');
}

.btn-activation { /*diff*/
    background-image:url('../img/16/lightning.png');
}

.btn-open { /*diff*/
    background-image:url('../img/16/open_bulb.png');
}

.btn-close { /*diff*/
    background-image:url('../img/16/close_bulb.png');
}

.btn-active { /*diff*/
    background-image:url('../img/16/active_bulb.png');
}

.btn-revert { /*diff*/
    background-image:url('../img/16/red-back.png');
}

.btn-eml { /*diff*/
    background-image:url('../img/16/file_extension_eml.png');
}

.btn-html { /*diff*/
    background-image:url('../img/16/file_extension_html.png');
}

.btn-ocr { /*diff*/
    background-image:url('../img/16/scanner.png');
}

.btn-forward { /*diff*/
    background-image:url('../img/16/email_forward.png');
}

.btn-assign { /*diff*/
    background-image:url('../img/16/assign.png');
}

/*Стилове за acc*/
div.acc-detail { /*common*/
 font-size:0.8em;
 margin:3px;
 padding:3px;
 font-family:Arial;
 border:solid 1px #ccc;
 background-color:#eee;
}

/* стилове за 'contacts/tpl/ViewSingleLayout' */
.folder-cover { /*common*/
    border: solid 1px #bbbbbb; 
    border-radius: 5px;
/* 	font-size:0.8em; */
	-moz-box-shadow: 5px 5px 10px #999999;
    background: #ffffff;
    padding: 10px;
	display: inline-block;
	min-width:600px;
	max-width:750px;
    line-height:1.2em; /*diff*/
	margin-top:16px;
}

.printing .folder-cover { /*common*/
    border: none; 
/* 	font-size:0.8em; */
    background: #ffffff;
   -moz-box-shadow: none;
    padding: 10px;
	display: table;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:0px;
}

option.team { /*common*/
	background:black;
	color:#fc0;
}

#crm_Persons-EditForm  input { /*common*/
   max-width:600px;
}

.detail-info { /*common*/
	margin-top:10px;
	border:solid 1px #ccc;
	padding:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
}

.detail-info img { /*common*/
	margin-left:5px;
	vertical-align:middle;
}

.portal { /*common*/
	margin-top:15px;
	padding:10px;
	padding-top:18px;
 	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	background-color:white;
 }

.portal .legend { /*common*/
	position:absolute;
	margin-top:-35px;
	margin-left:10px;
	z-index:100;
	padding:5px; 
	border:solid 1px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	font-weight:bold;
}

.portal table.listTable { /*common*/
	width:100% !important;
	border:none;
	font-size:0.9em; /*diff*/
}

.portal table.listTable td { /*common*/
	border:none !important;
	border-top:dotted 1px #ccc !important;
	vertical-align:top !important;
}

.portal table.listTable>tbody>tr:first-child>td { /*common*/
	border-top:none !important;
}

.portal table.listTable th { /*common*/
	display:none;
	border:none;
	vertical-align:top !important;
}

td.portal-date { /*diff*/
	text-align:right !important;
	white-space:nowrap;
}

.folder-cover .groupTitle { /*common*/
	color: #333;
	font-weight: bold;
}

table.mc-calendar { /*common*/
	width:100%;
	font-size:0.8em;
}

table.mc-calendar td.mc-day { /*common*/
	text-align:right;
 	border:none;
	background-color: #e8efe8;
	border:solid 2px #e8efe8;
	padding:1px;
	font-weight:bold;
	width:14% !important;
	cursor: pointer;
}

table.mc-calendar td.mc-week-nb { /*common*/
 	border:none;
 	padding:3px;
}

table.mc-calendar td.mc-wd-name { /*common*/
	text-align:right;
 	padding-right:3px;
}


table.mc-calendar td.mc-sunday { /*common*/
	color:green;
}

table.mc-calendar td.mc-holiday { /*common*/
	color:red !important;
}

table.mc-calendar td.mc-saturday { /*common*/
	color:#006030;
}


table.mc-calendar td.mc-day:hover { /*common*/
	background-color: #ffff66;
}

table.mc-calendar td.mc-today { /*common*/
	border:solid 2px red;
}

table.mc-header a { /*common*/
	color:#999;
}

.pcell-header { /*useless*/
	padding-left:10px !important;
	padding-right:10px !important;
}


td.pcell-today div.pcell-number { /*useless*/
	color: red;
	border:solid 2 px red !important;
}

td.pcell-weekend div.pcell-number{ /*useless*/
	color:green;
}

.groupList div { /*common*/
	padding:1px;
}

div.folder-cover .label { /*common*/
	color: #777777;    
	font-size: 13px; 
	width: 70px; 
	float: left;
} 
                     
div.folder-cover A.sky:link, div.folder-cover A.sky:visited,div.folder-cover A.sky:active{/*common*/
	font-size: 13px; 
	color: #4a66b0; 
	text-decoration: none;
}

div.folder-cover A.sky:hover { /*common*/
	font-size: 13px; 
	color: #4a6z6b0; 
	text-decoration: underline;
}
                              
div.folder-cover .fancybox img { /*common*/
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 10px;
}

div.folder-cover .block_title { /*common*/
    border-bottom: solid 1px #dddddd; 
    padding: 7px;
	font-size: 1.4em;
	color: #433;
	text-shadow: 1px 1px 1px #ddd;
}

div.folder-cover .block_left { /*common*/
    clear: left;
    background: #ffffff;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    min-width: 250px;
    float: left;
    margin-right: 20px;
    position: relative;    
}

div.folder-cover .block_left .address { /*common*/
    max-width: 240px;
    margin-bottom: 15px;	
}	

div.folder-cover .block_right { /*common*/
	background: #ffffff;
	min-width: 100px;
	font-size: 12px; 
	padding: 0 0 10px 10px;
	float: left;	
}
/* ENDOF стилове за 'contacts/tpl/ViewSingleLayout' */

/* стилове за 'cat/tpl/SingleProduct' */
div.products-single { /*useless*/
    display: block;
    border: solid 1px #bbbbbb; 
    -moz-border-radius: 5px; 
    background: #fafafa;
    -moz-box-shadow: 5px 5px 10px #999999;
    font-size: 12px; 
    padding: 10px 15px 0 15px;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
    max-width: 700px;
}

div.products-single .fancybox img { /*useless*/
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 3px;
    width: 200px;
    height: 150px;
    margin-right: 0px;
    margin-top: 10px;
}

div.products-single .block_title { /*useless*/
    min-width: 300px; 
    width: 100%; 
    height: 15px; 
    border-bottom: solid 1px #dddddd; padding-bottom: 5px;
}

div.products-single .block_left { /*useless*/
    clear: left;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    float: left;
    margin-right: 20px;
    position: relative;
}

div.products-single .block_right { /*useless*/
    min-width: 100px;
    font-size: 12px; 
    padding: 10px 0 10px 10px;
    float: left;
}

div.products-single .block_right .description { /*useless*/
    max-width: 300px;
}

div.products-single .block_right .details-tpl { /*useless*/
    margin-top: 10px;
}
/* ENDOF стилове за 'cat/tpl/SingleProduct' */

/* стилове за 'contacts/Contacts' */
div.contacts-row {float: left;} /*diff*/

div.contacts-row .clear_l {clear: left;} /*diff*/

div.contacts-row p { /*diff*/
    display: block;
    float: left;
    text-align: left;
    height: 15px;
    margin: 2px 0px;
}

div.contacts-row p.w-80px { /*diff*/
    width: 80px;
}

div.contacts-row p.gr {color: #777777;}	/*diff*/
/* ENDOF стилове за 'contacts/Contacts' */

/* стилове за 'lab/tpl/ViewSingleLayoutTests' */
 

table.top-table { /*diff*/
 	border: none;
}

table.top-table td { /*diff*/
 	border: none;
	vertical-align:top;
}

.antetka { /*common*/
	margin-top: 10px; 
	padding:5px; 
	border:solid 1px #ddd;
	background-color:#eee;
	background: rgba(200, 200, 200, 0.4); /*diff*/
}

.thread-opened .antetka { /*common*/
	background-color:#eeffee !important;
}
 
.threadSubTitle { /*common*/
	font-size:0.75em;
	padding:2px;
	padding-bottom:0px;
	color:#353;
}

.document { /*common*/
	border: solid 1px #bbbbbb; 
	background: #ffffff;
    -moz-box-shadow: 5px 5px 10px #999999;
	-webkit-box-shadow: 5px 5px 10px #999999;
    box-shadow: 5px 5px 10px #999999;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	max-width:900px; /*diff*/
    min-width:800px; /*diff*/
}

.listTable>tbody>tr>td div.document { /*common*/
	border: none; 
	background: transparent;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 5px;
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
    width:850px !important; /*diff*/
}

.doc_Containers table.listTable td  { /*common*/
    vertical-align:top !important;
}

.doc_Containers table.listTable.listTable>tbody>tr:hover  { /*common*/
    background-color:transparent !important;
}

.doc_Containers table.listTable.listTable>tbody>tr  { /*common*/
    background-color:transparent !important;
}

.doc_Containers .toolbar{ /*diff*/
	margin-left:2px;
	margin-top:5px;
}

.toolbarHide { /*diff*/
	display:none;
}

.doc_Containers .thread-opened table.listTable>tbody>tr:hover  { /*common*/
    background-color:#f4fff4 !important;
}

 .doc_Containers .thread-opened table.listTable>tbody>tr  { /*common*/
    background-color:#f4fff4 !important;
}


.listTable .document h2 { /*common*/
	margin-top:3px;
}

.listTable .toolbar { /*common*/
	padding:3px;
}

.document .header { /*common*/
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding:3px;
	font-size:1em;
	margin:5px 0;
}

.document .header span { /*common*/
    background-position: 3px center;
    padding-left:24px;  
    background-repeat:no-repeat;
	font-weight:bold;
}

.printing .document { /*common*/
	border: none; 
	/* -moz-border-radius: 5px; */
    /* -webkit-border-radius: 5px; */
    /* border-radius:5px; */
	background: #ffffff;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	min-width:0px;
	width:97% !important; /*diff*/
}
 
div.catering-menu-single .label { /*useless*/
	font-size: 13px; 
	width: 110px; 
	float: left;
} 
                     
div.catering-menu-single .block_title { /*useless*/
    min-width: 300px; 
    width: 100%; 
    height: 18px; 
    border-bottom: solid 1px #dddddd; 
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.catering-menu-single .block_title div.title { /*useless*/
	width: 100%; 
	text-align: center; 
	font-size: 14px;
}

div.catering-menu-single .block_subtitle { /*useless*/
    min-width: 300px; 
    width: 100%; 
    padding-bottom: 5px;
}

div.catering-menu-single .block_subtitle div.line1 { /*useless*/
	width: 100%; 
	text-align: center; 
	font-size: 14px; 
	padding-top: 10px;
}

/* ENDOF стилове за 'catering/tpl/ViewSingleLayoutMenu' */

/* стиловa колекция css_lib */
div.css-lib div {display: block; text-align: left;}  /*useless*/
div.css-lib .clear_l {clear: left;} /*useless*/
div.css-lib .clear_both {clear: both;} /*useless*/
div.css-lib .f_left {float: left;} /*useless*/
div.css-lib .f_right {float: right;} /*useless*/
div.css-lib .b {font-weight: bold;} /*useless*/
div.css-lib .pt_10px {padding-top: 10px;} /*useless*/
div.css-lib .pl_0px {padding-left: 0px;} /*useless*/
div.css-lib .mt_10px {margin-top: 10px;} /*useless*/
div.css-lib .mt_50px {margin-top: 50px;} /*useless*/
div.css-lib .mb_5px {margin-bottom: 5px;} /*useless*/
div.css-lib .w_100 {width: 100%;} /*useless*/
div.css-lib .a_left {text-align: left;} /*useless*/
div.css-lib .no_b {font-weight: normal;} /*useless*/
div.css-lib .gr {color: #777777;} /*useless*/
/* ENDOF стиловa колекция css_lib */

/*
 * Стилове за счетоводството
 */

.level-1 td { background-color: #008; color: #fff; font-weight: bold;} /*diff*/
.level-1 td a { color: #fff; } /*diff*/
.level-2 td { background-color: #fc6; color: #333; } /*diff*/
.level-3 td { background-color: #fff; } /*diff*/
.level-4 td { background-color: #fff; } /*diff*/
.level-5 td { background-color: #fff; } /*diff*/

 
.state-revert { /*diff*/
    background-color: #cc9933;
}
 
tr.zebra0 { /*diff*/
    background-color:#eff;
}
tr.zebra1 { /*diff*/
    background-color:#ffe;
}

input.inplace { /*diff*/
	border: none;
	background-color: #ffc;
}

input.inplace.number { /*diff*/
	text-align: right;
}

td.pallet_place { /*diff*/
    font-size: 14px; 
    text-align: center; 
    width: 32px;
    color: #999999;
    background: #eeeeee; 
}

td.pallet_place.outofuse { /*diff*/
    text-decoration: line-through;
    color: #333;
}

td.pallet_place.reserved { /*diff*/
    color: #b80000;;
    background: $eeeeee;
}

td.pallet_place.in_use { /*diff*/
    background: #00ff55;
    font-weight: bold;
}

td.pallet_place.movement_waiting { /*diff*/
    background: #00dd55;
}

td.pallet_place.movement_active { /*diff*/
    background: #00dd55;
    text-decoration: blink;
}

td.pallet_place.out_of_filter { /*diff*/
    background: #777777 !important;
}

td.constrColumnRight { /*diff*/
    border-right: solid 3px #777 !important;
}

td.constrColumnLeft { /*diff*/
    border-left: solid 3px #777 !important;
}

tr.noHover td:hover { /*diff*/
	color: #999999; 
	background: white;
}

div.attachments { /*common*/
	display:inline-block; 
	float: right; 
	margin:2px;
}


div.attachments .aHeader { /*common*/
	background-color:#e0e0e0;
	padding:3px;
	padding-left:26px;
	background-image:url('../img/16/attach.png');
	background-repeat:no-repeat;
	background-position: 6px 4px;
	border-bottom:solid 1px #e0e0e0;
}

.thread-opened div.attachments .aHeader { /*common*/
	background-color:#e0f0e0;
}

div.attachments .file { /*common*/
	display:block;
	margin-bottom:2px;
}

.stateIndicator { /*common*/
	height:0.6em;
	width:0.6em;
	border:solid 1px #999;
	border-radius:0.3em;
}

.thread-opened>div>table.listTable>tbody>tr>td { /*common*/
	border:solid 1px green !important;
}

.thread-opened th  { /*common*/
	border:solid 1px green !important;
	background-color:#aea  !important;
}

#notificationsCnt { /*diff*/
    margin-left:30px;
	float:right;
	position: absolute; /*common*/
 }

#notificationsCnt a    { /*diff*/
	display:block;
	color:white;
	font-size:0.9em;
	padding:1px 2px 1px 2px !important;
	border-radius:3px;
	box-shadow: 2px 2px 3px #666;
}

#notificationsCnt a.haveNtf { /*common*/
	background-color:red;
	border:solid 1px #c33 !important;
}


#notificationsCnt a.noNtf { /*diff*/
    color:transparent;
	background-color:transparent;
	border:none !important;
	box-shadow: none;
}

legend img { /*common*/
	vertical-align:middle; 
}

ul.history { /*common*/
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.history.summary { /*common*/
    width: 85%;
    margin: 0 auto;
    font-size: 0.75em;
}

ul.history li { /*common*/
	margin: 3px 0;
	padding: 2px 0;
	line-height: 1.2;
}

ul.history.summary li span { /*common*/
    color: #333;
}

ul.history b { /*common*/
    color: white;
	padding: 1px 5px;
	-webkit-border-radius: 3px;
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

ul.history .action.send b { /*common*/
    background-color:green;	
}
.action._received b { /*common*/
    background-color:blue;
    color: white;
}
.action._returned b { /*common*/
    background-color:red !important;
    color: white;
}
ul.history .action.print b { /*common*/
    background-color:#777;
}

ul.history .action.open b {  /*common*/
    background-color:#ccc;
	color: #333;
}

ul.history .action.download b {  /*common*/
    background-color:purple;
}

ul.history .action.pdf b {  /*common*/
    background-color:#888;
	color: #fff;
}

ul.history .detailed b {  /*common*/
    background-color:#ccc;
}

div.sharing-history { /*common*/
	border: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	position: relative;
	color: #555;
    font-size: 0.9em;
	clear: both;
	padding-right:120px;
}

span.sharing-history-title {/*common*/
	padding: 2px 5px;
	padding-left: 23px;
	background: #eee url(../img/share.png) no-repeat 3px center;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	border: 1px solid #ccc;
	border-top: none;
    color: #777;
}

fieldset.sharing-history ul { /*common*/
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

fieldset.sharing-history ul li .user { /*common*/
	color: #333;
}

fieldset.sharing-history ul li.seen { /*common*/
    list-style-type: disc;
    color: green;
}

fieldset.sharing-history ul li.unseen { /*common*/
    list-style-type: circle;
    color: red;
}

fieldset.sharing-history i { /*common*/
	color: #888;
	font-size: 0.9em;
}

.icon { /*diff*/
	display: inline-block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: left center;
}


input.contactData, textarea.contactData, select.contactData { /*diff*/
	width:400px;
}

input.pCode { /*diff*/
	width:80px;
}

select { /*diff*/
    max-width:500px;
}


/* CMS */

#cmsTop { /*common*/
	background-repeat:no-repeat;
	display: block;
	height: 287px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#cmsMenu { /*common*/
	  padding-top:10px;
	  padding-bottom:10px;
	  text-align:left;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

#cmsMenu a { /*common*/
	font-size:1.2em;
	padding:4px;
	margin-left:20px;
	margin-right:20px;
	white-space:nowrap;
}

#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a { /*common*/
	display:block;
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#cmsBottom { /*common*/
	font-size:1.2em;
	padding:0px;
	padding-top:7px;
	height:37px;
	display:block;
	width:1000px;
}

#all { /*common*/
	width:1000px;
	display:block;
	margin:10px auto;
	text-align:left;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

#cmsNavigation div.nav_item { /*common*/
	padding:1px;
	font-family:Trebuchet MS, Geneva, Tahoma, sans-serif;
}

#cmsNavigation a { /*common*/
	-moz-border-radius:3px;
	border-radius: 3px;
	padding-left:3px;
	padding-right:3px;
	display: inline-block;
	border:solid 1px transparent;
}

#cmsNavigation .level1 { /*common*/
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:2px;
}

#cmsNavigation div:first-child { /*common*/
	margin-top:0px !important;
}

#cmsNavigation .level2 { /*common*/
	margin-top:0px;
	margin-bottom:2px;
	font-size:15px;
	margin-left:10px;
}

#cmsNavigation .level3 { /*common*/
	margin-top:1px;
	margin-bottom:2px;
	font-size:14px;
	margin-left:20px;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.cms-container { /*common*/
	padding-left: 20px;
	padding-right: 20px;
}

.cms-row { /*common*/
	width: 100%;
	max-width: 1024px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { /*common*/
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.cms-row .onecol { /*common*/
	width: 4.85%;
}

.cms-row .twocol { /*common*/
	width: 13.45%;
}

.cms-row .threecol { /*common*/
	width: 22.05%;
}

.cms-row .fourcol { /*common*/
	width: 30.73%;
}

.cms-row .fivecol { /*common*/
	width: 39.45%;
}

.cms-row .sixcol { /*common*/
 	width: 48%;
}

.cms-row .sevencol { /*common*/
	width: 56.75%; 
}

.cms-row .eightcol { /*common*/
	width: 65.3%;
}

.cms-row .ninecol { /*common*/
	width: 74.05%;
}

.cms-row .tencol { /*common*/
	width: 82.7%;
}

.cms-row .elevencol { /*common*/
	width: 91.35%;
}

.cms-row .twelvecol { /*common*/
	width: 100%;
	float: left;
}

.last { /*common*/
	margin-right: 0px;
}


h2 { /*diff*/
 margin-top:0px;
}

@media handheld, only screen and (max-width: 1000px) { /*common*/

	#cmsTop, #all {
		-moz-border-radius-topright:0px;
		-moz-border-radius-topleft:0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-top:none;
		margin-top:0px;
	}
	
	#cmsTop, #all, #cmsBottom {  /*diff*/
		width: 100% !important;
	}

	#all {
		margin-top:0px;
		margin-bottom:0px;
	}
}

 
.badge { /*diff*/
	border-radius: 9px;
	-moz-border-radius: 9px;
    color: #fff;
    background-color: #999;
    font-size: 0.84em;
    padding: 1px 7px 2px;
}

.webdrvTabBody { /*diff*/
	max-width: 900px;
	min-width: 800px;
	min-height: 600px;
}

.webdrvIframe { /*common*/
	width:100%;
	min-height:600px; /*diff*/
	border:solid 0px transparent;
}

.webdrvFieldset { /*diff*/
	min-height: 600px;
}

#blog-article-details .listTable th{ /*diff*/
	display:none;
}

#blog-article-details .listTable { /*diff*/
	background:rgba(229,229,229,1) 100%;

}

#blog-single-article{ /*useless*/
	border:1px solid white;
	min-height:500px;
    width: 740px ;
    margin-top:0px;
    background-color:#FFFFFF;
 
}

#blog-single-article-body{ /*useless*/
	margin-left:auto;
    margin-right:auto;
	margin-top:20px;
	width: 700px ;
    -moz-box-shadow:    0px 0px 1px 1px #646465;
    -webkit-box-shadow: 0px 0px 1px 1px #646465;
    box-shadow:         0px 0px 1px 1px #646465;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 70%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#blog-single-article-body #title-text{ /*useless*/
	margin-left:20px;
	font-size:24px;
}

#blog-single-article-body #author-label{ /*useless*/
	margin-top:10px;
	margin-left:20px;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;
	color:darkgreen;
}

#blog-single-article-body #author-text{ /*useless*/
	margin-left:10px;
	color:darkblue;
	font-weight:bold;
	font-family:Ariel;
	font-size:12px;
}

#blog-single-article-body #article-body{ /*useless*/
	width:680px;
	margin-top:75px;
	min-height:110px;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:30px;
	background:white;
	font-style:italic;
	color:#472265;
}

#blog-single-article-body #modified-label{ /*useless*/
	margin-left:200px;
	font-size:12px;
	color:#3B3559;
	font-weight:bold;
}

#blog-single-article-body #cat{ /*useless*/
	width:150px;
	border:1px solid green;
	margin-left:20px;
}

#blog-single-article-body  .cat-label, .blog-article-list-table .article-list-comment{ /*useless*/
	font-size:12px;
	color:#3B3559;
	font-weight:bold;
	margin-left:20px;
}

#blog-single-article-body #created-text{ /*useless*/
	font-size:12px;
	color:darkgreen;
	font-weight:bold;
	margin-left:10px;
}

#blog-article-details{ /*useless*/
	width:95%;
	margin-left:auto;
    margin-right:auto;
	margin-top:20px;
	list-style:none;
	padding-left:0px;
	
}

#blog-article-details  .comment-body{ /*useless*/
	background:#ECF4F3;
	height:50px;
	vertical-align:top;
	padding-left:17px;
	text-indent: 5px;
	padding-top:5px;
	
}

 #blog-article-details  .comment-header{ /*useless*/
	font-weight:bold;
	background:rgba(229,229,229,1) 100%
}

#blog-article-details .comment-table-row{ /*useless*/
	padding:0;
}

.blog-comment-new-table td .comment-title{ /*useless*/
	margin-left:5px;
	font-size:12px;
	color:#000000;
}

.blog-comment-new-table td .comment-author, .blog-article-list-table .article-list-author{ /*useless*/
	margin-left:20px;
	font-size:12px;
	color:darkred;
}

.blog-comment-new-table td .comment-grade{ /*useless*/
	margin-top:-20px;
	float:left;
	margin-left:495px;
	font-size:12px;
	color:#000000;
}

.blog-comment-new-table{ /*useless*/
	margin-top:-3px;
	-webkit-box-shadow: 0px 1px 1px 1px ##B9B7B7;
	box-shadow: 0px 1px 1px 1px #B9B7B7;
}

.blog-comment-new-table td .createdon, .blog-article-list-table .article-list-createdon{ /*useless*/
	margin-left:20px;
	font-size:12px;
	font-weight:bold;
}

.blog-article-list-table .list-table-body{ /*useless*/
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFFFFF;
	text-indent:15px;
	padding-left:10px;
}

.blog-article-list-table .article-list-title{ /*useless*/
	margin-left:10px;
	font-weight:bold;
}

.blog-article-list-table .article-list-commentnumber{ /*useless*/
	float:right;
	margin-right:10px;
	color:#2e3366;
	font-size:15px;
	font-weight:bold;
}

#blog-article-list-table .list-table-header{ /*useless*/
	background:#C7C6C6  ;
}

.blog-article-list-table .article-list-average{ /*useless*/
	color:darkred;
	font-size:12px;
	font-weight:bold;
	margin-left:60px;
}

#article-table-view #article-list-body li{  /*useless*/
	width:500px;
	margin-top:40px;
	min-height:120px;
}

#blog-article-details  li { /*useless*/
	margin-top:20px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 2px 3px rgba(0, 0, 0, 1);
	box-shadow:         0px 2px 3px rgba(0, 0, 0, 1);
}

#blog-single-article #show-comments{ /*useless*/
	margin-top:20px;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	text-align:center;
	font-weight:bold;
	padding-top:5px;
	background:#C7C6C6  ;height:0px;
	
}

#blog-article-list-body { /*useless*/
	width:130%;
	margin-left:auto;
    margin-right:auto;
	margin-top:20px;
	list-style:none;
	padding-left:0px;
}

#blog-article-list-body li{ /*useless*/
	margin-top:50px;

}

.blog-comment-new-table .comment-header{ /*useless*/
	background:#C7C6C6;

}

.blog-article-body{ /*useless*/
	padding:10px;
	text-indent:10px;
	vertical-align:text-top;
	height:100px;
}

.blog-comment-new-table .article-author{ /*useless*/
	font-size:12px;
	color:darkred;
	font-weight:bold;
	margin-left:20px;
}

.blog-comment-new-table .article-createdon{ /*useless*/
	font-size:12px;
	color:darkblue;
	font-weight:bold;
	margin-left:20px;
}

.blog-comment-new-table .article-title{ /*useless*/
	margin-left:20px;
	margin-top:30px;
}

.blog-comment-new-table .article-category{ /*useless*/
	margin-left:20px;
	font-size:14px;
	font-weight:bold;
	color:darkblue;
}

.blog-comment-new-table .article-comments{  /*useless*/
	float:right;
	margin-right:10px;
	font-size:14px;
	font-weight:bold;
	color:darkgreen;
}

.blog-comment-new-table .article-average{ /*useless*/
	margin-left:20px;
	font-size:12px;
	font-weight:bold;
}

#blog-article-title{ /*useless*/
	width:400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.blog-comment-new-table .comment-header { /*useless*/
	padding-top:5px;
	padding-bottom:5px;
}

#blog-article-bottom-toolbar{
	width:400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.article-tools .rowtools {
	margin-left:20px; width:50px;
}
.article-tools .rowtools .r{
	display:none;
}

#categories-menu  {
	margin-top:47px;
	text-indent:15px;
}

#blog_Articles-EditForm, #blog_Comments-EditForm {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-box-shadow: 0px 1px 2px 1px #959090;
	box-shadow: 0px 1px 2px 1px #959090;
	background:#E0DCDC;
}

 .categories_list{ /*useless*/
	margin-top:8px;
	height:25px;
	padding-top:10px;
	border-top: 1px solid rgb(150, 209, 248);
	background: -moz-linear-gradient(center top , rgb(89, 86, 86), rgb(133, 133, 133)) repeat scroll 0% 0% transparent;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0px 1px 0px rgb(0, 0, 0);
	color: white;
	font-size: 16px;
	font-family: Arial;
	text-align:center;
	font-weight:bold;
}
#cat_header { /*useless*/
	text-align:center;
	font-size:22px;
}

#categories-menu li a { /*useless*/
	color:white;
}

#categories-menu li a:hover { /*useless*/
	color:yellow;
	text-size:22px;
}

#blog-article-filter{ /*useless*/
	background:rgb(199,198,198);
	border-radius: 8px 8px 8px 8px;
	-webkit-box-shadow: 0px 0px 1px 1px #959090;
	box-shadow: 0px 0px 1px 1px #959090;
}

#comment-list-add { /*useless*/
	height:230px;
	list-style:none;
	padding-left:5px;
	padding-top:5px;
	background: rgb(229, 229, 229);
	border-radius: 8px 8px 8px 8px;
}

#no-articles-found { /*useless*/
	margin-top:30px;
	margin-left:20px;
	font-size:18px;
}

.print-page-break{
	padding: 0px;
	margin:0px;
	float: left;
	min-width:0px;
	page-break-after: always;
}

/*
 * Хипервръзки към профилите на потребители
 */
a.profile { /*common*/
    padding:2px;
    border-radius:2px;
}

a.profile.ceo { /*common*/
	color:blue;
}

a.profile.manager { /*common*/
	color:#009999;
}

a.profile.officer { /*common*/
	color:green;
}

a.profile.executive { /*common*/
	color:#aa6600;
}

a.profile.contractor { /*common*/
	color:#f00;
}
