/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с обичайно големи дисплеи (например PC)            *
 *                                                              *
 ****************************************************************/


/* Стилове за елемента 'combobox' */
input.combo {

}

select.combo { 
    position: absolute; 
    vertical-align:top;
    visibility:hidden;
}

 

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab { /*common*/
    display:        table;
    margin:         1px -15px 1px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}



div.tab-control div.tab-row .tab.selected { /*common*/
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     3px solid #036;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 5px 5px; 
    margin:         1px -14px -3px 18px;
    top:            -3px;
    font-weight:    bold;
}

div.tab-control div.tab-page { /*common*/
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
    /* min-width:95%;  махнато за ради Upload формата*/
    /* display: table; */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.tab-control .tab-title { /*common*/
	font-weight: bold;
}

.noSelect, div.richedit-toolbar, #mainMenu, #subMenu, div.tab-row {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc; /*common*/
    border: 1px solid #9999ff; /*common*/
    border-top: none; /*common*/
    padding: 5px; /*common*/
    font-size: 0.85em; /*common*/
    text-align: left;/*common*/
    padding-top:10px; 
	color:#333; /*common*/
    font-size:0.9em; /*common*/
	margin-top:-4px;
	white-space:nowrap;
	 
}

span.richEdit { /*common*/
	display:table;
	width:100%;
}

.richEdit textarea { /*common*/
	border-bottom: 1px solid transparent; /*diff*/
	margin-bottom:0px; 
	overflow:auto; 
	width:100%; /*diff*/
}

p.richtext { /*common*/
	border: solid 1px red;
}

.richtext {
	color:#333;
	font-family: sans-serif;
	line-height: 1.4em;
}

.richtext h1 { /*common*/
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.2em;
}

.richtext h3 {
	line-height:2em;
    margin:5px; /*common*/
    margin-left:0px;
}

.richtext h2 { /*diff*/
	margin-left:0px;
	margin-bottom:5px;
	padding:5px;
	background-color: #ddf;
}

pre.richtext { /*common*/
    font-family: Courier New,monospace;
    padding:10px;
    background-color:#ffe;
    color:#000;
    line-height:120%;
    border:solid 1px #ccc;
    overflow: auto; /*diff*/
	white-space: pre-wrap;
	max-width:800px; /*diff*/
}

.richtext .code {/*common*/
	white-space:pre;
}

div.richtext li { /*common*/
    margin:0px;
    padding:0px;
    margin-left:1.5em;
    padding-top:0.2em;
}

div.richtext ul { /*common*/
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: circle;
}

div.richtext ul ul { /*common*/
	list-style-type: square;
}

div.richtext ol { /*common*/
	margin-top: -20px;
	margin-bottom: -15px;
	list-style-type: decimal;
}

div.richtext ol ol { /*diff*/
	list-style-type: lower-alpha;
}

div.richtextHide { /*common*/
	display:none;
	margin-left:4px;
	border-left:dotted 1px #ccc;
	padding:10px; 
}

a.rtbutton { /*common*/
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}

a.rtbutton1 { /*common*/
	padding-right:3px;
    cursor: pointer;
}

a.rtbutton:hover { /*common*/
    background: white;
    border-style: outset;
}


/* Стилове за елемента 'list Table' */
table.listTable { /*common*/
    margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
}

table.listTable>tbody>tr:hover  { /*common*/
    background-color:#ffc !important;
}

table.listTable>tbody>tr>td { /*common*/
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

table.listTable>thead>tr>th { /*common*/
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle { /*common*/
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar { /*common*/
	margin-top:10px;
} 

.toolbar{ /*diff*/
	display:block;
 }

.listFilter { /*common*/
	padding-bottom:5px; 
	float:left;
}

.listSummary { /*common*/
	padding-bottom:5px; 
	float:right;
}

.listPager{ /*common*/
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer { /*common*/
	width:100%;
}


/* Стилове за показване на формите */

form { 
    display:table; /*diff*/
    margin: 0px; /*common*/
 }

.formError {
    border:solid 1px red; /*common*/
    background-color:#ff6;  /*common*/
    padding:10px; /*diff*/
    font-size:0.9em;  /*common*/
    -moz-border-radius: 5px; /*diff*/
    -webkit-border-radius: 5px; /*diff*/
    border-radius: 5px; /*diff*/
    text-align:left; /*diff*/
    min-width:300px; /*diff*/
}

.formError li.ignored{ /*common*/
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:10px; /*diff*/
}

.formFields table { /*diff*/
	width:100%;
}


/* ХОРИЗОНТАЛНА ФОРМА */

.horizontal .formFields {
	float:left; /*diff*/
}

div.hFormField { /*diff*/
	float:left;
	margin-right:7px;
	margin-bottom:2px;
}

.horizontal .formToolbar { /*diff*/
	float:left;
	margin-left:7px;
}


/* ВЕРТИКАЛНА ФОРМА */

.vertical .formFieldCaption { /*diff*/
	padding-top:5px;
	white-space: nowrap;
	width:1px;
}

.vertical .formGroup { /*common*/
    padding:4px;
    background-color: #99f;
	color:white;
    border-radius: 3px;
}

.vertical .formTitle { /*common*/
    padding:    10px;
    font-size:  20px;
    background-color:blue;
    color:white;
}

.vertical .formAll { /*diff*/
    background-color:blue;
    color:white;
}

.vertical .formSection {  /*common*/
    padding:15px; /*diff*/
    background-color:#ffe;
    color:black;
    vertical-align:top;
}

.vertical .formToolbar { /*diff*/
    padding:5px; 
    background-color:#ccc; 
    border:solid 1px #aaa;
}

.formToolbar input { /*diff*/
    margin-right:10px;
}


/* Стилове за страньора 'hlp_Pager' */
a.pager { /*diff*/
    padding: 3px; 
    cursor:pointer;
    color:#444444; 
    font-weight:bold; /*common*/
}

a.pager:hover { /*diff*/
    border:solid  1px #aaaaaa; 
    -moz-border-radius:4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;   
    background-color:#eee;    
    text-decoration: none;
}

a.pagerSelected { /*common*/
    border:solid 1px #aaaaaa;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;
    background-color:#ffffee;
    color:#994444;
    font-weight:bold;
}

input, select, textarea { /*common*/
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border: solid 1px #9999ff;
    font-size:1.06em; /*diff*/
	padding-left: 3px; /*diff*/
}

.formFields input:focus, textarea:focus, select:focus { /*diff*/
    outline: 0px none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset, 0px 0px 7px rgba( 153, 153, 255, 0.7);
}

.formFields input, textarea, select { /*diff*/
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset ;
}

input[type=checkbox] + label { /*common*/
    color:#666;   
}

input[type=checkbox]:checked + label { /*common*/
    color:#000;
} 

input[type=radio] + label { /*common*/
    color:#666;   
}

input[type=radio]:checked + label { /*common*/
    color:#000;
}

.checkbox, .radiobutton { /*diff*/
	border: none !important;
}


.inputError { /*common*/
    border:solid 1px red;
}

.inputWarning { /*common*/
    border:solid 1px #ff9900;
}

.keylist-group { /*common*/
    padding:3px;
    font-size:0.9em;
    font-weight:bold;
    background-color:#ffcc66;
    color: #666;
}


/* Стил за 'редактиране на място'*/
.ajaxEditInput { /*diff*/
    border:none;
    background-color:#ff9;
}

.warningMsg { /*common*/
    background:yellow;
    padding:5px;
    border:dotted 1px green;
    color:green;
}

.errorMsg { /*common*/
    background:yellow;
    padding:5px; 
    border:dotted 1px red; 
    color:red;
}

.linkWithIcon, .docBgIcon { /*common*/
    padding-left:22px;  
    background-repeat:no-repeat;
    background-position: 3px center;
}


/* BUTTONS */
a.button, input[type=button], input[type=submit] { /*common*/
	-webkit-appearance: input; /*diff*/
    margin-right:3px;
    background-color:#ddd; /*diff*/
    color:#036;
    font-weight:bold;
    border:1px solid #bbb; /*diff*/
    -moz-border-radius:3px; /*diff*/
    -webkit-border-radius: 3px; /*diff*/
    border-radius: 3px; /*diff*/
    font-family: Arial, sans-serif; /*diff*/
    font-size:13px; /*diff*/
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
    padding:2px 3px 3px 3px; /* IE6 */ /*diff*/
	display:inline-block;
}


a.button:hover, input:hover[type=button] , input:hover[type=submit]{ /*diff*/
    background-color:#ffb; 
}

a.button, input[type=button] { /*diff*/
	padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}


input[type=submit] { /*diff*/
	padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

form[method=post]  input[type=button], form[method=post]  a.button {  /*diff*/
	border:solid 1px #888;
	background-color:#999;
	color:white;
}

form[method=post] input[type=submit] { /*diff*/
	border:solid 1px #888 !important;
	background-color:#99f !important;
	color:white;
}
 
.noicon { /*diff*/
    padding:2px 3px 3px 3px !important; /* IE6 */
}

.btn-print { /*diff*/
    background-image:url('../img/16/printer.png');
}

.btn-csvExport { /*diff*/
    background-image:url('../img/16/file_extension_xls.png');
}

.btn-new-folder { /*diff*/
    background-image:url('../img/16/folder_new.png');
}

.btn-folder { /*diff*/
    background-image:url('../img/16/folder.png');
}

.btn-folder-y { /*diff*/
    background-image:url('../img/16/folder-y.png');
}

.btn-save { /*diff*/
    background-image:url('../img/16/disk.png');
}

.btn-download { /*diff*/
    background-image:url('../img/16/down16.png');
}

.btn-send { /*diff*/
    background-image:url('../img/16/arrow_right.png');
}

.btn-save-n-new { /*diff*/
    background-image:url('../img/16/save_and_new.png');
}

.btn-logs { /*diff*/
	background-image:url('../img/16/action_log.png');
}

.btn-next,  input.btn-prev { /*diff*/
    float: right;
}

.btn-disabled { /*common*/
	color:#bbb !important;
	cursor:default !important;
}

.btn-settings { /*diff*/
    background-image:url('../img/16/testing.png');
}

.btn-import { /*diff*/
    background-image:url('../img/16/table-import-icon.png');
}


.btn-with-selected { /*diff*/
    background-image:url('../img/16/checked.png');
}

.btn-with-selected-disabled { /*common*/
    background-image:url('../img/16/unchecked.png'); /*diff*/
	color:#999 !important;
	cursor:default !important;
}

.btn-with-selected-disabled:hover { /*common*/
	background-color:#ddd !important;
}

.btn-install { /*diff*/
    background-image:url('../img/16/install.png');
}

.btn-filter { /*diff*/
    background-image:url('../img/16/funnel.png');
}

.btn-bin { /*diff*/
    float:right;
    background-image:url('../img/16/bin_closed.png');
}

.btn-list { /*diff*/
    background-image:url('../img/16/application_view_list.png');
}

.btn-software-update { /*diff*/
    background-image:url('../img/16/software-update.png');
}

.btn-reject { /*diff*/
    background-image:url('../img/16/delete.png');
	float: right;
}

.btn-restore { /*diff*/
    background-image:url('../img/16/restore.png');
}

.btn-delete { /*diff*/
    background-image:url('../img/16/delete-icon.png');
}

.btn-cancel { /*diff*/
    background-image:url('../img/16/close16.png');
}

.btn-edit { /*diff*/
    background-image:url('../img/16/edit-icon.png');
}

.btn-add { /*diff*/
    background-image:url('../img/16/star_2.png');
}

div.rowtools { /*common*/
	display:table;
	width:100%; 
}
 
.rowtools .r {  /*common*/
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {  /*common*/
	vertical-align:middle;
	display:table-cell;
	text-align:left;
}

.rowtools .nw {  /*common*/
	white-space:nowrap;
}

.rowtools .l img {  /*common*/
	vertical-align:middle;
	margin-right:5px;
	border:none;
}


div.notification-info { /*common*/
    display: table;
    margin:10px; /*diff*/
	margin-top:0px; /*diff*/
    border:solid 1px #f90; 
    background-color:#ffffcc;
    padding:10px; /*diff*/
    text-align:center;
    font-weight:bold;
    font-size: 1.3em; /*diff*/
    -moz-border-radius: 15px; /*diff*/
    -webkit-border-radius: 15px; /*diff*/
    border-radius:15px; /*diff*/
}

div.statuses-notice, div.statuses-success, div.statuses-warning, div.statuses-error { /*common*/
    display: table;
    margin:10px auto 0; /*diff*/
    border:solid 1px #f90;
    background-color:#ffffcc;
    padding:10px; /*diff*/
    text-align:center;
    font-weight:bold;
    font-size: 1.3em; /*diff*/
    -moz-border-radius: 15px; /*diff*/
    -webkit-border-radius: 15px; /*diff*/
    border-radius:15px; /*diff*/
}

div.statuses-success { /*common*/
	background-color:#ffffcc;	
}

div.statuses-warning { /*common*/
	background-color:#ffffcc;	
}

div.statuses-error { /*common*/
	background-color:#ffffcc;	
}

/****************************************************************************************
 *                                                                                      *
 *  Класове за състояния                                                                *
 *                                                                                      *
 ****************************************************************************************/
.state-draft {
    background-color: #88cc99;
}

.state-active {
    background-color: #ffeedd;
	background: rgba(250, 221, 187, 0.5);

}

.state-opened { /*common*/
    background-color: #aaffbb;
}

.state-pending { /*common*/
    background-color: #cceeff;
}

.state-waiting { /*common*/
    background-color: #cceeff;
}

.state-closed { /*common*/
    background-color: #eee;
}

.state-stopped { /*common*/
    background-color: #ffaa00;
}

.state-rejected { /*common*/
    background-color: #cc6666;
}

.state-rejected td { /*diff*/
	color:#999;
}

.state-free { /*common*/
    background-color: #33cccc;
}

.state-hidden { /*common*/
    background-color: #ffee77;
}

.clearfix21:after { /*common*/
    /* content: "."; */
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


tr.zebra0 { /*common*/
    background-color:#eee;
}

tr.zebra1 { /*common*/
    background-color:#fff;
}

/* core_Cron */ 
.core_Cron  .listTable td p { /*diff*/
	margin:5px; 
	font-family:monospace;
	font-size:0.85em;
}
