/****************************************************************
 *                                                              *
 *   Общи стилове на Experta Framework при рендиране върху      *
 *   клиенти с обичайно големи дисплеи (например PC)            *
 *                                                              *
 ****************************************************************/


/* Стилове за елемента 'combobox' */
Input.combo {

}

Select.combo { 
    position: absolute; 
    vertical-align:top;
    visibility:hidden;
}

 

/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {
    display:        table;
    margin:         1px -15px 1px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #cfcfcf;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}



div.tab-control div.tab-row .tab.selected {
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     3px solid #036;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 5px 5px; 
    margin:         1px -14px -3px 18px;
    top:            -3px;
    font-weight:    bold;
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            -2px;
    padding:        1em;
    /* min-width:95%;  махнато за ради Upload формата*/
    /* display: table; */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Стилове за елемента 'RichEdit' */
span.richEdit div.richedit-toolbar {
    background: #ddc; 
    border: 1px solid #9999ff; 
    border-top: none; 
    padding: 5px; 
    font-size: 0.85em; 
    text-align: left;
    padding-top:10px; 
	font-family: Verdana, Geneva, sans-serif;
	color:#333;
    font-size:0.9em;
	margin-top:-1px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.richEdit TEXTAREA {
	border-bottom: 1px solid white;
	margin-bottom:0px;
	overflow:auto;
	width:100%;
}

p.richtext {
	border: solid 1px red;
}

.richtext H3 {
    margin:5px;
}

PRE.richtext {
    font-family: Courier New,monospace;
    padding:10px;
    background-color:#ffe;
    color:#000;
    line-height:120%;
    border:solid 1px #ccc;
}

DIV.richtext LI {
    margin:0px;
    padding:0px;
    margin-left:1.5em;
    padding-top:0.2em;
}

a.rtbutton {
    border: 1px solid #bba;
    background: #eed;
    padding: 0.1em 0.3em;
    cursor: pointer;
}

a.rtbutton1 {
	padding-right:3px;
    cursor: pointer;
}

a.rtbutton:hover {
    background: white;
    border-style: outset;
}


/* Стилове за елемента 'list Table' */
TABLE.listTable { 
    margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
}

TABLE.listTable>TBODY>TR:hover  {
    background-color:#ffc !important;
}

TABLE.listTable>TBODY>TR>TD {
    border: 1px solid #999;
    padding: 3px; 
    font-family:Arial,Verdana;
	vertical-align:middle;
}

TABLE.listTable>THEAD>TR>TH {
    border: 1px solid #999;
    padding: 3px;
    background-color:#ddd;
    font-weight:bold;
}

.listTitle {
	margin-bottom:10px;
	font-size:1.3em;
	padding-bottom:5px;
}

.listToolbar {
	margin-top:10px;
} 

.listFilter {
	padding-bottom:5px; 
	float:left;
}

.listSummary {
	padding-bottom:5px; 
	float:right;
}

.listPager{
	padding-bottom:5px; 
	clear:both;
}

.listTopContainer {
	overflow:auto; 
	width:100%;
}


/* Стилове за показване на формите */

FORM {
    display:table;
    margin: 0px;
 }

.formError {
     border:solid 1px red;
    background-color:#ff6;
    padding:10px;
    font-size:0.9em;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align:left;
    min-width:300px;
}

.formError LI.ignored{
    color:#aaa;
}

.formInfo, .formFields, .formWarning, .formError  {
    margin-bottom:10px;
}

.formFields TABLE {
	width:100%;

}

.formFieldCaption {
	padding-top:5px;
	white-space: nowrap;
	width:1px;
}

.formGroup {
    padding:5px;
    background-color: #ccccff;
}

.formTitle {
    padding:    10px;
    font-size:  20px;
    background-color:blue;
    color:white;
}

.formAll {
    background-color:blue;
    color:white;
}

.formSection {  
    padding:15px;
    background-color:#FFFFEE;
    color:black;
    vertical-align:top;
}

.formToolbar {
    padding:5px; 
    background-color:#ccc; 
    border:solid 1px #aaa;
}

.formToolbar INPUT {
    margin-right:10px;
}

A.button {
  border:outset 2px #ccc;
  padding:2px 5px 2px 5px;
  text-decoration: none;
  background-color:#eee;
  color:#111;
}

A.button:hover {
  border:outset 2px #f90;
  color:#111;
}

A.button:active:hover {
  padding: 3px 3px 1px 7px;
}

/* Стилове за страньора 'hlp_Pager' */
A.pager {
    padding: 3px;
    cursor:pointer;
    color:#444444; 
    font-weight:bold;
}

A.pager:hover {
    border:solid  1px #aaaaaa; 
    -moz-border-radius:4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;   
    background-color:#eee;    
    text-decoration: none;
}

A.pagerSelected {
    border:solid 1px #aaaaaa;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:2px;
    background-color:#ffffee;
    color:#994444;
    font-weight:bold;
}

INPUT, SELECT, TEXTAREA {
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border: solid 1px #9999ff;
    font-size:1.1em;
}

input[type=checkbox] + label {
    color:#666;   
}

input[type=checkbox]:checked + label {
    color:#000;
} 

input[type=radio] + label {
    color:#666;   
}

input[type=radio]:checked + label {
    color:#000;
}

.checkbox, .radiobutton {
	border: none !important;
}


.inputError {
    border:solid 1px red;
}

.inputWarning {
    border:solid 1px #ff9900;
}

.keylist-group {
    padding:3px;
    font-size:0.9em;
    font-weight:bold;
    background-color:#ffcc66;
    color: #666;
}


/* Стил за 'редактиране на място'*/
.ajaxEditInput {
    border:none;
    background-color:#ff9;
}

.warningMsg {
    background:yellow;
    padding:5px;
    border:dotted 1px green;
    color:green;
}

.errorMsg {
    background:yellow;
    padding:5px; 
    border:dotted 1px red; 
    color:red;
}

.linkWithIcon, .docBgIcon {
    padding-left:22px;  
    background-repeat:no-repeat;
    background-position: 3px center;
}


/* BUTTONS */
INPUT[type=button], INPUT[type=submit] {
    margin-right:3px;
    background-color:#ddd;
    color:#036;
    font-weight:bold;
    border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    text-decoration:none;
    cursor:pointer;
    width:auto;
    overflow:visible;
    padding:2px 3px 3px 3px; /* IE6 */
}


INPUT:hover[type=button] , INPUT:hover[type=submit]{
    background-color:#ffb; 
}

INPUT[type=button] {
	padding-left:22px;  
	background-repeat:no-repeat !important;;
	background-position: 3px center;
}


INPUT[type=submit] { 
	padding-left:22px;  
	background-repeat:no-repeat !important;
	background-position: 3px center;
}

FORM[method=post]  INPUT[type=button] { 
	border:solid 1px #888;
	background-color:#999;
	color:white;
}

FORM[method=post] INPUT[type=submit] { 
	border:solid 1px #888 !important;
	background-color:#99f !important;
	color:white;
}
 
.noicon {
    padding:2px 3px 3px 3px !important; /* IE6 */
}

INPUT.print[type=button] {
    background-image:url('../img/16/printer.png');
}

INPUT.csvExport[type=button] {
    background-image:url('../img/16/file_extension_xls.png');
}

INPUT.btn-new-folder[type=button] {
    background-image:url('../img/16/folder_new.png');
}

INPUT.btn-folder[type=button] {
    background-image:url('../img/16/folder.png');
}

INPUT.btn-folder-y[type=button] {
    background-image:url('../img/16/folder-y.png');
}

INPUT.btn-save[type=submit] {
    background-image:url('../img/16/disk.png');
}

INPUT.btn-send[type=submit] {
    background-image:url('../img/16/arrow_right.png');
}

INPUT.btn-save-n-new[type=submit] {
    background-image:url('../img/16/save_and_new.png');
}

INPUT.btn-next[type=submit],  INPUT.btn-prev[type=submit]{
    float: right;
}

INPUT.btn-disabled {
	color:#bbb !important;
	cursor:default !important;
}

INPUT.btn-settings[type=button] {
    background-image:url('../img/16/testing.png');
}

INPUT.btn-import[type=button] {
    background-image:url('../img/16/table-import-icon.png');
}


INPUT.btn-checked[type=submit] {
    background-image:url('../img/16/checked.png');
}

INPUT.btn-checked-disabled[type=submit] {
    background-image:url('../img/16/unchecked.png');
	color:#999 !important;
	cursor:default !important;
}

INPUT.btn-checked-disabled[type=submit]:hover {
	background-color:#ddd !important;
}


INPUT.btn-install[type=submit] {
    background-image:url('../img/16/install.png');
}

INPUT.btn-filter[type=submit] {
    background-image:url('../img/16/funnel.png');
}

INPUT.btn-bin[type=button] {
    float:right;
    background-image:url('../img/16/bin_closed.png');
}

INPUT.btn-list[type=button] {
    background-image:url('../img/16/application_view_list.png');
}



INPUT.btn-software-update[type=button] {
    background-image:url('../img/16/software-update.png');
}

INPUT.btn-reject[type=button]{
    background-image:url('../img/16/delete.png');
	float: right;
}

INPUT.btn-restore[type=button] {
    background-image:url('../img/16/restore.png');
}

INPUT.btn-delete[type=button],  INPUT.btn-delete[type=submit]{
    background-image:url('../img/16/delete-icon.png');
}

INPUT.btn-cancel  {
    background-image:url('../img/16/close16.png');
}

INPUT.btn-edit[type=button] {
    background-image:url('../img/16/edit-icon.png');
}

INPUT.btn-add[type=button] {
    background-image:url('../img/16/star_2.png');
}

DIV.rowtools {
	display:table;
	width:100%; 
}
 
.rowtools .r {
	vertical-align:middle;
	display:table-cell;
	text-align:right;
}
 
.rowtools .l {
	vertical-align:middle;
	display:table-cell;
	text-align:left;
}

.rowtools .nw {
	white-space:nowrap;
}

.rowtools .l IMG {
	vertical-align:middle;
	margin-right:5px;
	border:none;
}


DIV.notification-info {
    display: table;
    margin:10px;
	margin-top:0px;
    border:solid 1px #f90;
    background-color:#ffffcc;
    padding:10px;
    text-align:center;
    font-weight:bold;
    font-size: 1.3em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}

/****************************************************************************************
 *                                                                                      *
 *  Класове за състояния                                                                *
 *                                                                                      *
 ****************************************************************************************/
.state-draft {
    background-color: #88cc99;
}

.state-active {
    background-color: #ffeedd;
}

.state-opened {
    background-color: #aaffbb;
}

.state-pending {
    background-color: #cceeff;
}

.state-waiting {
    background-color: #cceeff;
}

.state-closed {
    background-color: #eee;
}

.state-stopped {
    background-color: #ffaa00;
}

.state-rejected { 
    background-color: #cc6666;
}

.state-rejected TD {
	color:#999;
}

.state-free {
    background-color: #33cccc;
}

.state-hidden {
    background-color: #ffee77;
}

.clearfix21:after {
    /* content: "."; */
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


TR.zebra0 {
    background-color:#eee;
}

TR.zebra1 {
    background-color:#fff;
}

/* core_Cron */
.core_Cron  .listTable TD P {
	margin:5px; 
	font-family:monospace;
	font-size:0.85em;
}
