body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ddd;
	font-family:Helvetica,Arial,Verdana,Sans-serif;
	font-size:16px;
}

#framecontentTop, #framecontentBottom, #framecontentTop.a, #framecontentBottom.a {
	display:block;
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color:#ddd;
	color: #048;
}

#framecontentTop {
	width:100%;
	padding: 0px;

}

#subMenu {
  padding:5px;
  padding-top:1px;
  background-color:#eee;
}

#mainMenu {
  border-bottom:solid 2px #048;
  padding:5px;
  background-color:#ddd;
  min-height:70px;
}

#framecontentBottom {
	1width:100%;
	border-top:solid 2px #048;
}

#maincontent{
	position: relative;
	padding:7px;
	min-height:600px;
	background-color: #eee;
}

#navBar{
	position: relative;
	margin-top:5px;
	margin-bottom:10px;
	color:#033;
	display:block;
 }

.innertube{
	margin: 5px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.menuRow {
	color:#997;
	font-family:Arial;
    padding:1px;
	text-decoration:none; 
	font-weight:bold; 
}

#subMenu {
	color:#997;
}

a.menuItem:first-child {
}


#mainMenu a  {
	padding:1px; 
	text-decoration:none; 
	font-weight:bold; 
	font-family:arial; 
	border:solid 1px transparent;
}

#subMenu a  {
	padding:2px;
	padding-left:3px;
	padding-right:3px;
	font-family:arial; 
	border:solid 2px transparent;
}

#subMenu a.selected:hover  {
    color:#f90;
} 

a.menuItem:link, a.menuItem:visited {
	color:#048;
	text-decoration:none; 
}
 
a.menuItem:hover, a.menuItem:active, a.menuItem:focus  { 
	color:white;
	background-color:#f90;
}

#mainMenu a.selected, #mainMenu a.selected:visited, #mainMenu a.selected:link { 
	color:white; 
	background-color:#048;
}

#subMenu a.selected, #subMenu a.selected:visited, #subMenu a.selected:link {
	border:solid 2px #048;
	background-color:#ddd;
	border-top:solid 2px transparent;
	padding-left:5px;
	padding-right:5px;
	font-weight:bold;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border-top-left-radius:2px;
    border-top-right-radius:2px;
}

#mainMenu A.selected:hover {
	color:#f90;
}


/* Общи стилове за елементите */
a:link, a:visited {
	text-decoration:none; 
	color:#048;
}


/* Общи стилове за елементите */
a:link, a:visited {
	text-decoration:none; 
	color:#048;
}

a:hover {
	color:#f90; 
}

a.out {
	color:#0066ff; 
}

a.out:visited {
	color:#6600cc
}



/* Стилове за елемента 'tab' */
div.tab-control div.tab-row .tab {
    font-family:    arial;
    display:        inline;
    margin:         1px -16px -3px 18px;
    float:          left; 
    padding:        3px 5px 5px 5px;
    background:     #ddd;
    border:         1px solid #bbb;
    border-bottom:  none;
    z-index:        1;
    white-space:    nowrap;
    position:       relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top:		2px solid #048;
}



div.tab-control div.tab-row .tab.selected {
    background:     #ffffff;
    border:         1px solid #bbb;
    border-top:     2px solid #048;
    border-bottom:  none;
    z-index:        3;
    padding:        5px 5px 4px 5px; 
    margin:         1px -16px -3px 18px;
    top:            -1px;
    font-weight:    bold;
}

div.tab-control div.tab-page {
    clear:          both;
    border:         1px solid #bbb;
    background:     #ffffff;
    position:       relative;
    top:            1px;
    padding:        1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	z-index:        2;
}


div.crm_Companies div.tab-row .tab.selected, div.crm_Companies  div.tab-page {
    background:#f0f8ff;
}

div.crm_Persons  div.tab-page,  div.crm_Persons div.tab-row .tab.selected {
    background:#f0fff0;
}

div.crm_Groups div.tab-row .tab.selected, div.crm_Groups  div.tab-page {
    background:#ffffe8;
}
 
div.alphabet div.tab-row .tab {
    background:     #ddd;
	font-size:      8pt;
	padding:        5px;
    border:         1px solid #aaa;
	margin: 2px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    float: left;
	margin-bottom: 10px;
}

div.alphabet div.tab-row .tab:hover {
	margin-top:-1px;
	margin-bottom:13px;

	background-color: #ffffcc !important;
}

div.alphabet div.tab-row .tab:hover a {
	color:red !important;
}

div.alphabet  div.tab-row .tab.selected {
    background:     #ffffcc;
    border:         1px solid #aaa;
    top:            0px;
	margin:         2px;
	padding:        5px;
    box-shadow: 0px 0px 2px 0px  #ccc;
	margin-top:-1px;
	margin-bottom:13px;
	box-shadow: 0px 0px 3px 1px  #ccc;
}

 
div.alphabet div.tab-page {
    border:         none;
    background:     transparent;
	margin: 0px; 
	padding:0px;
}

div.crmImage {
	padding:18px 0px 8px 8px;float:right;
}

/**
 * Defnition lists: DL, DT, DD
 */
dl {
	margin: 0 0 0.5em 0;
}

dl dt {
	display: block;
	float: left; 
	width: 150px;
	clear: both;
	text-align: right;
	color: #888;
	margin-left: 0;
	margin-right: 0;
}

dl dd {
	margin-left: 155px;
	margin-right: 0;
}
 
.quiet { color: #888;  font-size: 0.9em; }
.quiet td {  border-top-width: 0; border-bottom: none; }
.red { color: #800; }
.green { color: #080; }
.future { background-color: #9ec;}
.current { font-weight: bold; }
.current td { border-bottom1: none; }
.pricegroup td { border-top-width: 1px; }

.listTopContainer {
	margin-bottom:10px;
}

.telephone a, .fax a, .email a, .mobile a {
	color:#031;
}

.telephone a:hover, .fax a:hover, .email a:hover, .mobile a:hover {
	color:#093;
}

div.telephone {
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/telephone.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.fax {
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/fax.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.email {
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/email_link.png');
	background-repeat:no-repeat;
	background-position: 3px 4px;
}

div.mobile {
	padding-top:3px;
	padding-left:21px; ;
	background-image:url('../img/16/mobile.png');
	background-repeat:no-repeat;
	background-position: 6px center;
}


/*Стилове за пакета "mon"*/
.video-rec {}
.video-rec .normal {
	background-color:#999999;
	color:white;
}
.video-rec .played {
	background-color:#999999;
	color:#ffff66;
	font-weight:bold;
}
.video-rec .marked {
	background-color:#ffcc00; 
	color:black;
	font-weight:bold;
}

.vertical .formTitle {
	background-color:#99f;
	background-image:url('../img/form.jpg');
	border:solid 1px #88e;
	border-bottom:none;
	padding:8px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.formGroup {
    margin-top:10px;
}

.vertical .formToolbar {
	padding:8px;
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	border:solid 1px #bbb;
	border-top:none;
	background-image:url('../img/formToolbarBg.jpg');

}

.vertical .formSection {
	border-left:solid 1px #cca;
	border-right:solid 1px #cca;
	background-image:url('../img/yellow.png');
}

.vertical .formTable {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 3px 3px 8px 3px #aaa;
	-webkit-box-shadow: 3px 3px 8px 3px #aaa;
    box-shadow: 2px 2px 8px 3px #aab;
}

.listTopContainer .formTable {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

a img {
 border: none;
}

.btn-posting  {
	background-image:url('../img/16/comment_add.png');
}

.btn-export  {
	background-image:url('../img/16/table_export.png');
}

.btn-fax  {
	background-image:url('../img/16/fax.png');
}

.btn-email-create {
	background-image:url('../img/16/email_edit.png');
}

.btn-conto  {
	background-image:url('../img/16/tick-circle-frame.png');
}

.btn-task  {
	background-image:url('../img/16/sheduled-task-icon.png');
}

.btn-docIncomings  {
	background-image:url('../img/16/page_attach.png');
}

.btn-docIncomingsNew  {
	background-image:url('../img/16/page_lightning-new.png');
}

.btn-back {
    background-image:url('../img/16/red-back.png');
}

.btn-createLink {
    background-image:url('../img/16/link.png');
}

.btn-email-send {
	background-image:url('../img/16/email_go.png');
}


.btn-settings {
	background-image:url('../img/16/settings.png');
}

.btn-task-close {
    background-image:url('../img/16/media-playback-stop.png');
}

.btn-reload {
    background-image:url('../img/16/clock_go.png');
}

.btn-add {
	background-image:url('../img/16/star_2.png');
}

.btn-clone {
    background-image:url('../img/16/page_copy.png');
}

.btn-select {
	background-image:url('../img/16/key.png');
}

.btn-move {
    background-image:url('../img/16/arrow_right.png');
}

.btn-activation {
    background-image:url('../img/16/lightning.png');
}

.btn-open {
    background-image:url('../img/16/open_bulb.png');
}

.btn-close {
    background-image:url('../img/16/close_bulb.png');
}

.btn-active {
    background-image:url('../img/16/active_bulb.png');
}

.btn-revert {
    background-image:url('../img/16/red-back.png');
}

.btn-eml {
    background-image:url('../img/16/file_extension_eml.png');
}

.btn-html {
    background-image:url('../img/16/file_extension_html.png');
}


/*Стилове за acc*/
div.acc-detail {
 font-size:0.8em;
 margin:3px;
 padding:3px;
 font-family:Arial;
 border:solid 1px #ccc;
 background-color:#eee;
}

/* стилове за 'contacts/tpl/ViewSingleLayout' */
.folder-cover {
    border: solid 1px #bbbbbb; 
    border-radius: 5px;
	font-size:0.8em;
	-moz-box-shadow: 5px 5px 10px #999999;
     background: #ffffff;
    padding: 10px;
	display: inline-block;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:16px;
}

.printing .folder-cover {
    border: none; 
	font-size:0.8em;
    background: #ffffff;
   -moz-box-shadow: none;
    padding: 10px;
	display: table;
	min-width:600px;
	max-width:750px;
    line-height:1.2em;
	margin-top:0px;
}

option.team {
	background:black;
	color:#fc0;
}

#crm_Persons-EditForm  input {
   max-width:600px;
}

.detail-info {
	margin-top:10px;
	border:solid 1px #ccc;
	padding:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
}

.detail-info img {
	margin-left:5px;
	vertical-align:middle;
}

.portal {
	margin-top:15px;
	padding:10px;
	padding-top:18px;
 	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	background-color:white;
 }

.portal .legend {
	position:absolute;
	margin-top:-35px;
	margin-left:10px;
	z-index:100;
	padding:5px; 
	border:solid 1px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	font-weight:bold;
}

.portal table.listTable {
	width:100% !important;
	border:none;
	font-size:0.9em;
}

.portal table.listTable td {
	border:none !important;
	border-top:dotted 1px #ccc !important;
	vertical-align:top !important;
}

.portal table.listTable>tbody>tr:first-child>td {
	border-top:none !important;
}

.portal table.listTable th {
	display:none;
	border:none;
	vertical-align:top !important;
}

td.portal-date {
	text-align:right !important;
	white-space:nowrap;
}

.folder-cover .groupTitle {
	color: #333;
	font-weight: bold;
}

table.mc-calendar {
	width:100%;
	font-size:0.8em;
}

table.mc-calendar td.mc-day {
	text-align:right;
 	border:none;
	background-color: #e8efe8;
	border:solid 2px #e8efe8;
	padding:1px;
	font-weight:bold;
	width:14% !important;
	cursor: pointer;
}

table.mc-calendar td.mc-week-nb {
 	border:none;
 	padding:3px;
}

table.mc-calendar td.mc-wd-name {
	text-align:right;
 	padding-right:3px;
}


table.mc-calendar td.mc-sunday {
	color:green;
}

table.mc-calendar td.mc-holiday {
	color:red !important;
}

table.mc-calendar td.mc-saturday {
	color:#006030;
}


table.mc-calendar td.mc-day:hover {
	background-color: #ffff66;
}

table.mc-calendar td.mc-today {
	border:solid 2px red;
}

table.mc-header a {
	color:#999;
}

.pcell-header {
	padding-left:10px !important;
	padding-right:10px !important;
}


td.pcell-today div.pcell-number {
	color: red;
	border:solid 2 px red !important;
}

td.pcell-weekend div.pcell-number{
	color:green;
}

.groupList div {
	padding:1px;
}

div.folder-cover .label {color: #777777;    font-size: 13px; width: 70px; float: left;} 
                     
div.folder-cover A.sky:link       {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:visited    {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:active     {font-size: 13px; color: #4a66b0; text-decoration: none;}
div.folder-cover A.sky:hover      {font-size: 13px; color: #4a6z6b0; text-decoration: underline;}
                              
div.folder-cover .fancybox IMG {
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 3px; 
    padding: 10px;
}

div.folder-cover .block_title {
    border-bottom: solid 1px #dddddd; 
    padding: 7px;
	font-size: 1.4em;
	color: #433;
	text-shadow: 1px 1px 1px #ddd;
}

div.folder-cover .block_left {
    clear: left;
    background: #ffffff;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    min-width: 250px;
    float: left;
    margin-right: 20px;
    position: relative;    
}

DIV.folder-cover .block_left .address {
    max-width: 240px;
    margin-bottom: 15px;	
}	

DIV.folder-cover .block_right {
	background: #ffffff;
	min-width: 100px;
	font-size: 12px; 
	padding: 0 0 10px 10px;
	float: left;
	float: left;	
}
/* ENDOF стилове за 'contacts/tpl/ViewSingleLayout' */

/* стилове за 'cat/tpl/SingleProduct' */
div.products-single {
    display: block;
    border: solid 1px #bbbbbb; 
    -moz-border-radius: 5px; 
    background: #fafafa;
    -moz-box-shadow: 5px 5px 10px #999999;
    font-size: 12px; 
    padding: 10px 15px 0 15px;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
    max-width: 700px;
}

div.products-single .fancybox IMG {
	background: #f0f0f0; 
    border: solid 1px #dddddd; 
    padding: 3px;
    width: 200px;
    height: 150px;
    margin-right: 0px;
    margin-top: 10px;
}

DIV.products-single .block_title {
    min-width: 300px; 
    width: 100%; 
    height: 15px; 
    border-bottom: solid 1px #dddddd; padding-bottom: 5px;
}

div.products-single .block_left {
    clear: left;
    font-size: 12px;     
    padding: 0 10px 10px 0;
    float: left;
    margin-right: 20px;
    position: relative;
}

div.products-single .block_right {
    min-width: 100px;
    font-size: 12px; 
    padding: 10px 0 10px 10px;
    float: left;
}

div.products-single .block_right .description {
    max-width: 300px;
}

div.products-single .block_right .details-tpl {
    margin-top: 10px;
}
/* ENDOF стилове за 'cat/tpl/SingleProduct' */

/* стилове за 'contacts/Contacts' */
div.contacts-row {float: left;}

div.contacts-row .clear_l {clear: left;}

div.contacts-row p {
    display: block;
    float: left;
    text-align: left;
    height: 15px;
    margin: 2px 0px;
}

div.contacts-row p.w-80px {
    width: 80px;
}

div.contacts-row p.gr {color: #777777;}	
/* ENDOF стилове за 'contacts/Contacts' */

/* стилове за 'lab/tpl/ViewSingleLayoutTests' */
 

table.top-table {
 	border: none;
}

table.top-table td {
 	border: none;
	vertical-align:top;
}


.antetka {
	margin-top: 10px; 
	padding:5px; 
	border:solid 1px #ddd;
	background-color:#eee;
	background: rgba(200, 200, 200, 0.4);
}

.thread-opened .antetka {
	background-color:#eeffee !important;
}
 

.document {
	border: solid 1px #bbbbbb; 
	background: #ffffff;
    -moz-box-shadow: 5px 5px 10px #999999;
	-webkit-box-shadow: 5px 5px 10px #999999;
    box-shadow: 5px 5px 10px #999999;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	max-width:900px;
    min-width:800px;
}

.listTable>tbody>tr>td div.document {
	border: none; 
	background: transparent;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 5px;
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
    width:850px !important;
}

.doc_Containers table.listTable td  {
    vertical-align:top !important;
}

.doc_Containers table.listTable.listTable>tbody>tr:hover  {
    background-color:transparent !important;
}

.doc_Containers table.listTable.listTable>tbody>tr  {
    background-color:transparent !important;
}

.doc_Containers .toolbar{
	margin-left:2px;
	margin-top:5px;
}


.toolbarHide {
	display:none;
}

.doc_Containers .thread-opened table.listTable>tbody>tr:hover  {
    background-color:#f4fff4 !important;
}

 .doc_Containers .thread-opened table.listTable>tbody>tr  {
    background-color:#f4fff4 !important;
}


.listTable .document h2 {
	margin-top:3px;
}

.listTable .toolbar {
	padding:3px;
}

.document .header {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding:3px;
	font-size:1em;
	margin-top:5px;
	margin-bottom:5px;
}

.document .header span {
    background-position: 3px center;
    padding-left:24px;  
    background-repeat:no-repeat;
	font-weight:bold;
}

.printing .document {
	border: none; 
	/* -moz-border-radius: 5px; */
    /* -webkit-border-radius: 5px; */
    /* border-radius:5px; */
	background: #ffffff;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 10px 25px 15px 25px;
	margin-bottom: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	min-width:0px;
	width:97% !important;
}
 
div.catering-menu-single .label {font-size: 13px; width: 110px; float: left;} 
                     
div.catering-menu-single .block_title {
    min-width: 300px; 
    width: 100%; 
    height: 18px; 
    border-bottom: solid 1px #dddddd; 
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.catering-menu-single .block_title DIV.title {
	width: 100%; 
	text-align: center; 
	font-size: 14px;
}

DIV.catering-menu-single .block_subtitle {
    min-width: 300px; 
    width: 100%; 
    padding-bottom: 5px;
}

DIV.catering-menu-single .block_subtitle DIV.line1 {
	width: 100%; 
	text-align: center; 
	font-size: 14px; 
	padding-top: 10px;
}

/* ENDOF стилове за 'catering/tpl/ViewSingleLayoutMenu' */

/* стиловa колекция css_lib */
DIV.css-lib DIV {display: block; text-align: left;}
DIV.css-lib .clear_l {clear: left;}
DIV.css-lib .clear_both {clear: both;}
DIV.css-lib .f_left {float: left;}
DIV.css-lib .f_right {float: right;}
DIV.css-lib .b {font-weight: bold;}
DIV.css-lib .pt_10px {padding-top: 10px;}
DIV.css-lib .pl_0px {padding-left: 0px;}
DIV.css-lib .mt_10px {margin-top: 10px;}
DIV.css-lib .mt_50px {margin-top: 50px;}
DIV.css-lib .mb_5px {margin-bottom: 5px;}
DIV.css-lib .w_100 {width: 100%;}
DIV.css-lib .a_left {text-align: left;}
DIV.css-lib .no_b {font-weight: normal;}
DIV.css-lib .gr {color: #777777;}
/* ENDOF стиловa колекция css_lib */

/*
 * Стилове за счетоводството
 */

.level-1 td { background-color: #008; color: #fff; font-weight: bold;}
.level-1 td a { color: #fff; }
.level-2 td { background-color: #fc6; color: #333; }
.level-3 td { background-color: #fff; }
.level-4 td { background-color: #fff; }
.level-5 td { background-color: #fff; }

 
.state-revert {
    background-color: #cc9933;
}

 
tr.zebra0 {
    background-color:#eff;
}
tr.zebra1 {
    background-color:#ffe;
}

input.inplace {
	border: none;
	background-color: #ffc;
}

input.inplace.number {
	text-align: right;
}

td.pallet_place {
    font-size: 14px; 
    text-align: center; 
    width: 32px;
    color: #999999;
    background: #eeeeee; 
}

td.pallet_place.outofuse {
    text-decoration: line-through;
    color: #333;
}

td.pallet_place.reserved {
    color: #b80000;;
    background: $eeeeee;
}

td.pallet_place.in_use {
    background: #00ff55;
    font-weight: bold;
}

td.pallet_place.movement_waiting {
    background: #00dd55;
}

td.pallet_place.movement_active {
    background: #00dd55;
    text-decoration: blink;
}

td.pallet_place.out_of_filter {
    background: #777777 !important;
}

td.constrColumnRight {
    border-right: solid 3px #777 !important;
}

td.constrColumnLeft {
    border-left: solid 3px #777 !important;
}

tr.noHover td:hover {
	color: #999999; 
	background: white;
}

div.attachments {
	display:inline-block; 
	float: right; 
	margin:2px;
}


div.attachments .aHeader {
	background-color:#e0e0e0;
	padding:3px;
	padding-left:26px;
	background-image:url('../img/16/attach.png');
	background-repeat:no-repeat;
	background-position: 6px 4px;
	border-bottom:solid 1px #e0e0e0;
}

.thread-opened div.attachments .aHeader {
	background-color:#e0f0e0;
}

div.attachments .file {
	display:block;
	margin-bottom:2px;
}

.stateIndicator {
	height:0.6em;
	width:0.6em;
	border:solid 1px #999;
	border-radius:0.3em;
}

.thread-opened table.listTable>tbody>tr>td {
	border:solid 1px green !important;
}

.thread-opened th  {
	border:solid 1px green !important;
	background-color:#aea  !important;
}

#notificationsCnt {
    margin-left:30px;
	float:right;
	position: absolute;
 }

#notificationsCnt a    {
	display:block;
	color:white;
	font-size:0.9em;
	background-color:red;
	padding:1px 2px 1px 2px !important;
	border:solid 1px #c33 !important;
	border-radius:3px;
	box-shadow: 2px 2px 3px #666;
}

legend img {
	vertical-align:middle; 
}

ul.history {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.history.summary {
    width: 85%;
    margin: 0 auto;
    font-size: 0.75em;
}

ul.history li {
	margin: 3px 0;
	padding: 2px 0;
	line-height: 1.2;
}

ul.history.summary li span {
    color: #333;
}

ul.history b {
    color: white;
	padding: 1px 5px;
	-webkit-border-radius: 3px;
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

ul.history .action.send b {
    background-color:green;	
}
.action._received b {
    background-color:blue;
    color: white;
}
.action._returned b {
    background-color:red !important;
    color: white;
}
ul.history .action.print b {
    background-color:#777;
}

ul.history .action.open b {
    background-color:#ccc;
	color: #333;
}

ul.history .action.pdf b {
    background-color:#888;
	color: #fff;
}

ul.history .detailed b {
    background-color:#ccc;
}

div.sharing-history {
	border: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	position: relative;
	color: #555;
    font-size: 0.9em;
	clear: both;
}

span.sharing-history-title {
	padding: 2px 5px;
	padding-left: 23px;
	background: #eee url(../img/share.png) no-repeat 3px center;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	border: 1px solid #ccc;
	border-top: none;
    color: #777;
}

fieldset.sharing-history ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

fieldset.sharing-history ul li .user {
	color: #333;
}

fieldset.sharing-history ul li.seen {
    list-style-type: disc;
    color: green;
}

fieldset.sharing-history ul li.unseen {
    list-style-type: circle;
    color: red;
}

fieldset.sharing-history i {
	color: #888;
	font-size: 0.9em;
}

.icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: left center;
}


input.contactData, textarea.contactData, select.contactData {
	width:400px;
}

input.pCode {
	width:80px;
}

select {
    max-width:500px;
}


/* CMS */

#cmsTop {
	background-repeat:no-repeat;
	display: block;
	height: 287px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#cmsMenu {
	  padding-top:10px;
	  padding-bottom:10px;
	  text-align:left;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

#cmsMenu a {
	font-size:1.2em;
	padding:4px;
	margin-left:20px;
	margin-right:20px;
	white-space:nowrap;
}

#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
	display:block;
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#cmsBottom {
	font-size:1.2em;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	width:1000px;
}

#all {
	width:1000px;
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 10px ;
	text-align:left;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom:10px;
}

#cmsNavigation div.nav_item {
	padding:1px;
	font-family:Trebuchet MS, Geneva, Tahoma, sans-serif;
}

#cmsNavigation a {
	-moz-border-radius:3px;
	border-radius: 3px;
	padding-left:3px;
	padding-right:3px;
	display: inline-block;
	border:solid 1px transparent;
}

#cmsNavigation .level1 {
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:2px;
}

#cmsNavigation div:first-child {
	margin-top:0px !important;
}

#cmsNavigation .level2 {
	margin-top:0px;
	margin-bottom:2px;
	font-size:15px;
	margin-left:10px;
}

#cmsNavigation .level3 {
	margin-top:1px;
	margin-bottom:2px;
	font-size:14px;
	margin-left:20px;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.cms-container {
	padding-left: 20px;
	padding-right: 20px;
}

.cms-row {
	width: 100%;
	max-width: 1024px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.cms-row .onecol {
	width: 4.85%;
}

.cms-row .twocol {
	width: 13.45%;
}

.cms-row .threecol {
	width: 22.05%;
}

.cms-row .fourcol {
	width: 30.73%;
}

.cms-row .fivecol {
	width: 39.45%;
}

.cms-row .sixcol {
	width: 48%;
}

.cms-row .sevencol {
	width: 56.75%;
}

.cms-row .eightcol {
	width: 65.3%;
}

.cms-row .ninecol {
	width: 74.05%;
}

.cms-row .tencol {
	width: 82.7%;
}

.cms-row .elevencol {
	width: 91.35%;
}

.cms-row .twelvecol {
	width: 100%;
	float: left;
}

.last {
	margin-right: 0px;
}


h2 {
 margin-top:0px;
}

@media handheld, only screen and (max-width: 1000px) {

	#cmsTop, #all {
		-moz-border-radius-topright:0px;
		-moz-border-radius-topleft:0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-top:none;
		margin-top:0px;
	}
	
	#cmsTop, #all, #cmsBottom { 
		1width: 100% !important;
	}

	#all {
		margin-top:0px;
		margin-bottom:0px;
	}
}

 
.badge {
	border-radius: 9px;
	-moz-border-radius: 9px;
    color: #fff;
    background-color: #999;
    font-size: 0.84em;
    padding: 1px 7px 2px;
}

.webdrvTabBody {
	max-width: 900px;
	min-width: 800px;
	min-height: 600px;
}

.webdrvIframe {
	width:100%;
	min-height:600px;
	border:solid 0px transparent;
}

.webdrvFieldset {
	min-height: 600px;
}

#blog-article-details .listTable th{
	display:none;
}

#blog-article-details .listTable {
	background:rgba(229,229,229,1) 100%;
	//#ACA9A9
}

#blog-single-article{
	//position:absolute;
	border:1px solid white;
	min-height:500px;
    width: 740px ;
    margin-top:0px;
    background-color:#FFFFFF;
   // -moz-box-shadow:    0px 0px 11px 9px #A6A7A7;
   // -webkit-box-shadow: 0px 0px 11px 9px #A6A7A7;
   // box-shadow:         0px 0px 11px 9px #A6A7A7;
}

#blog-single-article-body{
	margin-left:auto;
    margin-right:auto;
	margin-top:20px;
	//border:1px solid red;
	width: 700px ;
    -moz-box-shadow:    0px 0px 1px 1px #646465;
    -webkit-box-shadow: 0px 0px 1px 1px #646465;
    box-shadow:         0px 0px 1px 1px #646465;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 70%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 70%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#blog-single-article-body #title-text{
	margin-left:20px;
	font-size:24px;
}

#blog-single-article-body #author-label{
	margin-top:10px;
	margin-left:20px;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;
	color:darkgreen;
}

#blog-single-article-body #author-text{
	margin-left:10px;
	color:darkblue;
	font-weight:bold;
	font-family:Ariel;
	font-size:12px;
}

#blog-single-article-body #article-body{
	width:680px;
	margin-top:75px;
	min-height:110px;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:30px;
	background:white;
	font-style:italic;
	color:#472265;
}

#blog-single-article-body #modified-label{
	margin-left:200px;
	font-size:12px;
	color:#3B3559;
	font-weight:bold;
}

#blog-single-article-body #cat{
	width:150px;
	border:1px solid green;
	margin-left:20px;
	//float:left;
}

#blog-single-article-body  .cat-label, .blog-article-list-table .article-list-comment{
	font-size:12px;
	color:#3B3559;
	font-weight:bold;
	margin-left:20px;
}

#blog-single-article-body #created-text{
	font-size:12px;
	color:darkgreen;
	font-weight:bold;
	margin-left:10px;
}

#blog-article-details{
	width:95%;
	margin-left:auto;
    margin-right:auto;
	margin-top:20px;
	list-style:none;
	padding-left:0px;
	//display:none;
	
}

#blog-article-details  .comment-body{
	background:#ECF4F3;
	height:50px;
	vertical-align:top;
	padding-left:17px;
	text-indent: 5px;
	padding-top:5px;
	
}

 #blog-article-details  .comment-header{
	font-weight:bold;
	background:rgba(229,229,229,1) 100%
}

#blog-article-details .comment-table-row{
	padding:0;
}

.blog-comment-new-table td .comment-title{
	margin-left:5px;
	font-size:12px;
	color:#000000;
}

.blog-comment-new-table td .comment-author, .blog-article-list-table .article-list-author{
	margin-left:20px;
	font-size:12px;
	color:darkred;
}

.blog-comment-new-table td .comment-grade{
	margin-top:-20px;
	float:left;
	margin-left:495px;
	font-size:12px;
	color:#000000;
}

.blog-comment-new-table{
	margin-top:-3px;
	-webkit-box-shadow: 0px 1px 1px 1px ##B9B7B7;
	box-shadow: 0px 1px 1px 1px #B9B7B7;
}

.blog-comment-new-table td .createdon, .blog-article-list-table .article-list-createdon{
	margin-left:20px;
	font-size:12px;
	font-weight:bold;
}

.blog-article-list-table .list-table-body{
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFFFFF;
	text-indent:15px;
	padding-left:10px;
}

.blog-article-list-table .article-list-title{
	margin-left:10px;
	font-weight:bold;
}

.blog-article-list-table .article-list-commentnumber{
	float:right;
	margin-right:10px;
	color:#2e3366;
	font-size:15px;
	font-weight:bold;
}

#blog-article-list-table .list-table-header{
	background:#C7C6C6  ;
	//rgba(229,229,229,1) 100%
}

.blog-article-list-table .article-list-average{
	color:darkred;
	font-size:12px;
	font-weight:bold;
	margin-left:60px;
}

#article-table-view #article-list-body li{
	//border:1px solid red;
	width:500px;
	margin-top:40px;
	min-height:120px;
}

#blog-article-details  li {
	margin-top:20px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 2px 3px rgba(0, 0, 0, 1);
	box-shadow:         0px 2px 3px rgba(0, 0, 0, 1);
}

#blog-single-article #show-comments{
	margin-top:20px;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	//border:1px solid red;
	text-align:center;
	font-weight:bold;
	padding-top:5px;
	background:#C7C6C6  ;
	
}

#blog-article-list-body {
	width:130%;
	margin-left:auto;
    	margin-right:auto;
	margin-top:20px;
	list-style:none;
	padding-left:0px;
	//display:none;
}

#blog-article-list-body li{
	margin-top:50px;

}

.blog-comment-new-table .comment-header{
	background:#C7C6C6;

}

.blog-article-body{
	padding:10px;
	text-indent:10px;
	vertical-align:text-top;
	height:100px;
}

.blog-comment-new-table .article-author{
	font-size:12px;
	color:darkred;
	font-weight:bold;
	margin-left:20px;
}

.blog-comment-new-table .article-createdon{
	font-size:12px;
	color:darkblue;
	font-weight:bold;
	margin-left:20px;
}

.blog-comment-new-table .article-title{
	margin-left:20px;
	margin-top:30px;
}

.blog-comment-new-table .article-category{
	margin-left:20px;
	font-size:14px;
	font-weight:bold;
	color:darkblue;
}

.blog-comment-new-table .article-comments{
	float:right;
	margin-right:10px;
	font-size:14px;
	font-weight:bold;
	color:darkgreen;
}

.blog-comment-new-table .article-average{
	margin-left:20px;
	font-size:12px;
	font-weight:bold;
}

#blog-article-title{
	width:400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.blog-comment-new-table .comment-header {
	padding-top:5px;
	padding-bottom:5px;
}

#blog-article-bottom-toolbar{
	width:400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.article-tools .rowtools {
	margin-left:20px; width:50px;
}
.article-tools .rowtools .r{
	display:none;
}

#categories-menu  {
	//border:1px solid pink;
	margin-top:47px;
	text-indent:15px;
	//background: rgb(199, 198, 198);
}

#blog_Articles-EditForm, #blog_Comments-EditForm {
	//border:1px solid pink;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-box-shadow: 0px 1px 2px 1px #959090;
	box-shadow: 0px 1px 2px 1px #959090;
	background:#E0DCDC;
}

 .categories_list{
	//border:1px solid red;
	margin-top:8px;
	height:25px;
	padding-top:10px;
	border-top: 1px solid rgb(150, 209, 248);
	background: -moz-linear-gradient(center top , rgb(89, 86, 86), rgb(133, 133, 133)) repeat scroll 0% 0% transparent;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0px 1px 0px rgb(0, 0, 0);
	color: white;
	font-size: 16px;
	font-family: Arial;
	text-align:center;
	font-weight:bold;
	//width:160px;
}
#cat_header {
	text-align:center;
	font-size:22px;
}

#categories-menu li a {
	color:white;
}

#categories-menu li a:hover {
	color:yellow;
	text-size:22px;
}

#blog-article-filter{
	background:rgb(199,198,198);
	border-radius: 8px 8px 8px 8px;
	-webkit-box-shadow: 0px 0px 1px 1px #959090;
	box-shadow: 0px 0px 1px 1px #959090;
}

#comment-list-add {
	height:230px;
	list-style:none;
	padding-left:5px;
	padding-top:5px;
	background: rgb(229, 229, 229);
	border-radius: 8px 8px 8px 8px;
}

#no-articles-found {
	margin-top:30px;
	margin-left:20px;
	font-size:18px;
	//text-align:center;
	//padding-top:60px;
}

/*
 * Хипервръзки към профилите на потребители
 */
a.profile {
    padding:2px;
    border-radius:2px;
}

a.profile.ceo {
	color:blue;
}

a.profile.manager {
	color:#009999;
}

a.profile.officer {
	color:green;
}

a.profile.executive {
	color:#aa6600;
}

a.profile.contractor {
	color:#f00;
}
