.specificationDoc .specReport .groupList {
	max-width: 100% !important;
}

.specificationDoc .groupTitle {
	font-weight:bold;
	color: #777;
}

.specificationDoc .acc-summary {
	background-color: transparent !important;
}

.specificationDoc .portal {
	background-color: transparent !important;
}