body{
    background-color:#fff;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 38px; /* Височина на футъра */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.externalPage {
    min-height: 100vh;
    position: relative; /* За да работи абсолютното позициониране на футъра правилно */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.narrow .externalPage {
    min-height: 100dvh;
}

.mainContent {
    flex: 1; /* Запълва цялото останало пространство */
}
.cms-last {
    margin: 0 !important;
}
#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
    color: white;
}

.wide .narrowCenter {
    text-align: center;
    width: 1400px;
    height: 220px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.formTable .formTitle a {
    color: #ddd !important;
}

.wide .fadein {
    position: relative;
}

.wide  .headerImg{
    height:auto;
    max-width: 1400px;
    float: none;

}
#cmsBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px; /* Фиксирана височина */
    background: #333;
    color: white;
    text-align: center;
}

#maincontent {
    background-color:white;
    padding-top: 0 !important;
}

.wide #maincontent {
    padding-bottom: 80px !important
}

#cmsNavigation .nav_item a {
    color:#336;
}

#cmsNavigation .sel_page a {
    color:#334;
    background:#ddf;
    border:solid 1px #ccf;
}

#cmsNavigation .level1 {
    color:#333;
}

.richtext h2 {
    background-color: #ddf;
    padding:5px;
}
.wide .app-name{
    top: 5%;
    left: 2%;
    font-size: 4.5em;
}

.wide .app-subtitle{
    left: 0%;
    top: 48%;
    font-size: 1.7em;
}
.wide #maincontent {
    min-height: auto;
}
.fourcol, #cmsMenu a, .formTable{
    margin-left: 0 !important;
}
#login-form {
    padding-left: 0 !important;
}
.loginIcon, .searchContent {
    margin-right: 0 !important;
}

.wide .app-name {
    left: 0 !important;
}
.auctionContent {
    padding: 0 0px 10px;
    margin-top: -10px;
}
.wide .topPageNewsbar {
    text-align:center;
    position:absolute;
    margin:0px;
    display:block;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0;
}
.wide .beforeFooterNewsbar {
    position: absolute;
    bottom: 40px;
}
.additionalFooter {
    box-sizing: border-box;
}
 .wide .afterFooterNewsbar {
    position: absolute;
    bottom: -40px;
}

 .narrow .footer-links {
     margin-top: 4px;
 }

.narrow .footer-links, .narrow .footer-links a {
    color: #180f47 !important;
    &:hover {
        color: #231669 !important
    }
}
@media handheld, only screen and (min-width: 1800px) {
    .centerContent {
        width: 1400px !important;
    }
}
@media handheld, only screen and (max-width: 1200px) {
    .wide .app-name {
        font-size: 4.1em;
    }
    .wide .app-subtitle {
        font-size: 1.5em;
    }
}

@media handheld, only screen and (max-width: 1000px) {
    .wide .app-name {
        font-size: 3.3em;
    }
    .wide .app-subtitle {
        font-size: 1.3em;
    }
}

@media handheld, only screen and (max-width: 800px) {
    .wide .app-name {
        font-size: 2.7em;
    }
    .wide .app-subtitle {
        font-size: 1.1em;
    }
    .wide  .headerImg{
        text-align: center;
    }
}
@media handheld, only screen and (max-width: 600px) {
    .wide .app-name {
        font-size: 1.8em;
    }
    .wide .app-subtitle {
        font-size: 0.9em;
    }
}
.gdpr {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    font-size: 0.7em;
    color: #ccc;
}
#cmsMenu {
    width: 100%;
}

.centerContent {
    clear: both;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    float: none;

}

#searchform {
    margin-bottom: 20px;
}

header {
    position: relative;
}

.wide .externalPage .formTable {
    float: left;
}

.narrow .app-name {
    bottom: 35px;
    top: auto;
}

header img {
    width: 100%;
    height: auto;
}
.foorterAdd {
    top: -4px !important;
}
.narrow header {
    min-height: 90px;
}
.narrow .narrowCenter {
    width: 1200px;
    margin: 0 auto;
}
.narrow .externalPage .narrowCenter a {
    display: flex;
    align-content: center;
    justify-content: center;
}
.wide .socialBtns {
    top: -6px;
}
.cms-row {
    padding-bottom: 20px;
}
.soc-following {
    padding: 7px 7px 7px 2px;
}

.externalPage:has(.additionalFooter) {
    padding-bottom: 50px;
}
.narrow .additionalFooter {
    position: absolute;
    bottom: 38px;
    width: 100%;
}

.narrow #login-form {
    margin: 0 auto;
}
@media handheld, only screen and (max-width: 1200px) {
    .wide  .headerImg{
        width: 100% !important;
        height: auto !important;
        position: relative;
        display: block;
    }
    .wide .narrowCenter {
        height: auto !important;
    }
    .wide .fadein {
        display: block;
    }
    .centerContent, .wide .narrowCenter, .centerFixed {
        width: 100%;
        margin: 0;
        display: block;
    }
    .centerFixed {
        left: 0
    }
    .narrow .externalPage #maincontent {
        padding: 0px 3px 3px;
    }
    .narrow .cms-row {
        padding-top: 15px;
    }
    #cmsMenu {
        box-sizing: border-box;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 0.9em;
    }
    #cmsBottom {
        box-sizing: border-box;
        padding-left: 1%;
        padding-right: 1%;
    }
    .foorterAdd {
        top: -5px !important;
        position: relative;
    }
    .soc-following {
        padding-top: 2px;
    }
    .narrow .externalPage .vertical .formTable {
        padding: 15px 10px 0px;
    }
    .narrow .externalPage #login-form .vertical .formTable {
        padding: 15px 5px 0px;
    }
    .narrow .narrowCenter {
        width: 100%;
    }
}
