body{
    background-color:#fff;
    height: 100%;
}
html {
    height: 99.9%;
}
.externalPage {
    position: relative;
    min-height: 100%;
}
#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
    color: white;
}

.wide .fadein {
    float: left;
    height: auto !important;
    max-height: none;

}
.wide .fadein  .headerImg{
    height: auto !important;
    max-height: none;

}
#cmsBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#maincontent {
    background-color:white;
    padding-bottom: 38px !important
}

#cmsNavigation .nav_item a {
    color:#336;
}

#cmsNavigation .sel_page a {
    color:#334;
    background:#ddf;
    border:solid 1px #ccf;
}

#cmsNavigation .level1 {
    color:#333;
}

.richtext h2 {
    background-color: #ddf;
    padding:5px;
}

header {
    min-height: auto;
    position: relative;
}

.wide .app-name{
    top: 21%;
    left: 2%;
}
.wide #maincontent {
    min-height: auto;
}
@media handheld, only screen and (max-width: 600px) {
    .wide .app-name {
        font-size: 3.7em;
        top: 24%;
    }
}
.gdpr {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    font-size: 0.7em;
    color: #ccc;
}
#cmsMenu {
    float: left;
    width: 100%;
}

.centerContent {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    float: none;
}

#searchform {
    margin-bottom: 20px;
}
header {
    position: relative;
}

.narrow .app-name {
    bottom: 35px;
    top: auto;
}

header img {
    width: 100%;
    height: auto;
}

@media handheld, only screen and (max-width: 1200px) {
    .centerContent {
        width: 100%;
        margin: 0;
    }
}
