.header-color {
  background-color: #7fc9fa !important;
  padding: 20px; }

.menu {
  float: right; }

.menu a {
  margin: 10px 10px;
  padding: 5px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

.menu a.selected {
  background-color: rgba(0, 0, 0, 0.2); }

.content {
  width: 1400px;
  margin: 0 auto; }

#cmsTop,
#cmsTop img {
  border-radius: 0 !important;
  height: auto; }

body,
#maincontent {
  background: #f1f1f1 !important; }

