body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ccc;
	font-family:Verdana,Helvetica,Arial,Sans-serif;
	font-size:16px;
	text-align:center;
}

#cmsTop {
	background-image: url('../img/bgERP.jpg');
}

.narrow #cmsTop {
	background-image: url('../img/bgERP.jpg') !important;
}

#cmsMenu {
	  background-color:#333;
	  color:#333 !important;
}

#cmsMenu a {
	color:#ddd;
	border:solid 1px #333;
	text-shadow:2px 2px 2px #000;
	-moz-border-radius:5px;
	border-radius: 5px;
}

#cmsMenu a:hover {
  color:#fff;
}

#cmsMenu a.selected {
  color:#fff;
  background-color:#99f;
}


#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
	background-color:#ccc;
	color: white;
}


#cmsBottom {
	background-color: #333;
}

#all {
	border: solid 1px #777;
	border-bottom: solid 1px #000;
}

#maincontent {
	background-color:white;
}

 
#cmsNavigation .nav_item a {
	color:#336;
	border:none;
}

#cmsNavigation .sel_page a {
	color:#334;
	background:#ddf;
	border:solid 1px #ccf;
}

#cmsNavigation .level1 {
	color:#333;
}

#cmsNavigation div:first-child {
}

#cmsNavigation .level2 {
}

#cmsNavigation .level3 {
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}