body{
    background-color:#ccc;
}


#cmsTop, #cmsBottom, #cmsTop.a, #cmsBottom.a {
    color: white;
}

#all #cmsTop, #cmsTop img {
    background-color:#6C72B1 !important;
}

#all {
    border: solid 1px #777;
}

#maincontent {
    background-color:white;
}

#cmsNavigation .nav_item a {
    color:#336;
}

#cmsNavigation .sel_page a {
    color:#334;
    background:#ddf;
    border:solid 1px #ccf;
}

#cmsNavigation .level1 {
    color:#333;
}

.richtext h2 { 
    background-color: #ddf;
    padding:5px;
}

.wide .app-name{ 
	top: 21%;
	left: 2%;
}
@media handheld, only screen and (max-width: 600px) {
    .wide .app-name {
         font-size: 3.7em;
         top: 24%;
        
    }
}


.gdpr {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    font-size: 0.7em;
    color: #ccc;
}