body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#ccc;
	font-family:Verdana,Helvetica,Arial,Sans-serif;
	font-size:16px;
	text-align:center;
}

#framecontentTop {
	background-repeat:no-repeat;
	display:block;
	width:1000px;
	height:249px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu {
  background-color:white;
  color:#333 !important;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}

#menu a {
  color:black;
  font-size:1.2em;
  margin-left:10px;
  margin-right:10px;

}

#menu a:hover {
  color:#110066;
  text-shadow:#6600cc 2px 2px 10px ;
}

#framecontentTop, #framecontentBottom, #framecontentTop.a, #framecontentBottom.a {
	display:block;
 	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color:#ccc;
	color: white;
}


#framecontentBottom {
	background-color: black;
	font-size:1.2em;
	padding-top:10px;
	padding-bottom:10px;
	border: solid 0px red;
	display:block;
	width:1000px;

}

#all {
	width:1000px;
	display:block;
	border: solid 1px #777;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 10px ;
	border-bottom: solid 1px #000;
	text-align:left;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#maincontent{
	background-color:white;
}
