.narrow .general-product{
	min-width:350px;
}

.general-product .list-info {
	list-style:none;
	font-size:15px;
	padding-left:0;
	float:left;
	margin-top:0px;
	margin-bottom:0;
	padding-bottom:0;
}

.general-product .list-title .richtext{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:10px;
	color:#000;
}

.general-product .list-description-short{
	max-width:230px;
	text-align:justify;
}

.general-product .list-description-short{
	font-size:14px;
	color:#000;
}

.general-product .list-measures {
	list-style:none;
	padding-left:10px;
}

.general-product .list-others {
	list-style:none;
	padding-left:10px;
}

.general-product .product-image {
	float:left;
	margin-top:23px;
}

.narrow .general-product .product-image {
	margin-top:0;
	margin-bottom:10px;
}

.narrow .general-product .fleft{
	width:100%;
}

.wideDesc{
	max-width:380px !important;
}

.styled-table{
	width:300px;
	margin-right:20px;
}

.narrow .styled-table{
	width:100%;
	margin-right:0;
}
	
i.misc-values{
	color:#040404;
}

th{
	padding-bottom:4px;
}

@media print{
	.styled-table{
		width:400px;
	}
	.general-product .product-image{
		clear:both;
		margin-top:0;
		margin-bottom:10px;
	}
}