.general-product{
	font-size:16px;
}

.general-product .list-info {
	list-style:none;
	padding-left:0;
	float:left;
	margin-top:0px;
	margin-bottom:0;
	padding-bottom:0;
}

.general-product .list-title{
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:10px;
	color:#000;
}

.general-product .list-description{
	margin-bottom:10px;
}

.general-product .list-description-short{
	text-align:justify;
	font-size:14px;
	color:#000;
}

.general-product .list-measures {
	list-style:none;
	padding-left:10px;
}

.general-product .list-others {
	list-style:none;
	padding-left:10px;
}

.general-product .product-image {
	float:left;
	margin-top:23px;
}

.general-product .list-description-short .product-image{
	float:right;
	margin-top:0;
	margin-left:10px;
	margin-bottom:0px;
}

.narrow .general-product .product-image {
	margin-top:0;
	margin-bottom:10px;
}

.narrow .general-product .list-title{
	font-size:16px;
}

.narrow .general-product .list-info li{
	font-size:15px;
}

.narrow .general-product .list-description-short .product-image{
	float:none;
	margin-left:0;
}

.narrow .general-product .list-description-short .richtext{
	min-width:160px;
}
 
.narrow .general-product .fleft{
	width:100%;
}

.wideDesc{
	max-width:380px !important;
}

.styled-table{
	width:300px;
	margin-right:20px;
}

.narrow .styled-table{
	width:100%;
	margin-right:0;
}
	
i.misc-values{
	color:#040404;
}

th{
	padding-bottom:4px;
}

.custom-styled-table{
	width:300px;
}

.cCode{
	display:inline-block;
}

@media print{
	.styled-table{
		width:400px;
	}
	.general-product .product-image{
		float:left;
		margin-top:0;
		margin-bottom:10px;
	}
	.general-product .list-description-short{
		max-width:100%;
	}
}