.general-product .list-info {
	list-style:none;
	font-size:15px;
	padding-left:0;
	float:left;
	margin-top:0px;
	margin-bottom:0;
	padding-bottom:0;
}

.general-product .list-title {
	font-size:16px;
	text-transform:uppercase;
}

.general-product .list-description-short{
	max-width:230px;
	text-align:justify;
}

.general-product .list-description-short{
	font-size:14px;
	color:#000;
}

.general-product .list-measures {
	list-style:none;
	padding-left:10px;
}

.general-product .list-others {
	list-style:none;
	padding-left:10px;
}

.general-product .product-image {
	float:right;
	margin-top:25px;
	margin-left:5px;
	margin-right:5px;
}

.img-wide{
	margin-left:50px !important;
}

.wide1{
	max-width:380px !important;
}

.styled-table{
	width:300px;
}

i.misc-values{
	color:#040404;
}

th{
	padding-bottom:4px;
}