
#summary {
	float:right;
	padding:7px;
	background:#eee;
	border:1px solid rgba(0,0,0,0.3);
	margin-bottom:20px;
}
#summary table{
	border-collapse:separate;
}

#summary b {
	color:rgb(0, 68, 136);
}

#summary b#count {
	margin-left:5px;
}
#summary td{
	padding:3px;	
}

.narrow #summary b#count {
	margin-left:3px;
}

#summary .money-info{
	margin-left:3px;
}