syntax: regexp
^\.settings$
syntax: regexp
^\.buildpath$
syntax: regexp
^\.project$
syntax: regexp
lab/Hora.class.php
syntax: regexp
.gitignore
syntax: regexp
^tests$
/.settings
/.project
/.buildpath
/.git
/.gitignore
