syntax: regexp
^\.settings$
syntax: regexp
^\.buildpath$
syntax: regexp
^\.project$
syntax: regexp
^common/Deleteme\.class\.php$
syntax: regexp
^tests$
/lab/Hora.class.php
/.settings
/.project
/.buildpath
/.git
/.gitignore
