.document .job-head {
	background-color:#EEE;
	padding:0.3em 0.5em;
}

.document .jobSpec {
	padding: 5px !important;
}

.document .jobTable {
	border:1px solid #ccc;
	border-collapse:collapse;
}

.document .jobTable > tbody > tr > td {
	border:1px solid #ccc;
	padding:0.5em;
}

.document .jobTable .quiet{
	padding-right: 5px;
}

.product-title {
	font-weight: bold;
}