@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background: white !important; }

.dragging {
  opacity: 0.5; }

.reorderSmallCol,
.taskParamCol {
  width: 1%;
  white-space: nowrap; }

.document-handler {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(181, 181, 181, 0.8); }

.taskParamCol {
  text-align: right; }

table {
  width: 100%;
  border-collapse: collapse; }

th {
  background: #eeeeee !important;
  font-weight: normal !important; }

th,
td {
  border: 1px solid #dddddd !important;
  padding: 2px 3px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 13px !important;
  box-sizing: content-box; }

.wrongDates {
  background: red;
  color: white; }

td:has(.wrongDates) {
  background: red !important; }

.state-pending,
.state-pending:hover {
  background-color: rgba(238, 204, 255, 0.7) !important; }

.state-active,
.state-active:hover {
  background-color: rgba(250, 221, 187, 0.7); }

.state-wakeup,
.state-wakeup:hover {
  background-color: rgba(43, 175, 76, 0.7) !important; }

.state-stopped,
.state-stopped:hover {
  background-color: rgba(255, 187, 51, 0.7); }

.state-forbidden,
.state-forbidden:hover td {
  background: #777777 !important; }

.selected {
  background-color: #cce5ff !important; }

.dropped-highlight {
  background-color: #fffdd7f2 !important; }

tr:hover td {
  outline: 2px solid #999999; }

.loadingModal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url('../../img/ajax-loader.gif') 50% 50% no-repeat; }

.dependantProgress .doubleclicklink {
  display: inline-block; }

.dependantProgress span {
  margin: 0 2px;
  font-size: 0.95em;
  color: red;
  font-weight: bold; }

.readyPercent {
  color: green !important; }

#editWatchHolder {
  float: right; }

