.upload-doc-created {
	width: 130px;
}

.dialogDocTable table {
	width: 100%;
	background-color: white;
}

.dialogDocTable table tr td:last-child {
    width: 1%;
}

.dialogDocTable table tr td:first-child {
	width: 70px;
}

.listTable{
	margin-bottom:0;
}
.dialogDocTitle {
	display:block;
	margin-bottom:12px;
	font-weight: bold;
}

.dialogPager{
	clear:both;
	margin-top:-10px;
}

