.document td.job-head {
  background-color: #eeeeee;
  font-weight: bold; }

.document .jobSpec {
  padding: 5px !important; }

.document .jobTable {
  border: 1px solid #cccccc;
  border-collapse: collapse; }

.document .jobTable > tbody > tr > td {
  border: 1px solid #cccccc;
  padding: 0.3em; }

