<?xml version="1.0" encoding="ISO-8859-1"?>
<jstrim mode="high">
	<!-- Compress core and all plugins -->
	<trim mode="high" src="js/punymce/puny_mce_src.js" dest="js/punymce/puny_mce.js" />
	<trim mode="high" src="js/punymce/plugins/forceblocks_src.js" dest="js/punymce/plugins/forceblocks.js" />
	<trim mode="high" src="js/punymce/plugins/emoticons/emoticons_src.js" dest="js/punymce/plugins/emoticons/emoticons.js" />
	<trim mode="high" src="js/punymce/plugins/editsource/editsource_src.js" dest="js/punymce/plugins/editsource/editsource.js" />
	<trim mode="low" src="js/punymce/plugins/image/image_src.js" dest="js/punymce/plugins/image/image.js" />
	<trim mode="low" src="js/punymce/plugins/link/link_src.js" dest="js/punymce/plugins/link/link.js" />
	<trim mode="low" src="js/punymce/plugins/textcolor/textcolor_src.js" dest="js/punymce/plugins/textcolor/textcolor.js" />
	<trim mode="low" src="js/punymce/plugins/paste_src.js" dest="js/punymce/plugins/paste.js" />
	<trim mode="low" src="js/punymce/plugins/bbcode_src.js" dest="js/punymce/plugins/bbcode.js" />
	<trim mode="low" src="js/punymce/plugins/entities_src.js" dest="js/punymce/plugins/entities.js" />
	<trim mode="low" src="js/punymce/plugins/protect_src.js" dest="js/punymce/plugins/protect.js" />
	<trim mode="high" src="js/punymce/plugins/safari2x_src.js" dest="js/punymce/plugins/safari2x.js" />

	<!-- Merge core and all plugins into one big file -->
	<trim mode="high" dest="js/punymce/puny_mce_full.js">
		<add src="js/punymce/puny_mce_src.js" />
		<add src="js/punymce/plugins/forceblocks_src.js" />
		<add src="js/punymce/plugins/emoticons/emoticons_src.js" />
		<add src="js/punymce/plugins/editsource/editsource_src.js" />
		<add src="js/punymce/plugins/image/image_src.js" />
		<add src="js/punymce/plugins/link/link_src.js" />
		<add src="js/punymce/plugins/textcolor/textcolor_src.js" />
		<add src="js/punymce/plugins/paste_src.js" />
		<add src="js/punymce/plugins/bbcode_src.js" />
		<add src="js/punymce/plugins/entities_src.js" />
		<add src="js/punymce/plugins/protect_src.js" />
		<add src="js/punymce/plugins/safari2x_src.js" />
	</trim>
</jstrim>
