.norm-master-table {
}

.norm-table{
	border:1px solid #ccc;
	border-collapse:collapse;
	margin-bottom:5px;
	margin-top:5px;
}

.norm-table th{
	border:1px solid #ccc;
	padding:3px;
	background:#f5f5f5;
}

.norm-table td{
	border:1px solid #ccc;
	padding:3px;
}

.norm-table .norm-cat{
	border:none !important;
	padding-left:8px;
}

.price-div{
	margin-top:5px;
	margin-bottom:10px;
	padding:6px;
	display:inline-block;
	background-color:#eee;
	min-width: 320px;
	border:1px solid rgba(210, 210, 210, 0.8);
}

.pricelist-group-label{
	line-height:24px;
	text-indent:5px;
}

.pricelist-group-label, .pricelist-group-label b, .norm-cat {
	background-color: #636363 !important;
	color:white;
}

.print-header{
	padding-top:15px;
	font-weight:bold;
	font-size:1.2em;
}

@media print{
	.norm-table{
		margin-top: 0px;
	}
	
	.pricelist-group-label, .pricelist-group-label b {
		background-color: #636363 !important;
		color:white;
	}
}	