.pwa-push-default,
.pwa-push-disabled,
.pwa-push-renew {
    background-image: url('../../img/16/rowtools-btn-green-orange.png') !important;
}

.pwa-push-denied,
.pwa-push-incompatible {
    background-image: url('../../img/16/rowtools-btn-grey.png') !important;
}

.pwa-push-computing {
    background-image: url('../../img/16/wait.png') !important;
    cursor: wait;
}

.pwa-push-enabled {
    background-image: url('../../img/16/rowtools-btn-gray-green.png') !important;
}

.pwa-push-default-uns {
    background-image: url('../../img/16/rowtools-btn-grey-orange.png') !important;
}
