
.sale-summary {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;

    table {

       width: 100%;
       border-collapse: separate;
       border-spacing: 5px 0;
	   
	   td, th {
	       text-align: center;
	   	   border: 1px solid #ccc;
	   	   border-collapse: collapse;
	   }
	   
	   .sum-th {
	       background-color: #efefef;
	   	   font-weight: normal;
	   	   color: #555;
	   	   border-bottom: none;
	   	   padding:0px;
	   	   font-size:13px;
	   }

	   td {
	       font-size: 1.3em;
	   	   font-weight: bold;
	   	   padding: 5px 3px;
	   	
	   	   .quiet {
	           color: #ccc;
	   	       font-weight: normal;
	   	   }
	   }
    }
}