.order-table {
	border-collapse:collapse;
	margin-top:1px;
	width:100%;
}

.top-head{
	width:30%;
	height:16px;
	vertical-align:top;
}

.title-order{
	height:105px;
	width:40%;
	text-align:center;
	vertical-align:top;
}

h2{
	text-transform:uppercase;
}

th {
	background-color: rgb(221, 221, 221);
}

.notes {
	text-align:left;
	text-indent:15px;
	height:80px;
}