table {
	border-collapse:collapse;
	border-bottom-style:none;
	width:100%;
}

@media print {
	table {width:97% !important;}
}
.order-table td {
	padding-left:15px;
	border-bottom-style:none;
}

.top-head{
	width:34%;
	height:16px;
	vertical-align:top;
	background-color:rgba(200, 200, 200, 0.4);
}

.title-order{
	
	width:33%;
	text-align:center;
	vertical-align:top;
}

h2{
	text-transform:uppercase;
}

th {
	background-color: rgba(200, 200, 200, 0.4);
}

#notes {
	text-align:left;
	height:80px;
	vertical-align:top;
}

.align-top-td {
	vertical-align:top;
}

#currency-table {
	margin-top:3px;
	margin-bottom:3px;
}

#currency-table td {
	padding-left:14px;
}

.currency-amount {
	padding-right:05px;
	text-align:right;
}

#amount {
	float:right;
	margin-right:15px;
	font-size:20px;
}

#with-words {
	background-color:rgba(200, 200, 200, 0.4);
	text-align:right;
	padding-top:3px;
	padding-bottom:3px;
}

#cCode {
	border:solid 1px #ccc;
	background-color:#eee;
	padding:2px;
    font-size:12px;
    vertical-align:middle;
}

#notes {
	width:67%;
	height:53px;
	padding-left:10px;
	padding-top:5px;
}

#misc {
	padding:4px;
	text-align:right;
	padding-right:15px;
	border:1px solid red;
	border:solid 1px #ccc;
	background-color:rgba(200, 200, 200, 0.4);
}

.labels {
	font-size:14px;
}

.sign_names {
	margin-left:15%;
}