.floor-object {
  position: absolute;
  display: table; 
  text-align: center; 
  padding:0px;
  color:white;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.selected {
   outline: dotted 4px black;
   z-index:10000;
   outline-offset: 3px;
}

.floor {
    position: relative;
}

.ui-draggable-dragging {
    opacity:0.8;
    z-index:100000;
}

.floor-obj {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  font-weight:bold;
  overflow: hidden;
  color: #000;
}

body.wide {
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:black;
    height: 100vh;
}

body.narrow {
    min-height: 100vh;
    background-color:black;
}