.floor-object {
  position: absolute;
  display: table; 
  text-align: center; 
  padding:0px;
  color:white;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.selected {
   outline: dotted 4px black;
   z-index:10000;
   outline-offset: 3px;
}

.floor {
   position: relative;

}
.wide .floor {
    max-height:95vh;
}
.narrow{
    padding: 4px;
}
.ui-draggable-dragging {
    opacity:0.8;
    z-index:100000;
}

.floor-obj {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  font-weight:bold;
  overflow: hidden;
  color: #000;
}

body.wide {
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:black;
    height: 100vh;
    flex-direction: row-reverse;
}

body.narrow {
    min-height: 100vh;
    background-color:black;
    padding: 5px;
    box-sizing: border-box;
}

a.active {
	color:yellow;
}


div.tab {
    display:inline-block;
	background-color:white;
	padding:3px;
	border-radius:3px;
}

div.active {
 background-color:yellow;
}
.wide .floorTabs {
    gap: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.floorTabs.topPosition {
    flex-direction: row ;
    padding: 20px 50px;
}

.wide .floorTabs.rightPosition {
    padding: 0px 0px 50px 20px;
    flex-direction: column-reverse ;
}
.floorTabs .tab {
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}

.floorTabs .tab  a {
    color: #333 !important;
    display: block;
    padding: 5px 20px;
}
.narrow .floorTabs .tab  a {
    padding: 5px 10px;
}
.floorTabs .tab:hover, .floorTabs .tab.active {
    background-color: yellow;
}
.narrow .holder {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}
.narrow .floorTabs{
    padding: 5px;
    overflow: auto;
    white-space: nowrap;
}
.narrow .floorTabs .tab {
    margin-right: 10px;
}