.blog-browse-header {
	font-size:1.2em;
	margin-bottom:1em;
	padding:5px;
	background-color:#ddd;
}



.blogm-article-title, .blogm-article-title a {
	font-size:2em;
	line-height:130%;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
    color:#333;
}


.blogm-browse .blogm-article-title {
	font-size:1em;
	margin-top:0px;
	margin-bottom:0px;
}

.blogm-article-info {
	font-size:0.75em;
	padding:3px;
	
	 /* fallback */ 
	 background-color: #eee; 
	 
	 /* Safari 4-5, Chrome 1-9 */ 
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#f8f8f8)); 
	 
	 /* Safari 5.1, Chrome 10+ */ 
	 background: -webkit-linear-gradient(top, #ddd, #f8f8f8); 
	 
	 /* Firefox 3.6+ */ 
	 background: -moz-linear-gradient(top, #ddd, #f8f8f8); 
	 
	 /* IE 10 */ 
	 background: -ms-linear-gradient(top, #ddd, #f8f8f8); 

	 /* Opera 11.10+ */ 
	 background: -o-linear-gradient(top, #ddd, #f8f8f8);

	color:#333;
	margin-bottom:6px;
}

#sBtn{
	background-image:url('../../../img/search.png');
	width:25px;
}

.blogm-comments-cnt {
	float:right;
	background-image:url('../../../img/12/comments.png');
}

.blogm-article-body {
	margin-top:15px;
	margin-bottom:15px;
}

.blogm-article-body .richtext {
	font-size:1.1em;
    color:#333;
}

.blogm-article-body .richtext h2 {
    margin-bottom:10px;
}

.blogm-comment {
	margin-top:15px;
	border:solid 1px #f8f8f8;
	padding:10px;
	border-radius:5px;
	background-color:#f8f8f8;
	border:solid 1px #eee;
	display:table;
	width:100%;
}

.blogm-comment-who {
	display:table-cell;
	vertical-align:top;
	width:80px;
	font-size:0.7em;
}

.blogm-comment-text  {
	display:table-cell;
	width:80%;
	vertical-align:top;
	float:left;
}

#blogm-Comment {
	border:none;
	position:absolute;
	height:0px;
	visibility:hidden;
}

.blogm-name {
	white-space:nowrap;
}

.blogm-comment-form div {
	margin-top:8px;
}

.blogm-comment-form {
	input[type="text"], input[type="submit"] {
		padding:3px;
		width: 300px;
	}
}

.blogm-comment-form textarea {
	padding:3px;
	width: 600px;
}
.blogm-category-row {
	margin-top:5px;
}

.blog-article-share {
	padding-top:8px;
	padding-bottom:8px;
	margin-top:8px;
	margin-bottom:8px;
	height:20px;
	visibility:hidden;
}

.blogm-search-form {
	margin-bottom:10px;
}

.blogm-workshop {
	margin-bottom:10px;
}

.blogm-categories {
	margin-bottom:10px;
}

.blogm-archive {
	margin-bottom:10px;
}

.blog-browse-header {
	margin-bottom:20px;
}

.blogm-browse-article {
	margin-bottom:20px;
}
