.grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid.short {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.grid.picture{
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
.grid.pictureAndText, .grid.rows{
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.grid.rows{
     2grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }