.single-receipt-wrapper{
	border: 1px solid #bbb;
	background: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:10px;
	padding:15px;
	position:relative;
	min-height:700px;
}

#single-receipt{
	display:inline-block;
}

.narrow .single-receipt-wrapper{
	 padding:9px;
	 min-height: auto;
}

#receipt-table {
	border-collapse:collapse;
	margin-top:15px;
	width:100%;
}
#receipt-table td, #receipt-table th{
	padding:5px;
	border:1px solid #000;
}

#receipt-header {
	background-color: rgb(221, 221, 221);
}

#receipt-title {
	font-size: 1.5em;
	font-weight:bold;
	padding-right:20px;
}

#receipt-contragent {
	text-align:center;
	line-height: 26px;
}

#receipt-number {
	font-style:italic;
	font-size:18px;
}

#receipt-date {
	float:right;
	margin-top:8px;
}

.narrow #receipt-date {
	margin-top:5px;
	display:block;
	clear:both;
	float:none;
}
	
.single-receipt-wrapper small {
	color:rgba(65, 65, 65, 1);
}

#receipt-payments {
	margin:5px 0px 2px 13px;
	line-height:26px;
}

#receipt-total {
	text-align:right;
	height:100%;
	margin-right:15px;
}

#total-label, #receipt-total-sum  {
	font-size:1.5em;
	font-weight:bold;
}

.receipt-info-right {
	text-align:right;
	padding-right: 10px;
}

.narrow .receipt-info-right{
	padding-right:5px;
}

#receipt-details-th {
	background-color: rgb(200, 200, 200);
}

.narrow #receipt-details-th td{
	text-align:center;
}

.receipt-sale {
	background-color: #f1f1f1;
}

#receipt-details-form {
	margin-top:15px;
}

.narrow #receipt-details-form{
	width:100%;
	padding-bottom:10px;
}

.narrow  #single-receipt .formError{
	width:100%;
}
	
.receipt-client {
	background-color:#FFEEDD;
}

.receipt-quantity,.receipt-price, .receipt-amount{
	text-align:right;
}

.buttonForm, .actionBtn, .clientBtn, .webscan{
	margin-right:16px !important;
	font-size:1.1em !important;
	color:white !important;
	background-color:#999999 !important;
}

#incBtn, #decBtn {
	width:40px ;
}

.button_hover {
	background-color:rgb(175, 175, 175) !important;
}

.submit_hover {
	background-color:pink !important;
}

input.error {
   border:1px dotted red;
}

.disabledSubmit {
	background-color:green !important;
}

.receipt-discount {
	background-color:#ffffe0;
}

.receipt-payment {
	background-color:#d1ffda;
}

#receipt-info{
	padding-top:30px;
	background-color:rgb(221,221,221);
	border-collapse:collapse;
	border:1px solid #000;
}

#receipt-info td{
	padding:1px 5px;
	border:none;
}

.receipt-discount-td {
	font-style:italic;
	color:darkgreen;
}

#money-info {
	text-align:center;
}

.narrow .formFields{
	margin-bottom:10px;
}

.narrow .formFields select{
	margin-bottom:5px;
}

#error-place {
	color:darkred;
	font-style:italic;
}

.buttons-row{
	clear:both;
	float:left;
	margin-left:-15px;
	margin-top:15px;
}

.narrow .buttons-row{
	margin-top:0px;
	margin-left:-10px !important;
}

#receipt-details-form .button{
	width:126px;
	float:left;
	height:2.4em !important;
	padding-top:0.3em !important;
	margin-left:15px;
	margin-right:0 !important;
}

.narrow #receipt-details-form .button{
	width:85px;
	padding-top:0.4em !important;
	height:2.2em !important;
	font-size:0.8em !important;	
	margin-bottom:10px;
	margin-left:10px;
}

.ean-text{
	width: 19.8em;
}

.narrow .ean-text{
	width:10em;
}

.btnNew, .btnEnd{
	background-color:rgb(153, 153, 255) !important;
}

#single-receipt-holder {
	position:relative;
}

.disabledBtn {
	background-color:#ECEBEA !important;
	color:#969494 !important;
	border:1px solid #C9C7C7 !important;
	cursor: pointer;
}

.document .listRows table {
	margin-bottom:15px;
	margin-top:15px;
}

.document .listTable tr td:last-child{
	text-align:right;
}

#filter{
	margin-left:65px;
}

form #from {
	margin-left:36px;
}

.narrow form #from {
	margin-left:41px !important;
}

form #point {
	margin-left:15px;
}

.narrow form #point {
	margin-left:17px !important;
}

.narrow  #filter{
	margin-left:4px !important;
}

.doc_Containers table.listTable.listTable > tbody > tr > td:first-child  {
	width:62%;
}

.narrow .doc_Containers table.listTable.listTable > tbody > tr > td:first-child{
	width:auto;
}

.doc_Containers table.listTable.listTable > tbody > tr.report-payment > td:first-child {
	text-indent: 5px;
}

.doc_Containers table.listTable.listTable > tbody > tr.report-payment{
	background-color:rgb(209, 255, 218) !important;
}

.doc_Containers table.listTable.listTable > tbody > tr.report-sale{
	background-color:rgba(246, 237, 167, 0.5) !important;
}

#cashier{
	margin-top:5px;
}

.receipt-info-right {
	text-align:right;
	padding-right: 10px;
	border-right:1px solid #000 !important;
}

.currency-element{
	float:right;
	display:inline-block;
	margin-top:2px;
}

@media print{
	.single-receipt-wrapper{
		border:none;
		padding:0;
	}
}







.pos-tab-content{
	border:1px solid green;
	width:400px;
	height:240px;
}

#tools-tabs li{
	display:inline block; 
}

#tools-tabs{
	list-style:none;
	display:inline block; 
}

.pos-hightligted{
	background-color:rgba(255,255,0,0.3);
}