#receipt-table {
	text-indent:8px;
	width:522px;
	border-collapse:collapse;
	margin-top:15px;
}

.narrow #single-receipt{
	font-size:16px;
}

#receipt-header {
	background-color: rgb(221, 221, 221);
}

#receipt-title {
	font-size: 26px;
	font-weight:bold;
}

#receipt-contragent {
	text-align:center;
	line-height: 26px;
}

#receipt-number {
	font-style:italic;
	float:right;
	margin-right:10px;
	display:inline-table;
	margin-top:9px;
}

#receipt-payments {
	margin:2px 0px 2px 13px;
	width:140px;
}

#receipt-paid, #receipt-change{
	line-height:26px;
}

#receipt-total {
	text-align:right;
	height:100%;
	margin-right:15px;
}

#receipt-total-sum {
	margin-top: 1px;
	font-size: 26px;
	font-weight:bold;
}

.info-right {
	float:right;
	font-style:italic;
}

#total-label {
	margin-top:2px;
	display:block;
}

#receipt-details-th {
	background-color: rgb(200, 200, 200);
	border: 1px solid #000;
}

.receipt-sale {
	background-color: #f1f1f1;
}

#receipt-details-form {
	width: 522px;
	margin-top:15px;
}

#single-receipt {
	width:522px;
}

#single-receipt .formError{
	width:398px;
}
 
.receipt-client {
	background-color:#FFEEDD;
}
.receipt-quantity,.receipt-price, .receipt-amount{
	text-align:right;
}
.buttonForm, .actionBtn, .clientBtn, .webscan{
	height:40px !important;
	margin-right:16px !important;
	font-size:18px !important;
	color:white !important;
	background-color:#999999 !important;
}

.buttons-row input{
	height:40px !important;
	line-height:37px;
	padding:0 5px;
}

input,select {
	font-size:20px;
}

#incBtn, #decBtn {
	width:40px ;
}

.button_hover {
	background-color:rgb(175, 175, 175) !important;
}

.submit_hover {
	background-color:pink !important;
}

.buttons-row {
	margin-top:15px;
}

input.error {
   border:1px dotted red;
}

.disabledSubmit {
	background-color:green !important;
}

.receipt-discount {
	background-color:#ffffe0;
}

.receipt-payment {
	background-color:#d1ffda;
}

#receipt-info{
	width:100%;
	float:left;
	background-color:rgb(221,221,221);
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
}

.receipt-discount-td {
	font-style:italic;
	color:darkgreen;
}

#money-info {
	text-align:center;
}

#error-place {
	color:darkred;
	font-style:italic;
}
.buttons-row{
	clear:both;
	float:left;
}

#receipt-details-form .button{
	width:119px;
	float:left;
	margin-left:15px !important;
	margin-right:0 !important;
}

.buttons-row{
	margin-left:-15px !important;
}

.ean-text{
	width:14.1em;
}

.narrow .ean-text{
	width:15.2em;
}
	
/*скролиране на таблица*/
table.scrollable{
	width:100%;
	border:none !important;
	border-collapse:collapse;
}

table.scrollable td{
	border:1px solid #000;
	border-bottom:none;
	border-right:none;
	padding: 2px 15px 0;
	vertical-align:middle;
	height:24px;
}
	
table.scrollable tr:first-child td{
	border-top:none;
}

div.scrollWrapper{
  float:left;
  width:521px;
  1max-height:269px;
  overflow-y:auto;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  margin-bottom:0px;
  
}
.narrow div.scrollWrapper{
	max-height:215px;
}

.printing div.scrollWrapper{
		max-height:none;
		overflow:visible;
}

.btnNew, .btnEnd{
		background-color:rgb(153, 153, 255) !important;
}

@media print{
	div.scrollWrapper{
		max-height:none;
		overflow:visible;
		border:1px solid #000;
		border-left:none;
		border-right:none;
		width:522px;
	}
	
	table.scrollable td{
		border:1px solid #000;
	}
	
	#receipt-info{
		margin-top:-1px;
	}
}

#pos-products {
	position:absolute;
	bottom:0px;
	left:550px;
	padding:7px;
	width: 500px;
	height:368px;
	overflow-y:auto;
}

.pos-product{
	position:relative;
	background-color:#F1F1F1;
	width: 90px;
	height: 90px;
	cursor: pointer;
	display:inline-block;
	float:left;
	margin-right:10px;
	margin-top:10px;
	box-shadow:0px 1px 3px rgba(0,0,0,0.8);
}

.pos-product:hover, .pos-product:hover img{
	box-shadow:0px 0px 6px rgba(0,0,0,0.8);
}

.pos-product-title {
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:12px;
	max-height:30px;
	display:block;
	overflow:hidden;
	text-align:center;
	color:white;
	width:95%;
	text-shadow:1px 0px 2px #000000;
	z-index:2;
	font-weight:bold;
	padding:2px;
	background:rgba(0,0,0,0.6);
}

.pos-product-title:hover {
	max-height:88px;
}

.pos-product-price {
	position:absolute;
	left:2px;
	top:2px;
	width:60px;
	text-align:center;
	height:15px;
	font-size:12px;
	display:block;
	color:white;
	text-shadow:1px 0px 1px #000000;
	z-index:2;
	font-weight:bold;
	padding:1px 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:rgba(242, 136, 145, 0.9);
}

.pos-product-base-currency{
	font-size:9px;
	color: black;
	text-shadow:0px 0px 1px #FFFFFF;
	font-weight:bold;
}

.pos-product-category {
	line-height: 30px;
	margin-right:8px;
	padding:5px 15px;
	max-width:90px;
	color:black;
	background-color:rgb(221,221,221);
	font-size:12px;
	text-align:center;
	height:30px;
	bottom:0px;
	display:inline-block;
	vertical-align:middle;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:11px;
}

.pos-span-name {
	display:inline-block;
	vertical-align:middle;
	line-height: normal;  
}

.pos-product-category:hover, .pos-product-category.active {
	background-color:rgb(240,240,240);
	border: 1px solid rgba(0,0,0,0.7);
	cursor: pointer;
}

#pos-producy-categories {
	position:absolute;
	bottom:385px;
	left:550px;
	padding:5px;
	width: 500px;
	height:30px;
}
#single-receipt-holder {
	position:relative;
}

.disabledBtn {
	background-color:#ECEBEA !important;
	color:#969494 !important;
	border:1px solid #C9C7C7 !important;
	cursor: pointer;
}
