#receipt-table {
	text-indent:8px;
	width:470px;
	border-collapse:collapse;
	margin-top:15px;
}

#receipt-header {
	background-color: rgb(221, 221, 221);
}

#receipt-title {
	font-size: 26px;
	font-weight:bold;
}

#receipt-contragent {
	float:right;
	margin-top: 10px;
	margin-right:5px;
}

#receipt-number {
	font-style:italic;	
}

#receipt-payments {
	width:320px;
	float:right;
	text-indent:10px;
}

#receipt-paid, #receipt-change{
	float:right;
	width:48%;
	line-height:27px;
}

#receipt-total {
	float:left;
	width:50%;
	height:100%;
}

#receipt-total-sum {
	margin-top: 1px;
	font-size: 26px;
	font-weight:bold;
}

.info-right {
	float:right;
	margin-right:5px;
}

#total-label {
	margin-top:2px;
	display:block;
}

#receipt-details-th {
	background-color: rgb(200, 200, 200);
}

.receipt-sale {
	background-color: #f1f1f1;
}

#receipt-details-form {
	width: 470px;
	margin-top:15px;
}


#receipt-details-form-table {
	
}

#single-receipt {
	width:470px;
}

#single-receipt .formError{
	width:398px;
 }
 
.receipt-client {
	background-color:#ddecfc;
}

.buttonForm, .actionBtn, .clientBtn, .webscan{
	height:35px !important;
	margin-right:16px !important;
	font-size:18px !important;
	color:white !important;
	background-color:#999999 !important;
}

input,select {
	font-size:20px;
}

#incBtn, #decBtn {
	width:40px ;
}

.button_hover {
	background-color:rgb(175, 175, 175) !important;
}

.submit_hover {
	background-color:pink !important;
}

.subBtn {

}
.buttons-row {
	margin-top:15px;
}

input.error {
   border:1px dotted red;
}

.disabledSubmit {
	background-color:green !important;
}

.receipt-discount {
	background-color:#e1f8e1;
}

.receipt-payment {
	background-color:#FFFFCC;
}

.receipt-amount {

}

#receipt-info{
	width:100%;
	float:left;
	background-color:rgb(221,221,221);
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
}

.receipt-discount-td {
	font-style:italic;
	color:darkgreen;
}

#money-info {
	text-align:center;
}

#error-place {
	color:darkred;
	font-style:italic;
}


/*скролиране на таблица*/
table.scrollable{
	width:100%;
	border:none !important;
	border-collapse:collapse;
}

table.scrollable td{
	border:1px solid #000;
	border-bottom:none;
	border-right:none;
	padding: 2px 15px 0;
	vertical-align:middle;
	height:28px;
}
	
table.scrollable tr:first-child td{
	border-top:none;
}

div.scrollWrapper{
  float:left;
  width:469px;
  max-height:185px;
  overflow-y:auto;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  margin-bottom:0px;
  
}

@media print{
	div.scrollWrapper{
		max-height:auto;
		overflow:visible;
		border:1px solid #000;
		border-left:none;
		width:620px;
	}
	table.scrollable td{
		border:1px solid #000;
	}
}

