@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

#receipt-table {
	width:100%;
	background: #fff;
	
	.rejected-receipt {
		background-color:rgba(204,102,102,.8);
	}
}

#single-receipt-holder {
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
}

#single-receipt-holder.fixedHolder {
	position: fixed;
	left: 0;
	width: 526px;
	height: 100%;
	background: #12008a;
	box-sizing: border-box;
}

#single-receipt-holder.blockHolder {
	box-sizing: border-box;
}


.result-content {
	background: #ccc;

	box-sizing: border-box;
	&.fixedPosition {
		position: fixed;
		top: 5%;
		right: 0;
		padding:15px 15px 5px 15px;
		overflow-y: auto;
	}
	&.relativePosition {

	}
	.receiptRow.navigable {
		border: 3px solid transparent;
		&.disabledBtn , &.disabledBtn .priceText{
			color: #999 !important;
		}
		&.selected {
			border: 3px solid #080f56;
			box-shadow: 0px 0px 3px rgba(0,0,250,1) !important;
		}
	}
	
	.receiptRow.disabledBtn {
		cursor:auto !important;
	}	
}



.tools-content {
	padding: 20px 15px;
	box-sizing: border-box;
}

.scrolling-vertical{
	overflow-y:auto;
	overflow-x:hidden;
}
.receiptHeader {
	padding: 10px 15px;
	background: #eee;
	font-size: 1.2em;
}
.revertCaption {
	color: #cc0000;
	font-weight: bold;
}
.contragentName {
	margin: 0 0 10px 5px;
	font-weight: bold;
}
.gray-title {
	color: #999;
}

.headerContent {
	padding:12px 0 ;
	background: #333;
	box-sizing: border-box;
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	span {
		font-size: 1.2em;
		margin-left: 15px;
		margin-right: 15px;
		color: #fff;
		display: inline-block;
	}
	.specialLink a {
		color: #ccc !important;
		&:hover {
			text-decoration: underline;
		}
	}
}

.receipt-header {
	padding: 10px;
	.receipt-title {
		font-size: 1.5em;
		font-weight:bold;
	}
	.contragentRow {
		margin-top: 3px;
	}
}

.noResult {
	padding: 10px;
	font-size:1.1em;
}
.narrow #receipt-title {
    font-size: 1.1em;
}

.portalLink {
    float: right;
	margin-right: 25px;
	margin-top: -20px;
    img {
       max-height: 30px;
    }
}

.logout {
	float: right;
}
.onlyPrint {
	display: none;
}
.terminal-revert-id a {
	color: #CC0000 ;
}

#single-receipt .receiptPayment {
	font-size: 1.1em;
	display: block;
	padding: 10px 15px;
	color: blue;
	div {
		font-weight: bold;
	}
}

.reject-btn {
	margin-left: 5px;
}

.receiptRow {
	display: block;
	padding: 10px 15px;
	cursor: pointer;
	border-left: 6px solid transparent;
	.receiptProduct {
		font-weight: bold;
		font-size: 1.1em;
	}
	.discountText {
		color:blue;
	}
	
	.surchargeText {
		color:red;
	}
}
.priceText {
	color: #000;
}
.indent {
	padding-left: 15px;
}

#receipt-table .highlighted {
	background: #fefead !important;
	border-left: 6px solid #f70026 ;
}

.num-keyboard {
	margin-left: -8px;
}
.numPad, .numBack{
	min-width: 60px;
	height: 60px;
	margin: 4px !important;
	text-align: center;
	color:white !important;
	border-radius: 3px !important;
	background: #303030 !important;
	border:#333 1px solid !important;
	font-size:1.5em !important;
	&:hover {
		border:#111 1px solid !important;
		background: #505050 !important;
		box-shadow: inset 0 0 50px #000;
	}
}
.keyboardText {
	width: 100%;
	height: 36px !important;
	padding: 10px !important;
	border: 1px solid #999 !important;
	background: #fff !important;
	font-size: 2em !important ;
	margin-bottom: 20px !important;

}
#modalContent .keyboard {
	display: none;
	&#keyboard-lat {
		display: block;
	}
}
.productModal {
	margin-left: 20px;
	line-height: 1.6em;
}
.keyboard-btn{
	background: #303030 !important;
	border-bottom: #000 2px solid !important;
	border-top: 2px #303030 solid !important;
	color: #fff !important;
	min-width: 67px;
	margin: 2px !important;
	border-radius: 4px !important;
	font-size: 2em !important;
	padding: 10px 13px !important;
	&.keyboard-space-btn {
		min-width: 140px;
	}
	&:hover, &.pressed {
		border-top: #000 2px solid !important;
		border-bottom: #303030 2px solid !important;
		background: #505050 !important;
		box-shadow: inset 0 0 50px #000;
	}
}
#keyboard-num {
	display: none;
	float: left;
	margin-right: -5px;
}
.keyboard-row{
	clear:both;
	padding: 2px 0;
	white-space: nowrap;
}

.keyboard-change-btn{
	background-color: #666 !important;
	border-bottom: #505050 2px solid !important;
    border-top: 2px #505050 solid !important;
	&:hover {
		background: #505050 !important;
		box-shadow: inset 0 0 50px #444 !important;
	}
}
#tools-holder .buttons {
	float: left;
	width: 225px;
	 a, div {
		display: inline-block;
		float: left;
	}
}
.printReceiptBtn {
	font-size: 1.1em !important;
}
.operationHolder {
	display: inline-block;
	position: relative;
	margin: 4px 0 4px 14px;
	border: 1px solid #999;
	background: #ccc;
	padding: 14px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	&.btnWithWarning {
		background: rgba(189, 106, 0, 0.85);
		&.revert {
			background-color: #dd2d21;
		}
	}
	.buttonOverlay {
		display: none;
		position: absolute;
		width: 100%;
		height: 44%;
		left: 0;
		top:0;
		background: rgba(0,0,0,0.6);
		color: #fff;
		text-align: center;
		font-size: 1em !important;
		font-weight: bold;
		box-sizing: border-box;

	}
	&:hover {
		opacity: 0.9;
	}
	&.active {
		background-color: #f7f749;
	}
	
	&.disabledBtn{
		opacity: 0.5;
		cursor:auto;
	}
}

.textShortcut {
	line-height: 150%;
	padding-left: 5px;
	font-size: 1em;
}
.imageCell img {
	width: 34px;
	height: 34px;
}
.half td {
	height: 45px;
}
.table-bordered {
	td, th {
		border: 1px solid #ccc;
		padding: 3px;
		font-size: 0.95em;
	}
}
.flash {
	transition: all  linear;
	transition-duration: 1s;
	span {
		transition: all  linear;
		transition-duration: 1s;
	}
}

.updatedDiv {
	color: red !important;
	span {
		color: red !important;
	}
}

.shortcuts {
	span {
		position: relative;
		top: -2px;
		text-align: center;
		padding: 8px 4px;
		border: 1px solid #ccc;
		background: #ddd;
		font-size: 1em;
		margin: 2px 0px 3px 10px;
		display: block;
		font-weight: bold;
		white-space: nowrap;
	}
}
.title {
	font-weight: bold;
	vertical-align: bottom;
	padding-bottom: 10px;
}
.half {
	width:48%;
	display: table-cell;
}

#result-holder.fixedPosition .withTabs {
	margin-top: 60px;
	overflow-y: scroll;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	::-webkit-scrollbar {
		height: 10px;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #eee;
	}
	/* Track */
	::-webkit-scrollbar-track {
		background: #333;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #ccc;
		position: relative;
		border: 1px solid #666;
		border-radius: 5px;
	}
}
.fixedPosition .withTabs .scroll-holder {
	margin-top: 0;
	margin-left: -15px;
	background: #333;
	position: fixed;
	top:44px;
	height: 62px;
	z-index: 100;
}
.relativePosition {
	.contentHolder {
		padding-top: 20px;
	}
	.scroll-holder {
		padding-bottom: 10px;
	}
}

.withTabs .scroll-holder {
	overflow-x: auto;
	display: block;
}

.withTabs .scroll-holder .tabHolder {
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	margin: 10px 0 7px;
	li {
		user-select: none;
		display: inline-block;
		float: left;
		border-color: transparent;
		margin: 0 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	&:after {
		clear: both;
	}
}


.narrow #receiptnew {
	color: #333 !important;
}

.tabHolder {
	li {
		list-style: none;
		padding: 7px 10px;
		border: 1px solid #ccc;
		cursor: pointer;
		color: #707a8c;
		font-weight: bold;
		text-align: center !important;
		background: #ddd !important;
		border-radius: 3px;
		&.active, &:hover {
			background: #fefead  !important;
			color: #000;
		}
	}
}
.contentHolder {
	clear: both;
	.content {
		display: none;
	}
}
.grid {
	display: grid;
	align-items: center;
	text-align: center;
	grid-gap: 0.8rem;
	margin-bottom:10px;
}
.posResultContragent {
	justify-content: center;
	align-content: center;
	border-radius:3px;
	height:70px;
	display:flex;
	vertical-align:middle;
	flex-direction: column;
}

.posBtns {
	justify-content: center;
	align-content: center;
	border-radius:3px;
	height:70px;
	display:flex;
	vertical-align:middle;
	flex-direction: column;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 20px;
	color:#fff;
	font-size:1.3em;
	text-align:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFF !important;
	font-weight: bold;
	border: 1px solid #666;
	border-radius: 3px;
	box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset, 2px 2px 3px rgba(0,0,0,0.1);
	position: relative;
	opacity: 0.7;
	&.imgDiv {
		padding-left: 50px !important;
		text-align: left;
		img {
			position: absolute;
			left: 10px;
			top: 15px;
		}
		&:focus, &.selected {
			padding-left: 48px !important;
			img {
				left: 8px;
				top: 13px;
			}
		}

	}

	&.printReceiptBtn {
		justify-content: center;
		flex-direction: row;
		align-content: center;
		border-radius:3px;
		height:70px;
		display:flex;
		vertical-align:middle;
		font-size:1.2em;
		margin: 0 !important;
		background: #b7e2f3 !important;
		color: #333 !important;
		&.largeBtn {
			width: 32.1% !important;
		}
	}

	&.closeBtn {
		border-radius:3px;
		height:70px;
		display:flex;
		font-size:1.3em;
		margin: 0 !important;
		background: #b7e2f3 !important;
		color: #333 !important;
		&.largeBtn {
			width: 32.1% !important;
		}
	}

	&.pos-notes {
		font-size: 1.1em;
	}
	&.payment {
		background: #b7e2f3 !important;
		color: #333 !important;
	}
	.endTooltip {
		position: absolute !important;
		top: 1px !important;
		right: 3px !important;
	}
	&:focus, &.selected {
		box-shadow: 0px 0px 15px rgba(0,0,250,1) !important;
		border: 3px solid  #080f56;
		padding: 8px 18px !important;
		opacity: 1;
	}
	&.revertReceiptBtn {
		color: #8c1919 !important;
	}
	&#receiptnew , &#revertReceiptBtn{
		font-size:1.3em;
		background: #e6e6e6;
	}
	.nowrap {
		font-size: 0.9em;
	}
	&.deleteRow {
		background: #8c1919 !important;
		color: #FFF !important;
	}

	&.reload{
		color: #000 !important;
		background: #ddd !important;
	}

	&.locationBtn{
		color: #fff !important;
		font-size: 1em;
		background: #374bbe !important;

		&.current {
			background: #53a163 !important;
		}
	}
}

.differentPosBtn {
	text-decoration: underline !important;
}

.pos-notes{
	color: #333 !important;
	&.newNoteBtn {
		background-color: rgba(187, 255, 255, 1);
	}
	&.state-waiting {
		background-color: rgba(210, 255, 120, 1);
	}
	&.state-closed {
		background-color: rgba(230, 230, 230, 1);
	}
	&.state-draft {
		background-color: rgba(187, 255, 255, 1);
	}
	&.revertReceipt {
		color: #a00000 !important;
	}
}

.resultPack {
	background: #feff6b;
	color: #333 !important;

}
.resultPrice {
	background: #499BC0;

}
.contragentLinkBtns, .newCompanyBtn {
	background: #a162ca;
}
.subBatch {
	font-weight:bold;
	font-style:italic;
	color: green !important;
	margin-left: 10px;
}

.resultBatch {
	color: green !important;
	background: #e6e9b9;

	&.current {
		background-color: #8abf95 !important;
	}
}

.discountBtn {
	background: #FF9C3A;
	color: #333 !important;

	&.current {
		background-color: #8abf95 !important;
	}
}
.textResult {
	color: #FFF !important;
	background: #b163cc;

	&.emptyText {
		background: #37103a !important;
	}
}

.disabledBtn.posBtns, .disabledBtn.productRow {
	background: #999 !important;
	color: #ccc !important;
	cursor: auto !important;
}
.receiptDateBlock {
	display: block;
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.divider {
	clear: both;
	margin-bottom: 10px;
	border: 1px solid #999;
	background: #666;
	padding: 10px;
	color: #fff !important;
	a , span {
		color: #fff !important;
	}

}

.posResultContragent {
	border: 2px solid #999;
	background: #f1f1f1;
	padding: 10px;
	box-sizing: border-box;
	color: #333 !important;
	font-size: 1.1em;
	&.selected {
		padding: 9px !important;
	}
}

.close-btn .button {
	font-size: 1.07em;
}

.is-reverted {
	.receipt-quantity, .receipt-info-right {
		color: #c00;
	}
	.receipt-payment {
		background: #feb7b7;
	}
}

.large-field{
	clear: both;
	width: 100%;
	height: 2.2em !important;
	font-size: 1.2em !important;
	border: 1px solid #aaa;
	margin: 0 0 10px !important;
	border-radius: 4px !important;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.25), 2px 2px 2px rgba(0,0,0,0.2);
}

.narrow .large-field{
    height:1.8em;
}

.pos-photo-field{
    width: 64px;
	height: 64px;
	background: #fff;
	border: 1px solid #000;
	display: inline-block;
	margin-right: 10px;
	img {
		width: 64px;
		max-height: 64px;
	}
}

.pos-price-field {
	font-size: 1.05em;
}

.measureResult {
	color:#888;
}

.element {
	text-align: left;
	padding: 9px;
	box-sizing: border-box;
	border: 2px solid #999;
	border-radius: 5px;
	height: 113px;
	background: #f1f1f1;
	user-select: none;
	opacity: 0.7;
	&:focus, &.selected {
		box-shadow: 0px 0px 15px rgba(0,0,250,1) !important;
		border: 3px solid  #080f56;
		padding: 8px !important;
		opacity: 1;
	}
	.pos-title {
		text-indent: -75px;
		height: 72px;
		line-height: 130%;
	}
	.pos-photo-field {
		margin-top: 22px;
	}
	.pos-add-res-btn{
		color:#333;
		height: 73px;
	}
	.pos-price-field {
		float: right;
	}
	&.notSellable {
		background-color: #aaa;
		color: #444;
	}
}

.result-string {
	margin-bottom: 10px;
}

#pos-products {
	margin-top:5px;
	padding:0 4px;
}
.wide #pos-products {
	overflow-y: auto;
}
.pos-product{
	border-radius: 3px;
	position:relative;
	background-color:#F1F1F1;
	width: 120px;
	height: 120px;
	cursor: pointer;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
	box-shadow:0px 1px 3px rgba(0,0,0,0.8);
	&:focus, &.selected {
		box-shadow: 0px 0px 3px rgba(0,0,250,1) !important;
		outline: 3px solid #080f56;
		border: none;
	}
}

.narrow .pos-product{
	width: 80px;
	height: 80px;
	margin:3px ;
}
.narrow .pos-product img{
	width: 80px;
	height: 80px;
}
.pos-product img{
	border-radius: 3px;
}
.pos-product:hover{
	box-shadow:0px 0px 6px rgba(0,0,0,0.8);
}

.paymentNotRequiredLabel {
	text-transform: uppercase;
	padding-top:5px;
	padding-bottom:5px;
	font-size:2.2em;
	float:right;
}

.pos-product-title {
	border-radius: 0 0 3px 3px;
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:0.8em;
	max-height:13px;
	display:block;
	overflow:hidden;
	text-align:center;
	color:white;
	width:95%;
	text-shadow:1px 0px 2px #000000;
	z-index:2;
	font-weight:bold;
	padding:2px;
	background:#000;
	background:rgba(0,0,0,0.6);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.narrow .pos-product-title {
	max-height:14px;
}

.pos-product-title:hover {
	max-height:88px;
}

.receiptResultReturnedAmount {
	color:red;
}
 .receiptResultAmount {
 	margin-left: 15px;
 }

 .storeQuantityInStock {
 	font-size:0.9em;
 }

 .chooseStoreBtn {
 	font-size:1.05em;
 	background: #374BBE;
	color: #fff !important;
	 .quiet {
		 color: #fff !important;
	 }

	&.current {
		background-color: #53a163;
		cursor:auto;
	}
 }

.storeQuantityInStock span.red {
	color: #efa9a9 !important;
}

.pos-product-price {
	position:absolute;
	left:0px;
	top:0px;
	height:15px;
	font-size:0.7em;
	display:block;
	color:#fff;
	text-shadow:0px 0px 3px #000;
	z-index:2;
	font-weight:bold;
	padding:1px 2px;
	background:#000;
	background: rgba(0,0,0,0.5);
}

.pos-product-base-currency{
	font-size:0.75em;
	color: black;
	text-shadow:0px 0px 1px #FFFFFF;
	font-weight:bold;
}

.modalContent {
	display: none;
}

.modalReceipt {
	width: 560px;
	margin: 0 auto;
	.pos-del-btn {
		display: none;
	}
}

.imagePreview {
	box-shadow: 0 0 5px #333;
	padding: 5px;
	margin-right: 30px;
}
.ui-widget-overlay {
	background: rgba(0,0,0,0.5) !important;
	opacity: 1 !important;
}

.enlargeProductBtn, .printBtn {
	background-position: center;
}

table.total {
	width:100%;
}

table.total th{
	font-weight:normal;
	text-align: right;
	padding: 2px 15px;
}

table.total td{
	text-align:right;
	font-weight:bold;
	padding: 2px 15px;
}

td.totalLabel {
	font-size:1.9em;
	font-weight:bold;
}

th.paidCaption, td.paidCaption {
	color:blue;
}

td.paidCaption, td.changePositive, td.changeNegative {
	font-size:1.4em;
}

th.changePositive, td.changePositive {
	color:green;
	white-space: nowrap;
}

th.changeNegative, td.changeNegative {
	color:red;
	white-space: nowrap;
}

th.revertCaption, td.revertCaption {
	color:red;
	text-align: center !important;
}

.notInStock {
	color:darkred;
}
.not-in-stock {
	padding: 1px 5px;
	border-radius: 5px;
	color: #840000;
	font-size: 16px;
	border: 1px solid #b70000;
	background-color: #ff5b5b;
	font-weight: bold;
	line-height: 120%;
	height: 20px;
	display: inline-block;
	position: relative;
	top: -1px;
}

.actionBtn {
	height: 40px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 30px !important;
	color: white;
	font-size: 1.1em;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white !important;
	font-weight: bold;
	border: 1px solid #666666;
	border-radius: 3px;
	box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset, 2px 2px 3px rgba(0, 0, 0, 0.1);
	&.offBtn {
		background-color: #cc6666 !important;
	}
	&.onBtn {
		background-color: #53a163 !important;
	}
}

.noFoundInGroup {
	padding: 5px 0 15px 10px;
}

/*media queries за клавиатурата*/
@media handheld, only screen and (max-width: 1600px) {
	.headerContent {
		font-size: 0.85em !important;
	}
}

@media handheld, only screen and (max-width: 1400px) {
	.headerContent {
		font-size: 0.8em !important;
	}
}

@media handheld, only screen and (max-width: 1280px) {
	.buttons {
		width: 100% !important;
		.operationHolder {
			margin: 7px 11px 7px 11px;
		}
	}
}

@media handheld, only screen and (max-width: 1200px) {
	.headerContent {
		font-size: 0.75em !important;
	}
	#receipt-table {
		font-size: 0.8em;
	}
	#single-receipt-holder {
		float: none;
	}
	.withTabs {
		margin-top: 0 !important;
	}
	.oneRow .operationHolder {
		margin: 5px;
	}
	.receiptRow {
		padding: 5px;
		border-top: 1px solid #eee;
	}
	.contentHolder {
		padding: 10px;
	}
	#keyboard-num {
		display: none;
	}
	.scrolling-vertical {
		max-height: 420px;
	}
	.productModal {
		margin: 0;
	}
	.imagePreview {
		float: none;
		margin:  0 0 10px 0;
		max-width: 400px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.ui-dialog-content {
		padding: 10px !important;
	}
	.contentHolderResults {
		padding: 15px;
	}
}

@media handheld, only screen and (max-width: 1024px) {
	.numPad {
		width: 60px !important;
		height: 60px !important;
		margin: 8px 0 8px 18px; !important;
	}
	.half {
		width: 100%;
		display: block;
	}

}
@media handheld, only screen and (max-width: 800px) {
	.oneRow .operationHolder {
		margin: 4px 2px !important;
	}
}
@media handheld, only screen and (max-width: 640px) {

}


@media handheld, only screen and (max-width: 360px) {
	.operationHolder {
		margin: 3px !important;
		width: 49px !important;
		height: 49px !important;
		padding: 8px !important;
	}
}

.printing {
	.onlyPrint {
		display: block;
	}
	.red {
		color:black !important;
	}

	.discountText {
		color:black !important;
	}

	#receipt-table .highlighted {
		border-left: 0px;
	}

	.paidCaption, .changePositive, .changeNegative {
		color:black !important;
	}
	#single-receipt-holder {
		background: #fff !important;
	}
	.receiptHeader {
		text-align: center !important;
	}
}

