@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
.wide #receipt-table,
.headerContent {
  font-family: 'Fira Mono', monospace !important;
  font-size: 0.9em; }

.wide #result-holder {
  background: #12008a; }

.highlighted {
  border-color: #f70026 !important; }

  .posBtns:focus,
  .posBtns.selected {
    box-shadow: 0px 0px 3px #f95353 !important;
    border: 3px solid #f70026;
    padding: 9px !important; }

  .element:focus,
  .element.selected {
    box-shadow: 0px 0px 3px #f95353 !important;
    border: 3px solid #f70026 !important;
    border: none; }

  .wide .result-content .receiptRow {
    border: 3px solid rgba(0, 0, 0, 0) !important; }
    .wide .result-content .receiptRow.disabledBtn,
    .wide .result-content .receiptRow.disabledBtn .priceText,
    .wide .result-content .receiptRow.disabledBtn .quiet span {
      color: #444444 !important; }
    .wide .result-content .receiptRow.selected {
      box-shadow: 0px 0px 3px #f95353 !important;
      border: 3px solid #f70026 !important; }

.resultText,
#result-holder .receiptRow,
.priceText {
  color: white; }

