.ajax-form-holder img{
	cursor: pointer;
}

.ajax-form-holder {
	position: relative;
}

.ajax-form {
	position: absolute;
	top: -10px;
	right: 15px;
	text-align: left;
}

.wide #packWrapper .ajax-form .vertical .formSection {
	min-width: 200px;
}
.ajax-form .formFields td{
	border: none;
}

.doc_Containers table.listTable td  .ajax-form td {
	vertical-align: middle;
}
.ui-dialog {
	padding: 0 !important;
}
.ui-dialog-titlebar {
	display: none;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
	z-index: 100;
}
.inventoryNoteShowAddForm {
	cursor: pointer;
}
.clearfix21.vertical .formTable{
	margin: 0 auto;
}
.ui-widget {
	font-size: 1em !important;
}

.ui-widget .toolbar input {
	font-size: 0.85em !important;
}
.ui-widget-content {
	background: none !important;
	border: none !important;
}

.formTitle, .formTable {
	width: 100%;
}

.ui-widget-overlay {
	z-index: 20 !important;
}
.ui-dialog {
	z-index: 100;
}