.ajax-form-holder img{
	cursor: pointer;
}

.ajax-form-holder {
	position: relative;
}

.ajax-form {
	position: absolute;
	top: -10px;
	right: 15px;
	text-align: left;
}

.wide #packWrapper .ajax-form .vertical .formSection {
	min-width: 200px;
}
.ajax-form .formFields td{
	border: none;
}

.doc_Containers table.listTable td  .ajax-form td {
	vertical-align: middle;
}
.ui-dialog {
	padding: 0 !important;
}
.ui-dialog-titlebar {
	display: none;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
	z-index: 100;
}
.inventoryNoteShowAddForm {
	cursor: pointer;
}
.clearfix21.vertical .formTable{
	margin: 0 auto;
}
.ui-widget {
	font-size: 1em !important;
}

.ui-widget .toolbar input {
	font-size: 0.85em !important;
}
.ui-widget-content {
	background: none !important;
	border: none !important;
}
.formTable { 
	width: 400px;	
}
.formTitle {
	width: 100%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.ui-widget-overlay {
	z-index: 20 !important;
}
.ui-dialog {
	z-index: 100;
}

.inventoryNoteInsertForm .clearfix21.vertical {
	margin-top: 10px !important;
}

.table-border {
	border: 1px solid #ccc;
}

.table-border td {
	padding: 15px 10px 5px;
	vertical-align: top;
}

.ui-widget-overlay {
	background: black !important;
}

.note-batch-product-name {
	  color: #888888;
	  font-size:0.8em;
}

.note-product-batch {
	font-style:italic;
	font-size:0.9em;
}

.note-product-row-no-quantity {
	background-color:#EEEEEE;
	color: #AAAAAA;
}
