.invInfo{
	padding-top:5px;
	font-size: 0.85em;
}

.invoiceTitle {
	font-size:16px;
	font-weight:bold;
}

#invoiceInfo{
	padding-top:3px;
	padding-bottom:3px;
}

.info-values{
	float:right;
}

.invoice-vat-info{
	padding-top: 10px; 
	text-align: right;
}

#say-words{
	text-align:center;
	vertical-align:middle !important;
	width:50%;
}

.info-right{
	text-align:right;
}

#invoice-header{
	width:100%;
	overflow:hidden;
	padding-top:20px;
	padding-bottom:15px;
	min-height:200px;
}

#titleHolder{
	float:left;
	display:inline-block;
	width:53%;
}

#contragent-data{
	float:right;
	display:inline-block;
	width:47%;
}

#invoiceTitle2{
	font-size:22px;
	font-weight:bold;
}

.subtitle-text{
	margin-left:10px;
	font-weight:bold;
}

.title-subInfo{
	padding-top:5px;
}

.original{
	color:#666;
	font-size: 1.3em;
	font-weight:bold;
}

#invType{
	text-transform:uppercase;
}

#contragent-label{
	font-weight:bold;
}

.contragent-info{
	padding-top:3px;
}

.contragent-vat{
	padding-top:20px;
	font-size:14px;
	font-weight:bold;
}

#origin-title {
	padding-top:5px;
}