#quot-table{
	margin-top:10px;
	width:92%;
	margin-left:30px;
	border-collapse:collapse;
	margin-bottom:0px;
}

.narrow #quot-table{
	margin-left:0;
}

.narrow .document{
	max-width:430px;
}

.quote-title{
	margin-top:12px;
	font-size:32px;
	font-weight:bold;
	color:#636363;
	font-family: impact;
}

.title-info {
	margin:0 !important;
}

.receiver{
	color:#636363;
	text-decoration:underline;
}

.receiver-block{
	margin-top:12px;
	min-height:170px;
}

#condition-title{
	font-weight:bold;
	text-decoration:underline;
}

#condition-title, #conditions, #quote-username{
	margin-left:30px;
	margin-top:20px;
}

#sign-place{
	display:inline-block;
	width:150px;
	border-bottom:1px dotted #000;
	margin-left:8px;
	margin-right:15px;
}

.narrow .sign-user{
	display:block;
	float:right;
	margin-right:20px;
}

#conditions{
	margin-top:5px;
}

#details-holder, #optional-holder{
	margin-left:30px;
	padding-top:0px;
}

.narrow #details-holder, .narrow #optional-holder, .narrow #condition-title, 
.narrow #conditions, .narrow .document .listToolbar,.narrow .document .listToolbar .toolbar{
	margin-left:0;
}

.narrow .products-table{
	font-size:0.9em;
	width:100%;
	max-width:600px;
	min-width:400px;
}
#details-holder p, #optional-holder p{
	margin-bottom:10px;
	font-weight:bold;
}

#total-td-label{
	text-align:right;
	padding-right:8px;
	vertical-align:middle !important;
	border-bottom:1px solid transparent !important;
	border-left:1px solid transparent !important;
}

.products-table{
	border:1px solid #ccc;
	width:95%;
	border-collapse:collapse;
}

.products-table th{
	border:1px solid #ccc;
	background-color:#eee;
}

.products-table td{
	border:1px solid #ccc;
}

.doc_Containers table.listTable td.misc-info{
	vertical-align:middle !important;
}

.discount {
	color:green;
	margin-top:5px
}

.rowtools{
	display:table-cell !important;
	vertical-align:top;
	padding-right:3px;
}

.tc{
	display:table-cell;
}

.quiantity-misc{
	padding-top:5px;
}

.document .listToolbar{
	margin-left:25px;
}

.other-tools {
	margin-left:20px;
}

#add-others{
    position: relative;
    top: 2px;
    margin-left:5px;
}

.page-break{
	display: none;
}

#quot-title-td{
	width:55%;
}

@media print{
	.document{
		padding:0px;
		width:92%;
	}
	
	#quot-table{
		margin-top:0px;
	}
	
	#quot-table, #condition-title, #conditions,#quote-username, #details-holder, #optional-holder{
		margin-left:0px;
	}
	
	.products-table{
		width:100%;
	}
	
	.page-break	{ 
		display: block; 
		page-break-before: always;
	}
	
	#quot-title-td{
		width:60%;
	}
}
