#survey-header {
}

.answers {
	list-style:none;
	margin-top:5px !important;
	margin-bottom:5px !important;
	margin-left:40px !important;
	padding-left:0px;
}

.question-head {
	margin-left:40px;
	margin-top:15px;
}

#survey_title {
	color:darkred;
	font-weight:bold;
}

.summarise-answers {
	margin-top:0px !important;
	margin-bottom:0px !important;
}

#summary{
	margin-top:0px !important;
	margin-bottom:0px !important;
}