#survey-header {
	margin-left:50px;
	margin-top:15px;
}

#survey-title{
	color:darkblue;
	font-weight:bold;
}

.answers {
	list-style:none;
	margin-top:5px !important;
	margin-bottom:5px !important;
	padding-left:0px;
}

.question-head {
	margin-left:40px;
	margin-bottom:7px;
	margin-top: 10px;
}

#survey-header #survey_title {
	color:darkred;
	font-weight:bold;
}

.summarise-answers {
	margin-top:0px !important;
	margin-bottom:0px !important;
}

#summary{
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:25px;
}

#survey-header #survey-info {
	margin-top:3px;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}

#survey-header #title {
	font-size:22px;
}

#survey-header #shortDesc {
	margin-top:15px;
	color:darkgreen;
	font-weight:bold;
}

#enddate {
	color:darkblue;
}

#summary-title {
	margin-top:15px;
	margin-bottom:15px;
	font-size: 17px;
	margin-left:50px;
	font-weight:bold;
}

.question-image {
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
}

#survey-closed {
	margin-left:10px;
	color:darkred;
	font-style:italic;
	font-weight:bold;
}

#survey-list-toolbar {
	margin-left:40px;
}