.survey-doc {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: none;
    padding: 0;
}
.externalPage  .document{
	min-width:100%;
}
.document .survey-title {
    margin-bottom: 15px;
}

.answers {
    margin: 10px 0;
}

.answers li {
	margin: 5px 0px;
	padding-left:3px;
    list-style: none;
}

.wide .survey-doc .table-cell{
    display:table-cell;
    margin-top: 0;
    vertical-align: top;
}
.wide .wide-row {
    display: table;
    width: 100%;
}
.narrow .survey-doc .answers{
    padding-left: 15px;
}
.narrow .survey-doc .table-cell{
	width: 100%;
	float: left;
    padding-left: 15px;
}


.survey-doc .image{
	padding:10px;
    display:table-cell;
    img {
        max-width: 260px;
        height: auto;
    }
}

.narrow .survey-doc .image {
    padding: 10px 0;
}

.narrow #blogm-workshop .button{
	position: relative;
	left: -4px;
	font-size: 0.9em;
}

.question-head {
	width: 100%;
	margin: 15px 0;
}

.summary-answers {
	padding-left: 20px;
	margin-top: 5px !important;
	margin-bottom: 20px !important;
}

.summary-answers li {
	margin-top: 6px;
}

.summary-answer {
	color: darkblue;
	font-size: 0.9em;
}

.summary-percent {
	margin-left:3px;
	font-weight:bold;
}

.shortDesc {
	color:#666;
	font-size:0.9em;
}

.summary-question {
	font-weight:bold;
}

.question-image {
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

#survey-closed {
	margin-left:10px;
	color:darkred;
	font-style:italic;
	font-weight:bold;
}

.question-head h2{
	background-color:#f5f5f5;
    border: 1px solid #eee;
	padding:0.4em;
    margin-bottom: 5px;
	font-size:1em;
}

.question-text{
	background:#eee !important;
}

.question-head h2 img{
	vertical-align:-1px;
}

.survey-doc .tools {
	float:right;
}

.question-label {
	font-weight:bold;
}

.question-label img{
	margin-right:5px;
}

.survey-doc .survey-summary{
    padding-left: 20px;
	list-style-type:none !important;
}

.opTools{
	margin-left:5px;
	position:relative;
	top:2px;
	display:inline-block;
}

.summary-points{
	margin-left:20px;
	font-weight:normal;
}

.survey-doc input[type=radio] + label, .survey-doc input[type=checkbox] + label {
    display: inline;
}

.after-vote {
    background-color: #cfc;
}