.company-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    margin: 40px 0;
}

.company-box {
    display: flex;
    padding: 20px 20px 10px;
    transition: all ease-in-out 0.3s;
    background: #f5f5f5;
    box-shadow: 0px 5px 10px 0px rgba(110, 123, 131, 0.3);
    border-radius: 18px;
    border-bottom: 5px solid #ccc;
    color: #333;
}
.narrow .company-box {
    padding: 15px 15px 10px;
}
.company-holder h5 {
    margin: 0 0 5px;
    font-size: 1.25rem;
}
.company-box p {
    margin: 0 ;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #555;
}
.logo {
    width: 23%;
    max-width: 100px;
    min-width: 100px;
}
.narrow .logo {
    width: 25%;
}
.narrow .company-holder .website {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em !important;
}
.company-holder .website {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo img {
    max-width: 100px !important;
}

.info {
    display: flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    padding-left: 15px;
}

.narrow .info {
    width: 70%;
}

.company-box:hover {
    transform: translateY(-10px);
    border-color: #ccc;
}