#uploadform {
  width: 100%; }

#uploadprogressbar {
  display: none;
  width: 100%;
  height: 12px; }

#filename {
  display: none; }

.fileName {
  font-size: 0.9em;
  margin: 10px 0; }

#inputDiv {
  position: relative;
  height: 30px; }

#uploadBtn {
  background-image: url('../img/upload2.png');
  background-size: 24px;
  background-color: #337ab7;
  color: white;
  font-size: 17px;
  background-position: 5px center;
  margin: 10px auto 0;
  display: block;
  width: 120px;
  height: 40px;
  z-index: 5000;
  position: relative; }
  #uploadBtn.hidden {
    display: none; }

#uploadBtn.only-one-file {
  left: 0px; }

.filemanUpload ul {
  margin: 10px 0; }

.filemanUpload select {
  max-width: 200px !important;
  margin-right: 0 !important; }

.filemanUpload input.combo {
  width: 180px !important; }

.horizontal {
  margin-bottom: 0 !important; }
  .horizontal .formFields {
    float: left;
    margin-right: 10px;
    margin-bottom: 0; }
    .horizontal .formFields .hFormField {
      margin-bottom: 5px !important; }
  .horizontal .toolbar {
    margin-bottom: 0 !important; }

/*
 * бутона за IE
 */
.ulfile {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer; }

/*
 * бутона файл
 */
.uploadBox {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  position: relative;
  padding: 70px 20px 20px;
  background: #c7dcef url('../img/download2.png') center 20px no-repeat;
  background-size: 40px;
  margin-top: 10px; }

.uploadMessage {
  display: block;
  text-align: center; }

#add-file-info {
  max-height: 206px;
  overflow: auto; }

.uploaded-filenames {
  display: block;
  max-height: 340px;
  overflow: auto; }

.uploaded-file > a {
  height: 16px;
  position: relative;
  top: -2px; }

.dialogTitle {
  font-weight: bold;
  margin-top: -2px;
  margin-bottom: 5px; }

.upload-close {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 12px; }

.upload-еrror {
  margin-top: 5px;
  border: solid 1px red;
  background-color: #ffffcc; }

.upload-еrror ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  color: red;
  font-size: 0.9em; }

.uploaded-title {
  margin-top: 5px;
  padding: 6px;
  border: solid 1px #cccccc;
  background-color: #ffffee;
  margin-bottom: 5px;
  font-size: 0.9em;
  padding-left: 23px !important;
  background-repeat: no-repeat;
  background-position: 3px center; }

.filemanUpload .tab-title {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0px center;
  font-size: 1.1em; }

.uploaded-file {
  background-color: #eeeeee;
  border: solid 1px #cccccc;
  font-size: 0.8em;
  padding: 2px;
  margin-top: 5px;
  display: table;
  border-radius: 3px;
  white-space: nowrap; }

.uploaded-file img {
  width: 14px;
  height: 14px; }

.hidden-input {
  z-index: -50 !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important; }

.error-filesize {
  color: red; }

.fileman-log-action-date {
  font-size: 0.8em; }

.dialog-window .fileman_Log {
  margin-top: 15px; }
  .dialog-window .fileman_Log .listTable {
    width: 99%;
    min-width: 0; }
    .dialog-window .fileman_Log .listTable th {
      display: none;
      border: none;
      vertical-align: top !important; }
    .dialog-window .fileman_Log .listTable tr > td:first-child {
      width: 46px;
      height: 46px;
      padding: 3px; }
      .dialog-window .fileman_Log .listTable tr > td:first-child .file-log-link {
        width: 48px;
        height: 48px;
        position: relative;
        display: block; }
        .dialog-window .fileman_Log .listTable tr > td:first-child .file-log-link img {
          position: absolute;
          max-width: 48px;
          max-height: 48px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }

.narrow.dialog-window .listRows {
  overflow-y: auto; }

.narrow.dialog-window .pages {
  margin: 10px 2px; }

.narrow.dialog-window .filemanUpload ul {
  margin: 10px 0 5px; }

.narrow .fileman_Log.switching-display {
  margin-top: 5px; }

.progressBarBlock {
  background: url('../img/progress.gif');
  height: 16px;
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  padding: 1px 0;
  border-radius: 3px;
  box-shadow: 0 0 1px #999999; }
  .progressBarBlock .percent {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    color: white; }

.narrow .progressBarBlock {
  padding-top: 0;
  font-size: 0.85em; }

.cancelButton {
  width: 1%;
  font-size: 0.9em;
  color: black;
  cursor: pointer; }

#uploadsTitle {
  margin-top: 10px; }

.fileNameRow {
  margin-top: 3px; }

.uploads-holder {
  max-height: 200px;
  overflow: auto; }

.fileman_Upload {
  background-image: url('../../img/16/upload.png'); }

.fileman_Upload2 {
    background-image: url('../../img/16/upload.png'); }

.fileman_Get {
  background-image: url('../../img/16/world_link.png'); }

.empty {
  background-image: url('../../img/16/new.png'); }

.tab-title.fileman_Log {
  background-image: url('../../img/16/databases.png'); }

.uploaded-title {
  background-image: url('../../img/16/tick-circle-frame.png'); }

.btn-ulfile {
  background-image: url('../img/download.png'); }

.disabledRow {
  background-color: #e0e0e0 !important;
  color: #666666; }
  .disabledRow .file-log-link {
    color: #666666 !important; }
    .disabledRow .file-log-link:hover {
      cursor: auto; }
  .disabledRow span {
    color: #666666 !important; }
  .disabledRow .anchor-arrow {
    cursor: pointer; }

