
.accordian {
    margin-left: 0px;
    width: 320px;
  
}

.accordian ul{
	padding-left:0;
}

.accordian li {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
}

.dimension .button{
	margin-left:0;
	min-width:320px;
	margin-bottom: 0.3em;
}

.narrow .dimension .button{
	font-size:14px;
}

.btns-title {
	margin:5px 0;
    font-weight: bold;
    height: 27px;
    font-size:15px;
    line-height:29px;
    padding-top: 3px;
	background-color:#f8f8f8;
	color:#333;
}

.btns-icon{
  margin-right: 3px;
}

.accordian li .minus {
	display: none;
} 

.accordian li.active .plus {
	display: none;
} 
.accordian li.active .minus {
	display: inline;
} 
