#calWeek {
	
	
}


table.calTable{
	max-width:87em;
	font: small Arial,sans-serif;
	font-size: 0.7em;
	margin:0px;
    border: 1px solid #999;
    border-collapse: collapse;
	cellspacing: 2;
    colspan: 2;

}

td.calWeek {
	
	color:black;
	width:12em;
	min-width:8em;
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	height:2em;

}

td.calWeekTime {
	
	color:black;
	max-width:3em;
	min-width:3em;
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	color:#ffffff;
	background-color:#47476B;
	text-align:center;
	height:2em;
}

td.calDayTime {
	
	color:black;
	max-width:6em;
	min-width:6em;
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	color:#ffffff;
	background-color:#47476B;
	text-align:center;
	height:2em;
}

td.calWeekH {
	
	color:black;
	max-width:3em;
	min-width:3em;
	border: 1px solid #999;
    border-collapse: collapse;
	color:#ffffff;
	background-color:#47476B;
	text-align:center;
	colspan: 2;
	//color:#000000;
	height:2em;
}

td.calDayH {
	
	color:black;
	max-width:6em;
	min-width:6em;
	border: 1px solid #999;
    border-collapse: collapse;
	color:#ffffff;
	background-color:#47476B;
	text-align:center;
	colspan: 2;
	height:2em;
}

td.calDay {
	
	color:black;
	width:25em;
	min-width:23em;
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	height:2em;

}

a.calWeek{
	border: 0px #999;
	white-space: nowrap;
	colspan: 2;
	position:absolute;
	
}
                               
img.calWeek{
	float: right;
	position: relative;
	display:none;
}

img.calWeekAdd{
	float: right;
	position: relative;
	display:none;

}

img.calImg{
	float: left;
	position: relative;

}

td.mc-today {
	border:solid 2px #cc0;
	colspan: 2;
	height:2em;

}

p.calWeek{
	
	border: 1px solid rgb(159, 198, 231);
	background-image: url("nqkvo_pole4c.png");
	margin-top:0.2em;
	margin-bottom:0.5em;
	margin-left:0.2em;
	background-position: center; 
	line-height: 1em;
	color: #1d1d1d;
	white-space: nowrap;
	max-width:10em;
	overflow:hidden;
	
}

p.calDay{
	
	border: 1px solid rgb(159, 198, 231);
	background-image: url("nqkvo_pole4c.png");
	margin-top:0.2em;
	margin-bottom:0.5em;
	margin-left:0.2em;
	background-position: center; 
	line-height: 1em;
	color: #1d1d1d;
	white-space: nowrap;
	max-width:23em;
	overflow:hidden;
	
}

p.calTitle{
	font: small Arial,sans-serif;
	font-size: 1em;
	text-align:left;
	font-weight:bold;
}

a.closedColor{
	position:absolute;
	background-color:#eee; 
	text-decoration:line-through;
	
}

a.draftColor{
	position:absolute;
	background-color:#88cc99;
	
}


/*.calTable>tbody>tr>td div.document {
	border: none; 
	background: transparent;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	padding: 5px;
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
    width:850px !important;
}

.calTable .document h2 {
	margin-top:3px;
}

.calTable .toolbar {
	padding:3px;
}

.document .header {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding:3px;
	font-size:1em;
	margin-top:5px;
	margin-bottom:5px;
}

.document .header span {
    background-position: 3px center;
    padding-left:24px;  
    background-repeat:no-repeat;
	font-weight:bold;
}*/

td.mc-calendar {
	text-align:left;
 	border:none;
	background-color: #e8efe8;
	border:solid 2px #e8efe8;
	padding:1px;
	font-weight:bold;
	width:14% !important;
	cursor: pointer;
}

table.mc-calendar {
	width:80%;
	font-size:0.8em;
}

table.mc-calendar td.mc-day {
	text-align:left;
	vertical-align:top;
	background-color: #ffffff;
	border:solid 1px #dddddd;
	font-weight:bold;
	cursor: pointer;
	font-family:Arial,sans-serif;
	height:8em;
	min-width:8em;

}

table.mc-calendar td.mc-week-nb {
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	color:#ffffff;
	background-color:#47476B;
 	padding:0px;
	text-align:center;
}

table.mc-calendar td.mc-wd-name {
	text-align:center;
 	padding-left:1px;
	border: 1px solid #999;
    border-collapse: collapse;
	colspan: 2;
	color:#ffffff;
	background-color:#47476B;
}


table.mc-calendar td.mc-sunday{
	color:green;
	text-align:left;
	vertical-align:top;
	background-color: #ffffff;
	border:solid 1px #dddddd;
	font-weight:bold;
	cursor: pointer;
	font-family:Arial,sans-serif;
	height: 80px;
}

table.mc-calendar td.mc-holiday{
	color:red !important;
}

table.mc-calendar td.mc-saturday{
	color:#006030;
	text-align:left;
	vertical-align:top;
	background-color: #ffffff;
	border:solid 1px #dddddd;
	font-weight:bold;
	cursor: pointer;
	font-family:Arial,sans-serif;
	height: 80px;
}


table.mc-calendar td.mc-day:hover{
	background-color: LightGoldenRodYellow ;
}

table.mc-calendar td.mc-today{
	//border:solid 2px red;
	border:solid 2px #cc0;
	colspan: 2;
	height:2em;
}

table.mc-header a {
	color:#999;
}
