.pos-bar-holder{
	position:fixed;
	top:25px;
	left:600px;
}

.pos-product-category {
	padding: 0.34em 0.5em;
	margin-right:8px;
	max-width:90px;
	color:black;
	font-size:0.8em;
	background-color:rgb(221,221,221);
	text-align:center;
	display:block;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:10px;
}

.pos-product-category:hover, .pos-product-category.active {
	background-color:rgb(240,240,240);
	border: 1px solid rgba(0,0,0,0.7);
	cursor: pointer;
}

#pos-producy-categories {
	padding:0 5px;
}

#pos-products {
	margin-top:10px;
	padding:0 7px;
}

.pos-product{
	position:relative;
	background-color:#F1F1F1;
	width: 90px;
	height: 90px;
	cursor: pointer;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
	box-shadow:0px 1px 3px rgba(0,0,0,0.8);
}

.pos-product:hover, .pos-product:hover img{
	box-shadow:0px 0px 6px rgba(0,0,0,0.8);
}

.pos-product-title {
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:0.8em;
	max-height:30px;
	display:block;
	overflow:hidden;
	text-align:center;
	color:white;
	width:95%;
	text-shadow:1px 0px 2px #000000;
	z-index:2;
	font-weight:bold;
	padding:2px;
	background:rgba(0,0,0,0.6);
}

.pos-product-title:hover {
	max-height:88px;
}

.pos-product-price {
	position:absolute;
	left:2px;
	top:2px;
	width:60px;
	text-align:center;
	height:15px;
	font-size:0.75em;
	display:block;
	color:white;
	text-shadow:1px 0px 1px #000000;
	z-index:2;
	font-weight:bold;
	padding:1px 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:rgba(242, 136, 145, 0.9);
}

.pos-product-base-currency{
	font-size:0.75em;
	color: black;
	text-shadow:0px 0px 1px #FFFFFF;
	font-weight:bold;
}

.pos-span-name {
	display:inline-block;
	vertical-align:middle;
	line-height: normal;  
}
