.centerContent {
	width: 1400px;
	margin: 0 auto;
}

.wide .listTopContainer {
	min-width: auto;
}

.tabs-holder {
	float: left;
	width: 1000px;
	.listBlock {
		display: block;
	}
}

.formHolder {
	float: right;
	width: 360px
}

.tabs-holder li {
	display: inline-block;
	padding: 5px;
	border: 1px solid #999;
	background: #ccc;
	&.active {
		background: #fff;
	}
}

.tabContent {
	display: none;
	&.active {
		display: block;
	}
}

.terminalHeader {
	padding: 15px;
	box-sizing: border-box;
	height: 60px;
	background: #fff;
	-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);

	.fleft {
		.logo {
			float: left;
			img{
				height: 30px;
				width: auto;
			}
		}
		.specialLink, .assets {
			line-height: 30px;
			display: inline-block;
			margin-left: 10px;
			float: left;
		}

	}
	
	.userInfo {
		width: 300px;
		line-height: 30px;
		font-size: 1.1em;
		text-align: right;
	}
	#dateHolder {
		display: inline-block;
		margin-right: 20px;
	}
}
.vertical {
	margin-top:  0 !important;
}
.formSection {
	padding-top: 0 !important;
}
.formHolder {
	margin-top: 25px;
	border-radius:5px 5px 0 0 ;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	.formFields {
		padding: 0 !important;
	}
	.formTitle {
		background: #eee;
		border: none;
		font-size: 1.15em;
		padding: 15px;
		border-bottom: 1px solid #ccc;
	}
	table {
		margin: 0 !important;
	}
	.formContent {
		margin-top: 0;
		padding: 20px !important;
		font-size: 1.1em;
		td {
			padding: 7px;
		}
		.select2-container .select2-selection--single, input[type=text]  {
			height: 34px;
			border-color: #ccc;
		}
		.select2-container .select2-selection--multiple {
			border-color: #ccc;
		}
		select {
			height: 32px !important;
			width: 100%;
		}
		input[type=search] {
			height: 30px;
		}
		.select2-selection__choice {
			font-size: 1.2em;
			position: relative;
			top: 3px;
		}
		.select2-container .select2-selection--single .select2-selection__rendered{
			line-height: 32px !important;
			max-height: 32px !important;
		}
		.planning-terminal-form-btn {
			margin-top: 10px;
			padding: 8px 20px !important;
			font-size: 1.1em !important;
			color: #333;
			background-color: #ccc !important;
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#ccc));
			background-image: -webkit-linear-gradient(top,#eee,#ccc);
			background-image: -moz-linear-gradient(top,#eee,#ccc);
			background-image: -ms-linear-gradient(top,#eee,#ccc);
			background-image: -o-linear-gradient(top,#eee,#ccc);
			background-image: linear-gradient(top,#eee,#ccc);
			border: 1px solid #ccc !important;
			border-bottom: 1px solid #bbb !important;
			border-radius: 3px;
			font: bold 10px Arial,sans-serif;
			padding: 8px 0;
			text-align: center;
			text-shadow: 0 1px 0 #eee;
			box-shadow: 1px 1px 2px rgba(0,0,0,.5);
			&:hover {
				background-color: #ddd;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ddd),color-stop(100%,#bbb));
				background-image: -webkit-linear-gradient(top,#ddd,#bbb);
				background-image: -moz-linear-gradient(top,#ddd,#bbb);
				background-image: -ms-linear-gradient(top,#ddd,#bbb);
				background-image: -o-linear-gradient(top,#ddd,#bbb);
				background-image: linear-gradient(top,#ddd,#bbb);
				border: 1px solid #bbb;
				border-bottom: 1px solid #999;
				cursor: pointer;
			}

		}
	}

}