.general-product .list-info {
  list-style: none;
  padding: 0 0;
  margin: 0 0; }

.general-product .list-title {
  text-transform: uppercase;
  color: black;
  margin-bottom: 5px;
  font-weight: bold; }

.general-product .list-description {
  margin-bottom: 20px; }

.general-product .list-description-short .richtext {
  font-size: 0.9em;
  font-family: Arial, Verdana;
  padding: 6px 0px;
  text-align: justify;
  color: black; }

.general-product .list-measures ul {
  list-style: none;
  padding-left: 20px; }

.spec-short {
  font-size: 0.9em;
  color: #222222;
  margin: 0; }

.general-product .list-info li b {
  color: #222222; }

.general-product .product-image {
  float: left;
  margin-top: 23px;
  margin-left: 23px; }

.general-product .list-description-short .product-image {
  float: right;
  margin: 6px 0 0 10px; }

.narrow .general-product .product-image {
  margin: 0 0 10px 0; }

.narrow .general-product .list-title {
  font-size: 1.2em; }

.narrow .general-product .list-description-short .product-image {
  float: none;
  margin-left: 0; }

.narrow .general-product .list-description-short .richtext {
  min-width: 160px; }

.wideDesc {
  max-width: 380px !important; }

i.misc-values {
  color: #040404; }

table.styled-table tr.components-total:hover td {
  background-color: transparent !important; }

table.styled-table tr.components-total td.has-hover:hover {
  background-color: #ffffcc !important; }

.custom-styled-table {
  width: 300px; }

#components-table {
  margin-bottom: 0; }

.general-products-detail-header {
  padding-bottom: 5px;
  font-weight: bold; }

#components-table th.component-header {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 5px;
  text-align: center; }

.cCode {
  display: inline-block; }

.specification-img {
  float: left;
  margin-left: 50px;
  margin-bottom: 20px; }

.narrow .specification-img {
  margin-left: 0;
  clear: both; }

.general-product .listToolbar {
  margin-top: 0;
  margin-bottom: 10px; }

.general-product .listToolbar .toolbar {
  padding-left: 0; }

.wide .base-info {
  max-width: 500px; }

.param-tools {
  position: relative;
  float: right;
  margin-left: 10px; }

.title-group {
  margin-bottom: 5px; }

.spec-add-btn {
  display: inline-block;
  width: 16px;
  height: 16px; }

@media print {
  .general-product .product-image {
    float: left;
    margin: 0 0 10px 0; }

  .general-product .list-description-short {
    max-width: 100%; } }

