.document .group-by-field-row {
  padding: 5px !important;
  color: white !important;
  background-color: #777777 !important;
  border: 1px solid #777777 !important;
  font-weight: bold; }

.document .details .shipment-th {
  background-color: #eeeeee;
  padding: 4px;
  text-align: center; }

.document .details td.padding-td {
  padding: 6px; }

.document table.listTable tbody tr td.status-cell {
  padding-left: 10px !important; }

.printing .document .line-header {
  color: #333333;
  background: none;
  padding: 5px 0; }

.lu {
  font-size: 0.9em; }

.lu-light {
  color: #777777;
  text-decoration: line-through; }

