.document .line-header{
	padding: 5px !important;
	color: #fff;
	background-color: #777;
	border: 1px solid #777;
	font-weight:bold;
}

.document .details .shipment-th{
	background-color:#eee;
	padding:4px;
	text-align:center;
}

.document .details td.padding-td{
	padding:6px;
}

.document .line-detail .listTable td, .document .line-detail  .listTable th{
	border:1px solid rgb(187,187,187) !important;
}

.document .line-detail .listTable td {
	padding:6px;
}

.printing .document .line-header {
	color: #333;
    background: none;
    padding: 5px 0;
}