.document .group-by-field-row {
  padding: 10px !important;
  color: white !important;
  background-color: #777777 !important;
  border: 1px solid #777777 !important;
  font-weight: bold; }

.document .group-by-field-row td {
  line-height: 22px !important; }

.lineSummary .sum-th {
  font-weight: normal;
  font-size: 14px;
  color: #555555;
  background-color: #e0e0e0;
  text-align: center; }

.document .details .shipment-th {
  background-color: #eeeeee;
  padding: 4px;
  text-align: center; }

.document .details td.padding-td {
  padding: 6px; }

.document table.listTable tbody tr td.status-cell {
  padding-left: 10px !important; }

.document table.listTable tbody tr.detailedView td.documentCol,
.document table.listTable tbody tr.detailedView td.logisticCol {
  font-weight: bold !important; }

.document table.listTable tbody tr td.row-notes {
  font-size: 0.8em; }

.line-detail-address {
  font-size: 0.8em; }

.printing .document .line-header {
  color: #333333;
  background: none;
  padding: 5px 0; }

table .lineSummary th {
  font-size: 1em;
  padding: 7px !important; }

table .lineSummary td {
  font-size: 1em;
  padding: 7px !important; }

table .paymentInStoreDocument {
  width: 100%; }

.line-detail .document-handler {
  padding: 5px; }

table .paymentInStoreDocument td {
  border: 0px !important; }

.payment-line-amount .state-rejected {
  text-decoration: line-through; }

.payment-line-amount {
  padding: 1px;
  text-align: right !important; }

td .documentHtml {
  font-size: 0.9em; }
  td .documentHtml th {
    background-color: #eeeeee !important;
    font-weight: normal !important; }
  td .documentHtml tr {
    background-color: #f4f5cf; }

tr .groupremoved {
  display: none; }

.printing .group-by-field-row {
  color: black !important; }

span.lineFeature {
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  font-size: 0.7em;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 4px;
  background-color: #eeeeee;
  text-align: center;
  display: inline-block; }

