#forum-index h3{
	margin:0;
}

.category-ul {
	margin-top:10px;
	list-style:none;
	padding-left:0px;
}

#forum-themes{
	border-collapse:collapse;
}

#forum-themes tr:first-child{
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#forum-index #maincontent {
	background:rgb(248, 248, 248);
}

#forum-index .thread-list .toolbar{
	margin:20px 0;
}

.category-ul li{
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

#forum-index{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
}

.cms-row .ninecol{
	width:100%;
}

.forum-counts {
	font-size:12px;
	color:rgb(51, 51, 102);
}

#forum-index #navigation {
	color:black;
	font-size:16px;
	font-weight:bold;
}

#navigation a:hover {
	text-decoration:underline;
}

.theme-row-title a:hover {
	text-decoration:underline;
}

.last-theme,.last-seen  {
	font-size:12px;
	font-weight:bold;
	color:rgb(51, 51, 102);
}
.last-theme a,.last-seen a{
	text-decoration:none;
}

.last-theme a:hover,.last-seen a:hover{
	text-decaration:underline;
}

.theme-title {
	font-weight:bold;
	padding-right:15px;
	padding-left:5px;
}
.wide .theme-title{
	width:67%;
}
.narrow .theme-title{
	width:60%;
}
.last-theme a:link {
	text-decoration: underline;
}

.last-comment, .theme-createdOn {
	font-size:12px;
}

.last-comment font, .theme-createdOn font ,.authored font{
	color:rgb(0, 35, 70) !important;	
}

.theme-row {
	height:75px;
	border: 1px solid #ddd;
	border-top:none;
}

.theme-row td {
	border-bottom:1px solid #ddd;
}

.theme-row-title {
	text-indent:10px;
	width:67% !important
}

.authored {
	font-size:12px;
	margin-left:10px;
}

#forum-index .toolbar .button{
	margin-top:0;
}

#forum-index th{
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
	padding:5px;
	font-size:14px;
	color:#000;
}

.centered {
	text-align:center;
}

#forum-board {
	padding-top:10px;
}

#shortDesc {
	font-size: 15px;
	display: block;
	min-height: 30px;
	font-style: italic;
	text-indent: 2px;
}

#forum-index #searchform{
	margin-bottom:20px;
}

#board-name {
	font-size:20px;
	font-weight:bold;
}

#forum-index .thread-header{
	height:32px;
	line-height:32px;
	border:1px solid #ccc;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
	text-indent:10px;
}

.thread-header a{
	color:#000;
}

.post-date {
	color:rgb(0, 68, 132);
	font-size:14px;
}

.post-author {
	margin-left:15px;
	color:#FFFFFF;
}

.post-body {
	vertical-align:top;
	border:1px solid #ddd;
	border-top:none;
}

.text-body {
	vertical-align:top;
	padding:15px 0 15px 0;
}

#thread-list {
	list-style:none;
	padding-left:0px;
	margin-top:0px;
}

#thread-list li.toolbar {
	margin:10px 0 20px;
}

.forum-table a:hover {
	text-decoration:underline;
}

.forum-table {
	padding-left:6px;
}

.forum-desc {
	font-size:12px;
}

.user-info {
	vertical-align:top;
	border-right:1px solid #ddd;
	background-color:#f1f1f1;
}

.avatar {
	width:110px;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
}

.avatar img{
	padding: 3px;
	background: #fff;
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.author {
	margin:10px 0 5px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}

.published-on {
	margin-top:2px;
	margin-bottom:8px;
	text-align:center;
}

.published-on font {
	font-size:12px;
	color:rgb(0, 35, 70) !important;
}

#forum-index .richtext {
	min-height:70px;
	padding:0 12px;
	margin-top:0;
}

.last-by {
	width:50px;
}

.last-by div{
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	vertical-align:middle;
	width:50px;height:50px;
}

.last-info {
	height:60px;
	padding-left:6px;
}

.last-user {
	font-size:12px;
}

.right {
	text-align:right;
	padding-right:10px;
}

.themeLink {
	text-decoration: underline;
}

.sticky {
	display: inline-block;
	height: 23px;
	line-height: 24px;
	padding: 0px 5px;
	text-indent:0px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(0, 68, 136);
	border-radius: 6px 6px 6px 6px;
	background:wgb(217,217,217);
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px black;
	box-shadow: 0px 0px 2px black;
}

.announcement {
	display: inline-block;
	height: 23px;
	line-height: 24px;
	padding: 0px 5px;
	text-indent:0px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(0, 68, 136);
	border-radius: 6px 6px 6px 6px;
	background:rgb(221, 221, 255);
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px black;
	box-shadow: 0px 0px 2px black;
}

#bottom-pager {
	float:right;
}

#theme-tools {
	width:100%;
}

.form-labels {
	display:inline-block;
	width:130px; 
}

.form-field {
	margin-top:10px;
}

.no-comment {
	font-style:italic;
	font-size:12px;
	display:block;
	vertical-align:middle;
}

#forum-index h2{
	margin-top:10px;
}

.no-boards {
	height:35px;
	padding-top:15px;
	font-style:italic;
	font-size:14px;
	text-indent:10px;
}

.locked {
	margin-left:10px;
	font-style:italic;
	font-size:12px;
	color:darkred;
	font-weight:bold;
}

.tools-box .button {
	padding-left:10px;
	padding-right:10px;
}

.wide .forum-icon {
	float:left;
	width:50px;
	height:50px;
	margin-top:5px;
}
.forum-icon.case{
	margin-right:10px;
	margin-top:0;
} 
.narrow .forum-icon {
	float:left;
	width:40px;
	height:40px;
}
.forum-row {
	float:left;
}

.forum-row div{
	margin-left:20px;
	display:inline;
}

#avatar-container{
	margin-left:5px;
}

#searchButton{
	cursor:pointer;
}

.goTopBtn{
	display:inline-block;
	width:32px;
	height:32px;
}

.header-table{
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.header-table-shadow{
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	margin-top:20px;
	border:1px solid #ddd;
	border-bottom:none;
}

.header-table td{
	line-height:30px;
	color:#000;
	font-weight:bold;
	font-size:14px;
	text-indent:22px;
}

.narrow .forum-row{
	width:65%;	
}

.forum-row .pager{
	font-size:12px;
	position:relative;
	top:-2px;
}